<a href="https://colab.research.google.com/github/LeonardoHyppolito/Estudos/blob/main/Analise_com_pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Continuando o capítulo de análise de dados com pandas**

In [1]:
# Importando Biblioteca 
import pandas as pd

In [2]:
df = pd.read_csv("horas_estudadas.csv")

In [3]:
# primeira visualização
df.head()

     Nome  Segunda  Terça  Quarta  Quinta  Sexta  Sabado  Domingo
0  Victor        2      3       1       3      0       0        3
1  Amanda        0      3       0       4      3       1        2
2    Luis        1      2       4       5      6       0        0
3   Júlia        1      1       2       0      0       1        2

**Aplicando o conceito de funções dentro de um data frame**

In [4]:
# Utilizando o min(), documentação = DataFrame.min(axis=NoDefault.no_default, skipna=True, level=None, numeric_only=None, **kwargs)
# O parâmetro axis, por padrão escolhe o eixo zero, e podemos também utilizar o 1, vamos ver: 
df.min(axis= 0) # Isso nos retorna o valor mínimo de cada coluna. OBS: na coluna com valor não numérico ; ordem alfabética. 
# Note, que esse comando min(), nada mais é do que uma função que ja está pronta e disponível.

Nome       Amanda
Segunda         0
Terça           1
Quarta          0
Quinta          0
Sexta           0
Sabado          0
Domingo         0
dtype: object

In [5]:
# Vamos comparar com axis=1
df.min(axis=1) # Nesse caso, o min(), observa as linhas.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

0    0
1    0
2    0
3    0
dtype: int64

In [6]:
# Funções simples: 
def soma(a,b):
  return a + b

In [7]:
soma(2,3)

5

In [8]:
# Função em cima de um df 
def sub_max_min(df):
  return df.max() - df.min() # Agora que a função esta escrita, precisamos aplicar ela em cima de um data frame.

In [9]:
# Antes de aplicar a nossa função, vamo excluir as informações referentes a nomes, porque não faz sentido. 
df2 = df.drop("Nome", axis=1) # Não confunda esse axis =1, se refere a "linha" de colunas.

In [10]:
df2.head()

   Segunda  Terça  Quarta  Quinta  Sexta  Sabado  Domingo
0        2      3       1       3      0       0        3
1        0      3       0       4      3       1        2
2        1      2       4       5      6       0        0
3        1      1       2       0      0       1        2

In [11]:
# Para aplicar utilizamos o método apply(), ele aplica uma função dentro de um eixo do meu df. 
#documentação = DataFrame.apply(func, axis=0, raw=False, result_type=None, args=(), **kwargs)
df2.apply(sub_max_min, axis = 0)

Segunda    2
Terça      2
Quarta     4
Quinta     5
Sexta      6
Sabado     1
Domingo    3
dtype: int64

In [12]:
# Olha que interessante, como passamos o axis = 0, o computador vai aplicando a nossa função, sub_max_min, em todas as colunas, isto é: 
# Verificando qual o maior valor da coluna, subtraindo pelo menor e nos retornando o resultado.

In [13]:
# E com axis = 1 
df2.apply(sub_max_min, axis = 1)

0    3
1    4
2    6
3    2
dtype: int64

In [14]:
# Em suma, o método apply(), aplica uma função pré definida ou anonima, como veremos abaixo, com base no EIXO.

In [15]:
# Um conceito bastante importante, é o de funções anonimas, que basicamente agiliza o processo de aplicar funções, tornando possível, criar uma 
#Função dentro do parâmetro do apply, ao invés de construir uma função antes: 
df2.apply(lambda x: x.max() - x.min(), axis = 0) # Note que é a mesma função criada antes (sub_max_min)

Segunda    2
Terça      2
Quarta     4
Quinta     5
Sexta      6
Sabado     1
Domingo    3
dtype: int64

In [16]:
# Agora se desejamos que uma função seja aplicada em cada um dos VALORES do meu df, temos o método applymap(). 
#Documentação = DataFrame.applymap(func, na_action=None, **kwargs) 
df2.applymap(lambda x: str(x) + "Leo")

  Segunda Terça Quarta Quinta Sexta Sabado Domingo
0    2Leo  3Leo   1Leo   3Leo  0Leo   0Leo    3Leo
1    0Leo  3Leo   0Leo   4Leo  3Leo   1Leo    2Leo
2    1Leo  2Leo   4Leo   5Leo  6Leo   0Leo    0Leo
3    1Leo  1Leo   2Leo   0Leo  0Leo   1Leo    2Leo

In [17]:
# Ou seja, a grande diferença do apply(), para o applymap(), é que com o apply, aplicamos a função no eixo, já o applymap, aplica em todos os valores
# E o nosso "x", é o cara que percorre todos os valores do df, poderia ser qualquer outra letra, mas é bastante comum utilizar o x.

**Indexação hierarquica**

In [18]:
# Permite que façamos varios tipos de índices, e fazer uma hierarquia entre eles.

In [19]:
df_fut = pd.read_csv("campeonato-brasileiro-full.csv")

In [20]:
df_fut.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-

In [21]:
# Bom para apresentar melhor a ideia de hierarquia dos índices, vamos fazer uma amostra do nosso df, para facilitar
# A nossa compreensão.

In [22]:
# Para realizar essa asmotra utilizamos o método df.samle; documentação = DataFrame.sample(n=None, frac=None, 
# replace=False, weights=None, random_state=None, axis=None, ignore_index=False)
df_sample =  df_fut.sample(30)

In [23]:
df_sample.shape

(30, 18)

In [24]:
df_sample.head() # Observe que os index estão bagunçados, pois a amostra é aleatória.

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
344,345,29,2003-08-31,16:00,Domingo,Bahia,Parana,NaN,NaN,NaN,NaN,Bahia,fonte nova,4,2,BA,PR,BA
122,123,11,2003-05-31,16:00,Sabado,Coritiba,Guarani,NaN,NaN,NaN,NaN,Coritiba,couto pereira,3,2,PR,SP,PR
166,167,14,2003-06-22,18:00,Domingo,Fluminense,Guarani,NaN,NaN,NaN,NaN,Fluminense,maracana,5,2,RJ,SP,RJ
2752,2753,5,2009-06-07,16:00,Domingo,Avai,Sao Paulo,NaN,NaN,NaN,NaN,-,ressacada,0,0,SC,SP,-
5036,5037,6,2015-06-06,18:30,Sabado,Atletico-MG,Cruzeiro,4-2-3-1,4-2-3-1,V. Luxemburgo da Silva,V. Luxemburgo da Silva,Cruzeiro,estadio raimundo sampaio,1,3,MG,MG,MG

In [25]:
# É possivel escolher o index, na leitura do arquivo csv, com o parâmetro index_col=, porém existe um jeito mais
# prático de se fazer. df.set_index()
#Documentação = DataFrame.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False)

In [26]:
df_sample.set_index("rodada")

,ID,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
rodada,,,,,,,,,,,,,,,,,
29,345,2003-08-31,16:00,Domingo,Bahia,Parana,NaN,NaN,NaN,NaN,Bahia,fonte nova,4,2,BA,PR,BA
11,123,2003-05-31,16:00,Sabado,Coritiba,Guarani,NaN,NaN,NaN,NaN,Coritiba,couto pereira,3,2,PR,SP,PR
14,167,2003-06-22,18:00,Domingo,Fluminense,Guarani,NaN,NaN,NaN,NaN,Fluminense,maracana,5,2,RJ,SP,RJ
5,2753,2009-06-07,16:00,Domingo,Avai,Sao Paulo,NaN,NaN,NaN,NaN,-,ressacada,0,0,SC,SP,-
6,5037,2015-06-06,18:30,Sabado,Atletico-MG,Cruzeiro,4-2-3-1,4-2-3-1,V. Luxemburgo da Silva,V. Luxemburgo da Silva,Cruzeiro,estadio raimundo sampaio,1,3,MG,MG,MG
26,2580,2008-09-21,16:00,Domingo,Sport,Sao Paulo,NaN,NaN,NaN,NaN,-,ilha do retiro,0,0,PE,SP,-
38,6124,2017-12-03,17:05,Domingo,Vasco,Ponte Preta,4-2-3-1,4-2-3-1,E. Baptista,E. Baptista,Vasco,estadio vasco da gama,2,1,RJ,SP,RJ
8,3544,2011-07-07,19:30,Quinta-feira,Coritiba,Figueirense,NaN,NaN,NaN,NaN,Coritiba,couto pereira,3,0,PR,SC,PR
23,5970,2017-09-10,16:02,Domingo,Santos,Corinthians,4-2-3-1,4-2-3-1,F. Carille,F. Carille,Santos,estadio urbano caldeira,2,0,SP,SP,SP
4,596,2004-05-02,16:00,Domingo,Corinthians,Palmeiras,NaN,NaN,NaN,NaN,Palmeiras,morumbi,0,4,SP,SP,SP
1,5746,2017-05-13,16:01,Sabado,Flamengo,Atletico-MG,4-2-3-1,4-3-2-1,R. Machado Marques,R. Machado Marques,-,maracana,1,1,RJ,MG,-
35,4573,2013-11-17,20:30,Domingo,Goias,Internacional,NaN,NaN,NaN,NaN,Goias,serra dourada,3,1,GO,RS,GO
15,6268,2018-07-25,21:46,Quarta-feira,Corinthians,Cruzeiro,4-2-3-1,4-2-3-1,L. Venker de Menezes,L. Venker de Menezes,Corinthians,neo quimica arena,2,0,SP,MG,SP
12,5106,2015-07-09,21:00,Quinta-feira,Fluminense,Cruzeiro,4-2-3-1,4-2-3-1,V. Luxemburgo da Silva,V. Luxemburgo da Silva,Fluminense,maracana,1,0,RJ,MG,RJ
37,3454,2010-11-28,17:00,Domingo,Internacional,Vitoria,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,BA,-
17,6671,2019-09-01,16:00,Domingo,Flamengo,Palmeiras,4-2-3-1,4-1-4-1,L. Scolari,L. Scolari,Flamengo,maracana,3,0,RJ,SP,RJ
21,4822,2014-09-14,15:59,Domingo,Flamengo,Corinthians,NaN,NaN,L. Venker de Menezes,L. Venker de Menezes,Flamengo,maracana,1,0,RJ,SP,RJ
35,5331,2015-11-18,21:03,Quarta-feira,Athletico-PR,Palmeiras,4-2-3-1,4-2-3-1,M. de Oliveira Santos,M. de Oliveira Santos,-,estadio joaquim americo guimaraes,3,3,PR,SP,-
19,6323,2018-08-19,19:00,Domingo,America-MG,Fluminense,4-2-3-1,3-4-1-2,M. de Oliveira Santos,M. de Oliveira Santos,-,estadio raimundo sampaio,0,0,MG,RJ,-
26,2962,2009-09-27,16:00,Domingo,Goias,Gremio,NaN,NaN,NaN,NaN,Goias,serra dourada,2,1,GO,RS,GO
14,5503,2016-07-10,15:59,Domingo,Sao Paulo,America-MG,4-2-3-1,4-2-3-1,S. de Oliveira Vieira,S. de Oliveira Vieira,Sao Paulo,morumbi,3,0,SP,MG,SP
38,5364,2015-12-06,17:00,Domingo,Atletico-MG,Chapecoense,4-2-3-1,4-2-3-1,A. Ferreira,A. Ferreira,Atletico-MG,mineirao,3,0,MG,SC,MG
20,1761,2006-08-27,16:00,Domingo,Corinthians,Gremio,NaN,NaN,NaN,NaN,Gremio,pacaembu,0,2,SP,RS,RS
22,816,2004-08-08,18:00,Domingo,Athletico-PR,Vasco,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RJ,PR
36,984,2004-10-17,18:00,Domingo,Juventude,Palmeiras,NaN,NaN,NaN,NaN,Palmeiras,alfredo jaconi,0,2,RS,SP,SP
4,6159,2018-05-06,16:00,Domingo,Flamengo,Internacional,4-1-4-1,4-1-4-1,O. Hellmann,O. Hellmann,Flamengo,maracana,2,0,RJ,RS,RJ
12,2006,2007-07-19,20:30,Quinta-feira,Palmeiras,Santos,NaN,NaN,NaN,NaN,-,parque antartica,2,2,SP,SP,-
42,1052,2004-11-21,16:00,Domingo,Cruzeiro,Corinthians,NaN,NaN,NaN,NaN,Corinthians,mineirao,0,1,MG,SP,SP
28,3365,2010-10-07,21:00,Quinta-feira,Goias,Cruzeiro,NaN,NaN,NaN,NaN,Cruzeiro,serra dourada,0,1,GO,MG,MG
3,6527,2019-05-04,19:00,Sabado,Palmeiras,Internacional,4-2-3-1,4-3-3,O. Hellmann,O. Hellmann,Palmeiras,allianz parque,1,0,SP,RS,SP

In [27]:
# O interessante é a possibilidade de escolher mais de um index, utilizando uma lista 
df_sample.set_index(["rodada", "dia"], inplace=True)

In [28]:
df_sample.head()

,,ID,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
rodada,dia,,,,,,,,,,,,,,,,
29,Domingo,345,2003-08-31,16:00,Bahia,Parana,NaN,NaN,NaN,NaN,Bahia,fonte nova,4,2,BA,PR,BA
11,Sabado,123,2003-05-31,16:00,Coritiba,Guarani,NaN,NaN,NaN,NaN,Coritiba,couto pereira,3,2,PR,SP,PR
14,Domingo,167,2003-06-22,18:00,Fluminense,Guarani,NaN,NaN,NaN,NaN,Fluminense,maracana,5,2,RJ,SP,RJ
5,Domingo,2753,2009-06-07,16:00,Avai,Sao Paulo,NaN,NaN,NaN,NaN,-,ressacada,0,0,SC,SP,-
6,Sabado,5037,2015-06-06,18:30,Atletico-MG,Cruzeiro,4-2-3-1,4-2-3-1,V. Luxemburgo da Silva,V. Luxemburgo da Silva,Cruzeiro,estadio raimundo sampaio,1,3,MG,MG,MG

In [29]:
# Outra coisa interessante, é fazer um sort_index(), para ordenar os index, e utilizar o parâmetro ascending= true/false para escolher a ordenação.
df_sample.sort_index() # no caso de mais index, basta passar o ascending em lista[true,false]

                       ID        data   hora       mandante      visitante  \
rodada dia
1      Sabado        5746  2017-05-13  16:01       Flamengo    Atletico-MG
3      Sabado        6527  2019-05-04  19:00      Palmeiras  Internacional
4      Domingo        596  2004-05-02  16:00    Corinthians      Palmeiras
       Domingo       6159  2018-05-06  16:00       Flamengo  Internacional
5      Domingo       2753  2009-06-07  16:00           Avai      Sao Paulo
6      Sabado        5037  2015-06-06  18:30    Atletico-MG       Cruzeiro
8      Quinta-feira  3544  2011-07-07  19:30       Coritiba    Figueirense
11     Sabado         123  2003-05-31  16:00       Coritiba        Guarani
12     Quinta-feira  5106  2015-07-09  21:00     Fluminense       Cruzeiro
       Quinta-feira  2006  2007-07-19  20:30      Palmeiras         Santos
14     Domingo        167  2003-06-22  18:00     Fluminense        Guarani
       Domingo       5503  2016-07-10  15:59      Sao Paulo     America-MG
15     Quarta-feira  6268  2018-07-25  21:46    Corinthians       Cruzeiro
17     Domingo       6671  2019-09-01  16:00       Flamengo      Palmeiras
19     Domingo       6323  2018-08-19  19:00     America-MG     Fluminense
20     Domingo       1761  2006-08-27  16:00    Corinthians         Gremio
21     Domingo       4822  2014-09-14  15:59       Flamengo    Corinthians
22     Domingo        816  2004-08-08  18:00   Athletico-PR          Vasco
23     Domingo       5970  2017-09-10  16:02         Santos    Corinthians
26     Domingo       2580  2008-09-21  16:00          Sport      Sao Paulo
       Domingo       2962  2009-09-27  16:00          Goias         Gremio
28     Quinta-feira  3365  2010-10-07  21:00          Goias       Cruzeiro
29     Domingo        345  2003-08-31  16:00          Bahia         Parana
35     Domingo       4573  2013-11-17  20:30          Goias  Internacional
       Quarta-feira  5331  2015-11-18  21:03   Athletico-PR      Palmeiras
36     Domingo        984  2004-10-17  18:00      Juventude      Palmeiras
37     Domingo       3454  2010-11-28  17:00  Internacional        Vitoria
38     Domingo       6124  2017-12-03  17:05          Vasco    Ponte Preta
       Domingo       5364  2015-12-06  17:00    Atletico-MG    Chapecoense
42     Domingo       1052  2004-11-21  16:00       Cruzeiro    Corinthians

                    formacao_mandante formacao_visitante  \
rodada dia
1      Sabado                 4-2-3-1            4-3-2-1
3      Sabado                 4-2-3-1              4-3-3
4      Domingo                    NaN                NaN
       Domingo                4-1-4-1            4-1-4-1
5      Domingo                    NaN                NaN
6      Sabado                 4-2-3-1            4-2-3-1
8      Quinta-feira               NaN                NaN
11     Sabado                     NaN                NaN
12     Quinta-feira           4-2-3-1            4-2-3-1
       Quinta-feira               NaN                NaN
14     Domingo                    NaN                NaN
       Domingo                4-2-3-1            4-2-3-1
15     Quarta-feira           4-2-3-1            4-2-3-1
17     Domingo                4-2-3-1            4-1-4-1
19     Domingo                4-2-3-1            3-4-1-2
20     Domingo                    NaN                NaN
21     Domingo                    NaN                NaN
22     Domingo                    NaN                NaN
23     Domingo                4-2-3-1            4-2-3-1
26     Domingo                    NaN                NaN
       Domingo                    NaN                NaN
28     Quinta-feira               NaN                NaN
29     Domingo                    NaN                NaN
35     Domingo                    NaN                NaN
       Quarta-feira           4-2-3-1            4-2-3-1
36     Domingo                    NaN                NaN
37     Domingo                    NaN                NaN
38     Domingo                4-2-3-1            4-2-3-1
       Domingo                4-2-3-1            4-2-3-1
42     Domingo                    NaN                NaN

                           tecnico_mandante       tecnico_visitante  \
rodada dia
1      Sabado            R. Machado Marques      R. Machado Marques
3      Sabado                   O. Hellmann             O. Hellmann
4      Domingo                          NaN                     NaN
       Domingo                  O. Hellmann             O. Hellmann
5      Domingo                          NaN                     NaN
6      Sabado        V. Luxemburgo da Silva  V. Luxemburgo da Silva
8      Quinta-feira                     NaN                     NaN
11     Sabado                           NaN                     NaN
12     Quinta-feira  V. Luxemburgo da Silva  V. Luxemburgo da Silva
       Quinta-feira                     NaN                     NaN
14     Domingo                          NaN                     NaN
       Domingo        S. de Oliveira Vieira   S. de Oliveira Vieira
15     Quarta-feira    L. Venker de Menezes    L. Venker de Menezes
17     Domingo                   L. Scolari              L. Scolari
19     Domingo        M. de Oliveira Santos   M. de Oliveira Santos
20     Domingo                          NaN                     NaN
21     Domingo         L. Venker de Menezes    L. Venker de Menezes
22     Domingo                          NaN                     NaN
23     Domingo                   F. Carille              F. Carille
26     Domingo                          NaN                     NaN
       Domingo                          NaN                     NaN
28     Quinta-feira                     NaN                     NaN
29     Domingo                          NaN                     NaN
35     Domingo                          NaN                     NaN
       Quarta-feira   M. de Oliveira Santos   M. de Oliveira Santos
36     Domingo                          NaN                     NaN
37     Domingo                          NaN                     NaN
38     Domingo                  E. Baptista             E. Baptista
       Domingo                  A. Ferreira             A. Ferreira
42     Domingo                          NaN                     NaN

                         vencedor                              arena  \
rodada dia
1      Sabado                   -                           maracana
3      Sabado           Palmeiras                     allianz parque
4      Domingo          Palmeiras                            morumbi
       Domingo           Flamengo                           maracana
5      Domingo                  -                          ressacada
6      Sabado            Cruzeiro           estadio raimundo sampaio
8      Quinta-feira      Coritiba                      couto pereira
11     Sabado            Coritiba                      couto pereira
12     Quinta-feira    Fluminense                           maracana
       Quinta-feira             -                   parque antartica
14     Domingo         Fluminense                           maracana
       Domingo          Sao Paulo                            morumbi
15     Quarta-feira   Corinthians                  neo quimica arena
17     Domingo           Flamengo                           maracana
19     Domingo                  -           estadio raimundo sampaio
20     Domingo             Gremio                           pacaembu
21     Domingo           Flamengo                           maracana
22     Domingo       Athletico-PR                   arena da baixada
23     Domingo             Santos            estadio urbano caldeira
26     Domingo                  -                     ilha do retiro
       Domingo              Goias                      serra dourada
28     Quinta-feira      Cruzeiro                      serra dourada
29     Domingo              Bahia                         fonte nova
35     Domingo              Goias                      serra dourada
       Quarta-feira             -  estadio joaquim americo guimaraes
36     Domingo          Palmeiras                     alfredo jaconi
37     Domingo                  -                          beira rio
38     Domingo              Vasco              estadio vasco da gama
       Domingo        Atletico-MG                           mineirao
42     Domingo        Corinthians                           mineirao

                     mandante_placar  visitante_placar mandante_estado  \
rodada dia
1      Sabado                      1                 1              RJ
3      Sabado                      1                 0              SP
4      Domingo                     0                 4              SP
       Domingo                     2                 0              RJ
5      Domingo                     0                 0              SC
6      Sabado                      1                 3              MG
8      Quinta-feira                3                 0              PR
11     Sabado                      3                 2              PR
12     Quinta-feira                1                 0              RJ
       Quinta-feira                2                 2              SP
14     Domingo                     5                 2              RJ
       Domingo                     3                 0              SP
15     Quarta-feira                2                 0              SP
17     Domingo                     3                 0              RJ
19     Domingo                     0                 0              MG
20     Domingo                     0                 2              SP
21     Domingo                     1                 0              RJ
22     Domingo                     2                 0              PR
23     Domingo                     2                 0              SP
26     Domingo                     0                 0              PE
       Domingo                     2                 1              GO
28     Quinta-feira                0                 1              GO
29     Domingo                     4                 2              BA
35     Domingo                     3                 1              GO
       Quarta-feira                3                 3              PR
36     Domingo                     0                 2              RS
37     Domingo                     1                 1              RS
38     Domingo                     2                 1              RJ
       Domingo                     3                 0              MG
42     Domingo                     0                 1              MG

                    visitante_estado estado_vencedor
rodada dia
1      Sabado                     MG               -
3      Sabado                     RS              SP
4      Domingo                    SP              SP
       Domingo                    RS              RJ
5      Domingo                    SP               -
6      Sabado                     MG              MG
8      Quinta-feira               SC              PR
11     Sabado                     SP              PR
12     Quinta-feira               MG              RJ
       Quinta-feira               SP               -
14     Domingo                    SP              RJ
       Domingo                    MG              SP
15     Quarta-feira               MG              SP
17     Domingo                    SP              RJ
19     Domingo                    RJ               -
20     Domingo                    RS              RS
21     Domingo                    SP              RJ
22     Domingo                    RJ              PR
23     Domingo                    SP              SP
26     Domingo                    SP               -
       Domingo                    RS              GO
28     Quinta-feira               MG              MG
29     Domingo                    PR              BA
35     Domingo                    RS              GO
       Quarta-feira               SP               -
36     Domingo                    SP              SP
37     Domingo                    BA               -
38     Domingo                    SP              RJ
       Domingo                    SC              MG
42     Domingo                    SP              SP

In [30]:
# Após a analise podemos resetar o  nosso index, utilizando o .reset_index()
df_sample.reset_index(inplace=True)

In [31]:
# Agora quero analisar, se o dia que ocorre a partida influencia na quantidade de gols que o mandante placar faz, isso porque em dias de semana 
# Normalmente tem menos torcida, então basicamente estamos fazendo uma análise da influência da quantidade de torcida no numero de gols. 
df_sample.set_index(["dia" , "mandante_placar"], inplace=True)

In [32]:
df_sample.head(30) # Visualizar informações da amostra.

                              rodada    ID        data   hora       mandante  \
dia          mandante_placar
Domingo      4                    29   345  2003-08-31  16:00          Bahia
Sabado       3                    11   123  2003-05-31  16:00       Coritiba
Domingo      5                    14   167  2003-06-22  18:00     Fluminense
             0                     5  2753  2009-06-07  16:00           Avai
Sabado       1                     6  5037  2015-06-06  18:30    Atletico-MG
Domingo      0                    26  2580  2008-09-21  16:00          Sport
             2                    38  6124  2017-12-03  17:05          Vasco
Quinta-feira 3                     8  3544  2011-07-07  19:30       Coritiba
Domingo      2                    23  5970  2017-09-10  16:02         Santos
             0                     4   596  2004-05-02  16:00    Corinthians
Sabado       1                     1  5746  2017-05-13  16:01       Flamengo
Domingo      3                    35  4573  2013-11-17  20:30          Goias
Quarta-feira 2                    15  6268  2018-07-25  21:46    Corinthians
Quinta-feira 1                    12  5106  2015-07-09  21:00     Fluminense
Domingo      1                    37  3454  2010-11-28  17:00  Internacional
             3                    17  6671  2019-09-01  16:00       Flamengo
             1                    21  4822  2014-09-14  15:59       Flamengo
Quarta-feira 3                    35  5331  2015-11-18  21:03   Athletico-PR
Domingo      0                    19  6323  2018-08-19  19:00     America-MG
             2                    26  2962  2009-09-27  16:00          Goias
             3                    14  5503  2016-07-10  15:59      Sao Paulo
             3                    38  5364  2015-12-06  17:00    Atletico-MG
             0                    20  1761  2006-08-27  16:00    Corinthians
             2                    22   816  2004-08-08  18:00   Athletico-PR
             0                    36   984  2004-10-17  18:00      Juventude
             2                     4  6159  2018-05-06  16:00       Flamengo
Quinta-feira 2                    12  2006  2007-07-19  20:30      Palmeiras
Domingo      0                    42  1052  2004-11-21  16:00       Cruzeiro
Quinta-feira 0                    28  3365  2010-10-07  21:00          Goias
Sabado       1                     3  6527  2019-05-04  19:00      Palmeiras

                                  visitante formacao_mandante  \
dia          mandante_placar
Domingo      4                       Parana               NaN
Sabado       3                      Guarani               NaN
Domingo      5                      Guarani               NaN
             0                    Sao Paulo               NaN
Sabado       1                     Cruzeiro           4-2-3-1
Domingo      0                    Sao Paulo               NaN
             2                  Ponte Preta           4-2-3-1
Quinta-feira 3                  Figueirense               NaN
Domingo      2                  Corinthians           4-2-3-1
             0                    Palmeiras               NaN
Sabado       1                  Atletico-MG           4-2-3-1
Domingo      3                Internacional               NaN
Quarta-feira 2                     Cruzeiro           4-2-3-1
Quinta-feira 1                     Cruzeiro           4-2-3-1
Domingo      1                      Vitoria               NaN
             3                    Palmeiras           4-2-3-1
             1                  Corinthians               NaN
Quarta-feira 3                    Palmeiras           4-2-3-1
Domingo      0                   Fluminense           4-2-3-1
             2                       Gremio               NaN
             3                   America-MG           4-2-3-1
             3                  Chapecoense           4-2-3-1
             0                       Gremio               NaN
             2                        Vasco               NaN
             0                    Palmeiras               NaN
             2                Internacional           4-1-4-1
Quinta-feira 2                       Santos               NaN
Domingo      0                  Corinthians               NaN
Quinta-feira 0                     Cruzeiro               NaN
Sabado       1                Internacional           4-2-3-1

                             formacao_visitante        tecnico_mandante  \
dia          mandante_placar
Domingo      4                              NaN                     NaN
Sabado       3                              NaN                     NaN
Domingo      5                              NaN                     NaN
             0                              NaN                     NaN
Sabado       1                          4-2-3-1  V. Luxemburgo da Silva
Domingo      0                              NaN                     NaN
             2                          4-2-3-1             E. Baptista
Quinta-feira 3                              NaN                     NaN
Domingo      2                          4-2-3-1              F. Carille
             0                              NaN                     NaN
Sabado       1                          4-3-2-1      R. Machado Marques
Domingo      3                              NaN                     NaN
Quarta-feira 2                          4-2-3-1    L. Venker de Menezes
Quinta-feira 1                          4-2-3-1  V. Luxemburgo da Silva
Domingo      1                              NaN                     NaN
             3                          4-1-4-1              L. Scolari
             1                              NaN    L. Venker de Menezes
Quarta-feira 3                          4-2-3-1   M. de Oliveira Santos
Domingo      0                          3-4-1-2   M. de Oliveira Santos
             2                              NaN                     NaN
             3                          4-2-3-1   S. de Oliveira Vieira
             3                          4-2-3-1             A. Ferreira
             0                              NaN                     NaN
             2                              NaN                     NaN
             0                              NaN                     NaN
             2                          4-1-4-1             O. Hellmann
Quinta-feira 2                              NaN                     NaN
Domingo      0                              NaN                     NaN
Quinta-feira 0                              NaN                     NaN
Sabado       1                            4-3-3             O. Hellmann

                                   tecnico_visitante      vencedor  \
dia          mandante_placar
Domingo      4                                   NaN         Bahia
Sabado       3                                   NaN      Coritiba
Domingo      5                                   NaN    Fluminense
             0                                   NaN             -
Sabado       1                V. Luxemburgo da Silva      Cruzeiro
Domingo      0                                   NaN             -
             2                           E. Baptista         Vasco
Quinta-feira 3                                   NaN      Coritiba
Domingo      2                            F. Carille        Santos
             0                                   NaN     Palmeiras
Sabado       1                    R. Machado Marques             -
Domingo      3                                   NaN         Goias
Quarta-feira 2                  L. Venker de Menezes   Corinthians
Quinta-feira 1                V. Luxemburgo da Silva    Fluminense
Domingo      1                                   NaN             -
             3                            L. Scolari      Flamengo
             1                  L. Venker de Menezes      Flamengo
Quarta-feira 3                 M. de Oliveira Santos             -
Domingo      0                 M. de Oliveira Santos             -
             2                                   NaN         Goias
             3                 S. de Oliveira Vieira     Sao Paulo
             3                           A. Ferreira   Atletico-MG
             0                                   NaN        Gremio
             2                                   NaN  Athletico-PR
             0                                   NaN     Palmeiras
             2                           O. Hellmann      Flamengo
Quinta-feira 2                                   NaN             -
Domingo      0                                   NaN   Corinthians
Quinta-feira 0                                   NaN      Cruzeiro
Sabado       1                           O. Hellmann     Palmeiras

                                                          arena  \
dia          mandante_placar
Domingo      4                                       fonte nova
Sabado       3                                    couto pereira
Domingo      5                                         maracana
             0                                        ressacada
Sabado       1                         estadio raimundo sampaio
Domingo      0                                   ilha do retiro
             2                            estadio vasco da gama
Quinta-feira 3                                    couto pereira
Domingo      2                          estadio urbano caldeira
             0                                          morumbi
Sabado       1                                         maracana
Domingo      3                                    serra dourada
Quarta-feira 2                                neo quimica arena
Quinta-feira 1                                         maracana
Domingo      1                                        beira rio
             3                                         maracana
             1                                         maracana
Quarta-feira 3                estadio joaquim americo guimaraes
Domingo      0                         estadio raimundo sampaio
             2                                    serra dourada
             3                                          morumbi
             3                                         mineirao
             0                                         pacaembu
             2                                 arena da baixada
             0                                   alfredo jaconi
             2                                         maracana
Quinta-feira 2                                 parque antartica
Domingo      0                                         mineirao
Quinta-feira 0                                    serra dourada
Sabado       1                                   allianz parque

                              visitante_placar mandante_estado  \
dia          mandante_placar
Domingo      4                               2              BA
Sabado       3                               2              PR
Domingo      5                               2              RJ
             0                               0              SC
Sabado       1                               3              MG
Domingo      0                               0              PE
             2                               1              RJ
Quinta-feira 3                               0              PR
Domingo      2                               0              SP
             0                               4              SP
Sabado       1                               1              RJ
Domingo      3                               1              GO
Quarta-feira 2                               0              SP
Quinta-feira 1                               0              RJ
Domingo      1                               1              RS
             3                               0              RJ
             1                               0              RJ
Quarta-feira 3                               3              PR
Domingo      0                               0              MG
             2                               1              GO
             3                               0              SP
             3                               0              MG
             0                               2              SP
             2                               0              PR
             0                               2              RS
             2                               0              RJ
Quinta-feira 2                               2              SP
Domingo      0                               1              MG
Quinta-feira 0                               1              GO
Sabado       1                               0              SP

                             visitante_estado estado_vencedor
dia          mandante_placar
Domingo      4                             PR              BA
Sabado       3                             SP              PR
Domingo      5                             SP              RJ
             0                             SP               -
Sabado       1                             MG              MG
Domingo      0                             SP               -
             2                             SP              RJ
Quinta-feira 3                             SC              PR
Domingo      2                             SP              SP
             0                             SP              SP
Sabado       1                             MG               -
Domingo      3                             RS              GO
Quarta-feira 2                             MG              SP
Quinta-feira 1                             MG              RJ
Domingo      1                             BA               -
             3                             SP              RJ
             1                             SP              RJ
Quarta-feira 3                             SP               -
Domingo      0                             RJ               -
             2                             RS              GO
             3                             MG              SP
             3                             SC              MG
             0                             RS              RS
             2                             RJ              PR
             0                             SP              SP
             2                             RS              RJ
Quinta-feira 2                             SP               -
Domingo      0                             SP              SP
Quinta-feira 0                             MG              MG
Sabado       1                             RS              SP

In [33]:
df_sample.sort_index(inplace=True)# Organizando para facilitar a visualização, e salvando a ordenação do dataFrame.

In [34]:
df_sample.head(30) # Visualizando organizado

                              rodada    ID        data   hora       mandante  \
dia          mandante_placar
Domingo      0                     5  2753  2009-06-07  16:00           Avai
             0                    26  2580  2008-09-21  16:00          Sport
             0                     4   596  2004-05-02  16:00    Corinthians
             0                    19  6323  2018-08-19  19:00     America-MG
             0                    20  1761  2006-08-27  16:00    Corinthians
             0                    36   984  2004-10-17  18:00      Juventude
             0                    42  1052  2004-11-21  16:00       Cruzeiro
             1                    37  3454  2010-11-28  17:00  Internacional
             1                    21  4822  2014-09-14  15:59       Flamengo
             2                    38  6124  2017-12-03  17:05          Vasco
             2                    23  5970  2017-09-10  16:02         Santos
             2                    26  2962  2009-09-27  16:00          Goias
             2                    22   816  2004-08-08  18:00   Athletico-PR
             2                     4  6159  2018-05-06  16:00       Flamengo
             3                    35  4573  2013-11-17  20:30          Goias
             3                    17  6671  2019-09-01  16:00       Flamengo
             3                    14  5503  2016-07-10  15:59      Sao Paulo
             3                    38  5364  2015-12-06  17:00    Atletico-MG
             4                    29   345  2003-08-31  16:00          Bahia
             5                    14   167  2003-06-22  18:00     Fluminense
Quarta-feira 2                    15  6268  2018-07-25  21:46    Corinthians
             3                    35  5331  2015-11-18  21:03   Athletico-PR
Quinta-feira 0                    28  3365  2010-10-07  21:00          Goias
             1                    12  5106  2015-07-09  21:00     Fluminense
             2                    12  2006  2007-07-19  20:30      Palmeiras
             3                     8  3544  2011-07-07  19:30       Coritiba
Sabado       1                     6  5037  2015-06-06  18:30    Atletico-MG
             1                     1  5746  2017-05-13  16:01       Flamengo
             1                     3  6527  2019-05-04  19:00      Palmeiras
             3                    11   123  2003-05-31  16:00       Coritiba

                                  visitante formacao_mandante  \
dia          mandante_placar
Domingo      0                    Sao Paulo               NaN
             0                    Sao Paulo               NaN
             0                    Palmeiras               NaN
             0                   Fluminense           4-2-3-1
             0                       Gremio               NaN
             0                    Palmeiras               NaN
             0                  Corinthians               NaN
             1                      Vitoria               NaN
             1                  Corinthians               NaN
             2                  Ponte Preta           4-2-3-1
             2                  Corinthians           4-2-3-1
             2                       Gremio               NaN
             2                        Vasco               NaN
             2                Internacional           4-1-4-1
             3                Internacional               NaN
             3                    Palmeiras           4-2-3-1
             3                   America-MG           4-2-3-1
             3                  Chapecoense           4-2-3-1
             4                       Parana               NaN
             5                      Guarani               NaN
Quarta-feira 2                     Cruzeiro           4-2-3-1
             3                    Palmeiras           4-2-3-1
Quinta-feira 0                     Cruzeiro               NaN
             1                     Cruzeiro           4-2-3-1
             2                       Santos               NaN
             3                  Figueirense               NaN
Sabado       1                     Cruzeiro           4-2-3-1
             1                  Atletico-MG           4-2-3-1
             1                Internacional           4-2-3-1
             3                      Guarani               NaN

                             formacao_visitante        tecnico_mandante  \
dia          mandante_placar
Domingo      0                              NaN                     NaN
             0                              NaN                     NaN
             0                              NaN                     NaN
             0                          3-4-1-2   M. de Oliveira Santos
             0                              NaN                     NaN
             0                              NaN                     NaN
             0                              NaN                     NaN
             1                              NaN                     NaN
             1                              NaN    L. Venker de Menezes
             2                          4-2-3-1             E. Baptista
             2                          4-2-3-1              F. Carille
             2                              NaN                     NaN
             2                              NaN                     NaN
             2                          4-1-4-1             O. Hellmann
             3                              NaN                     NaN
             3                          4-1-4-1              L. Scolari
             3                          4-2-3-1   S. de Oliveira Vieira
             3                          4-2-3-1             A. Ferreira
             4                              NaN                     NaN
             5                              NaN                     NaN
Quarta-feira 2                          4-2-3-1    L. Venker de Menezes
             3                          4-2-3-1   M. de Oliveira Santos
Quinta-feira 0                              NaN                     NaN
             1                          4-2-3-1  V. Luxemburgo da Silva
             2                              NaN                     NaN
             3                              NaN                     NaN
Sabado       1                          4-2-3-1  V. Luxemburgo da Silva
             1                          4-3-2-1      R. Machado Marques
             1                            4-3-3             O. Hellmann
             3                              NaN                     NaN

                                   tecnico_visitante      vencedor  \
dia          mandante_placar
Domingo      0                                   NaN             -
             0                                   NaN             -
             0                                   NaN     Palmeiras
             0                 M. de Oliveira Santos             -
             0                                   NaN        Gremio
             0                                   NaN     Palmeiras
             0                                   NaN   Corinthians
             1                                   NaN             -
             1                  L. Venker de Menezes      Flamengo
             2                           E. Baptista         Vasco
             2                            F. Carille        Santos
             2                                   NaN         Goias
             2                                   NaN  Athletico-PR
             2                           O. Hellmann      Flamengo
             3                                   NaN         Goias
             3                            L. Scolari      Flamengo
             3                 S. de Oliveira Vieira     Sao Paulo
             3                           A. Ferreira   Atletico-MG
             4                                   NaN         Bahia
             5                                   NaN    Fluminense
Quarta-feira 2                  L. Venker de Menezes   Corinthians
             3                 M. de Oliveira Santos             -
Quinta-feira 0                                   NaN      Cruzeiro
             1                V. Luxemburgo da Silva    Fluminense
             2                                   NaN             -
             3                                   NaN      Coritiba
Sabado       1                V. Luxemburgo da Silva      Cruzeiro
             1                    R. Machado Marques             -
             1                           O. Hellmann     Palmeiras
             3                                   NaN      Coritiba

                                                          arena  \
dia          mandante_placar
Domingo      0                                        ressacada
             0                                   ilha do retiro
             0                                          morumbi
             0                         estadio raimundo sampaio
             0                                         pacaembu
             0                                   alfredo jaconi
             0                                         mineirao
             1                                        beira rio
             1                                         maracana
             2                            estadio vasco da gama
             2                          estadio urbano caldeira
             2                                    serra dourada
             2                                 arena da baixada
             2                                         maracana
             3                                    serra dourada
             3                                         maracana
             3                                          morumbi
             3                                         mineirao
             4                                       fonte nova
             5                                         maracana
Quarta-feira 2                                neo quimica arena
             3                estadio joaquim americo guimaraes
Quinta-feira 0                                    serra dourada
             1                                         maracana
             2                                 parque antartica
             3                                    couto pereira
Sabado       1                         estadio raimundo sampaio
             1                                         maracana
             1                                   allianz parque
             3                                    couto pereira

                              visitante_placar mandante_estado  \
dia          mandante_placar
Domingo      0                               0              SC
             0                               0              PE
             0                               4              SP
             0                               0              MG
             0                               2              SP
             0                               2              RS
             0                               1              MG
             1                               1              RS
             1                               0              RJ
             2                               1              RJ
             2                               0              SP
             2                               1              GO
             2                               0              PR
             2                               0              RJ
             3                               1              GO
             3                               0              RJ
             3                               0              SP
             3                               0              MG
             4                               2              BA
             5                               2              RJ
Quarta-feira 2                               0              SP
             3                               3              PR
Quinta-feira 0                               1              GO
             1                               0              RJ
             2                               2              SP
             3                               0              PR
Sabado       1                               3              MG
             1                               1              RJ
             1                               0              SP
             3                               2              PR

                             visitante_estado estado_vencedor
dia          mandante_placar
Domingo      0                             SP               -
             0                             SP               -
             0                             SP              SP
             0                             RJ               -
             0                             RS              RS
             0                             SP              SP
             0                             SP              SP
             1                             BA               -
             1                             SP              RJ
             2                             SP              RJ
             2                             SP              SP
             2                             RS              GO
             2                             RJ              PR
             2                             RS              RJ
             3                             RS              GO
             3                             SP              RJ
             3                             MG              SP
             3                             SC              MG
             4                             PR              BA
             5                             SP              RJ
Quarta-feira 2                             MG              SP
             3                             SP               -
Quinta-feira 0                             MG              MG
             1                             MG              RJ
             2                             SP               -
             3                             SC              PR
Sabado       1                             MG              MG
             1                             MG               -
             1                             RS              SP
             3                             SP              PR

In [35]:
# Aparantemente, não a quantidade de torcida não infuencia muito.

In [36]:
# Continuando, temos um método interessante, chamado swaplevel,documentação =  DataFrame.swaplevel(i=- 2, j=- 1, axis=0)
df_sample.swaplevel() # Este método, troca os niveis de hierarquia, dos index, acima vemos o "dia", como primeiro nível.

                              rodada    ID        data   hora       mandante  \
mandante_placar dia
0               Domingo            5  2753  2009-06-07  16:00           Avai
                Domingo           26  2580  2008-09-21  16:00          Sport
                Domingo            4   596  2004-05-02  16:00    Corinthians
                Domingo           19  6323  2018-08-19  19:00     America-MG
                Domingo           20  1761  2006-08-27  16:00    Corinthians
                Domingo           36   984  2004-10-17  18:00      Juventude
                Domingo           42  1052  2004-11-21  16:00       Cruzeiro
1               Domingo           37  3454  2010-11-28  17:00  Internacional
                Domingo           21  4822  2014-09-14  15:59       Flamengo
2               Domingo           38  6124  2017-12-03  17:05          Vasco
                Domingo           23  5970  2017-09-10  16:02         Santos
                Domingo           26  2962  2009-09-27  16:00          Goias
                Domingo           22   816  2004-08-08  18:00   Athletico-PR
                Domingo            4  6159  2018-05-06  16:00       Flamengo
3               Domingo           35  4573  2013-11-17  20:30          Goias
                Domingo           17  6671  2019-09-01  16:00       Flamengo
                Domingo           14  5503  2016-07-10  15:59      Sao Paulo
                Domingo           38  5364  2015-12-06  17:00    Atletico-MG
4               Domingo           29   345  2003-08-31  16:00          Bahia
5               Domingo           14   167  2003-06-22  18:00     Fluminense
2               Quarta-feira      15  6268  2018-07-25  21:46    Corinthians
3               Quarta-feira      35  5331  2015-11-18  21:03   Athletico-PR
0               Quinta-feira      28  3365  2010-10-07  21:00          Goias
1               Quinta-feira      12  5106  2015-07-09  21:00     Fluminense
2               Quinta-feira      12  2006  2007-07-19  20:30      Palmeiras
3               Quinta-feira       8  3544  2011-07-07  19:30       Coritiba
1               Sabado             6  5037  2015-06-06  18:30    Atletico-MG
                Sabado             1  5746  2017-05-13  16:01       Flamengo
                Sabado             3  6527  2019-05-04  19:00      Palmeiras
3               Sabado            11   123  2003-05-31  16:00       Coritiba

                                  visitante formacao_mandante  \
mandante_placar dia
0               Domingo           Sao Paulo               NaN
                Domingo           Sao Paulo               NaN
                Domingo           Palmeiras               NaN
                Domingo          Fluminense           4-2-3-1
                Domingo              Gremio               NaN
                Domingo           Palmeiras               NaN
                Domingo         Corinthians               NaN
1               Domingo             Vitoria               NaN
                Domingo         Corinthians               NaN
2               Domingo         Ponte Preta           4-2-3-1
                Domingo         Corinthians           4-2-3-1
                Domingo              Gremio               NaN
                Domingo               Vasco               NaN
                Domingo       Internacional           4-1-4-1
3               Domingo       Internacional               NaN
                Domingo           Palmeiras           4-2-3-1
                Domingo          America-MG           4-2-3-1
                Domingo         Chapecoense           4-2-3-1
4               Domingo              Parana               NaN
5               Domingo             Guarani               NaN
2               Quarta-feira       Cruzeiro           4-2-3-1
3               Quarta-feira      Palmeiras           4-2-3-1
0               Quinta-feira       Cruzeiro               NaN
1               Quinta-feira       Cruzeiro           4-2-3-1
2               Quinta-feira         Santos               NaN
3               Quinta-feira    Figueirense               NaN
1               Sabado             Cruzeiro           4-2-3-1
                Sabado          Atletico-MG           4-2-3-1
                Sabado        Internacional           4-2-3-1
3               Sabado              Guarani               NaN

                             formacao_visitante        tecnico_mandante  \
mandante_placar dia
0               Domingo                     NaN                     NaN
                Domingo                     NaN                     NaN
                Domingo                     NaN                     NaN
                Domingo                 3-4-1-2   M. de Oliveira Santos
                Domingo                     NaN                     NaN
                Domingo                     NaN                     NaN
                Domingo                     NaN                     NaN
1               Domingo                     NaN                     NaN
                Domingo                     NaN    L. Venker de Menezes
2               Domingo                 4-2-3-1             E. Baptista
                Domingo                 4-2-3-1              F. Carille
                Domingo                     NaN                     NaN
                Domingo                     NaN                     NaN
                Domingo                 4-1-4-1             O. Hellmann
3               Domingo                     NaN                     NaN
                Domingo                 4-1-4-1              L. Scolari
                Domingo                 4-2-3-1   S. de Oliveira Vieira
                Domingo                 4-2-3-1             A. Ferreira
4               Domingo                     NaN                     NaN
5               Domingo                     NaN                     NaN
2               Quarta-feira            4-2-3-1    L. Venker de Menezes
3               Quarta-feira            4-2-3-1   M. de Oliveira Santos
0               Quinta-feira                NaN                     NaN
1               Quinta-feira            4-2-3-1  V. Luxemburgo da Silva
2               Quinta-feira                NaN                     NaN
3               Quinta-feira                NaN                     NaN
1               Sabado                  4-2-3-1  V. Luxemburgo da Silva
                Sabado                  4-3-2-1      R. Machado Marques
                Sabado                    4-3-3             O. Hellmann
3               Sabado                      NaN                     NaN

                                   tecnico_visitante      vencedor  \
mandante_placar dia
0               Domingo                          NaN             -
                Domingo                          NaN             -
                Domingo                          NaN     Palmeiras
                Domingo        M. de Oliveira Santos             -
                Domingo                          NaN        Gremio
                Domingo                          NaN     Palmeiras
                Domingo                          NaN   Corinthians
1               Domingo                          NaN             -
                Domingo         L. Venker de Menezes      Flamengo
2               Domingo                  E. Baptista         Vasco
                Domingo                   F. Carille        Santos
                Domingo                          NaN         Goias
                Domingo                          NaN  Athletico-PR
                Domingo                  O. Hellmann      Flamengo
3               Domingo                          NaN         Goias
                Domingo                   L. Scolari      Flamengo
                Domingo        S. de Oliveira Vieira     Sao Paulo
                Domingo                  A. Ferreira   Atletico-MG
4               Domingo                          NaN         Bahia
5               Domingo                          NaN    Fluminense
2               Quarta-feira    L. Venker de Menezes   Corinthians
3               Quarta-feira   M. de Oliveira Santos             -
0               Quinta-feira                     NaN      Cruzeiro
1               Quinta-feira  V. Luxemburgo da Silva    Fluminense
2               Quinta-feira                     NaN             -
3               Quinta-feira                     NaN      Coritiba
1               Sabado        V. Luxemburgo da Silva      Cruzeiro
                Sabado            R. Machado Marques             -
                Sabado                   O. Hellmann     Palmeiras
3               Sabado                           NaN      Coritiba

                                                          arena  \
mandante_placar dia
0               Domingo                               ressacada
                Domingo                          ilha do retiro
                Domingo                                 morumbi
                Domingo                estadio raimundo sampaio
                Domingo                                pacaembu
                Domingo                          alfredo jaconi
                Domingo                                mineirao
1               Domingo                               beira rio
                Domingo                                maracana
2               Domingo                   estadio vasco da gama
                Domingo                 estadio urbano caldeira
                Domingo                           serra dourada
                Domingo                        arena da baixada
                Domingo                                maracana
3               Domingo                           serra dourada
                Domingo                                maracana
                Domingo                                 morumbi
                Domingo                                mineirao
4               Domingo                              fonte nova
5               Domingo                                maracana
2               Quarta-feira                  neo quimica arena
3               Quarta-feira  estadio joaquim americo guimaraes
0               Quinta-feira                      serra dourada
1               Quinta-feira                           maracana
2               Quinta-feira                   parque antartica
3               Quinta-feira                      couto pereira
1               Sabado                 estadio raimundo sampaio
                Sabado                                 maracana
                Sabado                           allianz parque
3               Sabado                            couto pereira

                              visitante_placar mandante_estado  \
mandante_placar dia
0               Domingo                      0              SC
                Domingo                      0              PE
                Domingo                      4              SP
                Domingo                      0              MG
                Domingo                      2              SP
                Domingo                      2              RS
                Domingo                      1              MG
1               Domingo                      1              RS
                Domingo                      0              RJ
2               Domingo                      1              RJ
                Domingo                      0              SP
                Domingo                      1              GO
                Domingo                      0              PR
                Domingo                      0              RJ
3               Domingo                      1              GO
                Domingo                      0              RJ
                Domingo                      0              SP
                Domingo                      0              MG
4               Domingo                      2              BA
5               Domingo                      2              RJ
2               Quarta-feira                 0              SP
3               Quarta-feira                 3              PR
0               Quinta-feira                 1              GO
1               Quinta-feira                 0              RJ
2               Quinta-feira                 2              SP
3               Quinta-feira                 0              PR
1               Sabado                       3              MG
                Sabado                       1              RJ
                Sabado                       0              SP
3               Sabado                       2              PR

                             visitante_estado estado_vencedor
mandante_placar dia
0               Domingo                    SP               -
                Domingo                    SP               -
                Domingo                    SP              SP
                Domingo                    RJ               -
                Domingo                    RS              RS
                Domingo                    SP              SP
                Domingo                    SP              SP
1               Domingo                    BA               -
                Domingo                    SP              RJ
2               Domingo                    SP              RJ
                Domingo                    SP              SP
                Domingo                    RS              GO
                Domingo                    RJ              PR
                Domingo                    RS              RJ
3               Domingo                    RS              GO
                Domingo                    SP              RJ
                Domingo                    MG              SP
                Domingo                    SC              MG
4               Domingo                    PR              BA
5               Domingo                    SP              RJ
2               Quarta-feira               MG              SP
3               Quarta-feira               SP               -
0               Quinta-feira               MG              MG
1               Quinta-feira               MG              RJ
2               Quinta-feira               SP               -
3               Quinta-feira               SC              PR
1               Sabado                     MG              MG
                Sabado                     MG               -
                Sabado                     RS              SP
3               Sabado                     SP              PR

**Manipulando strings**

In [37]:
nome = "Leo"

In [38]:
type(nome) # Tipo da variável.

str

In [39]:
len(nome) # Tamanho da palavra

3

In [40]:
nome.lower() # Todas as letras minúsculas.

'leo'

In [41]:
nome.title() # Primeira letra de cada palavra em maiuscula.

'Leo'

In [42]:
# Existem inumeras formas de manipular, com as funções built-in functions, e não é necessário decorar todas, basta saber o que precisa 
# E a forma de procurar a função que realiza o que voce precisa no dado momento.

In [43]:
nome.split(" ") # Quebrar o espaço vazio. Para palavras compostas. separando os elementos.

['Leo']

In [44]:
# substituir palavras 
time = "São Paulo"

In [45]:
time.replace("Paulo", "Tricolorrrrr") # Passamos primeiro parâmetro a palavra a ser substituida e o segundo a palavara substituta.

'São Tricolorrrrr'

** Entendendo e Criando Séries no Pandas**

In [46]:
# Basicamente as séries, são as colunas de forma isolada, isto é, todo tipo de agrupamento de dados que tenha 
# independente do número de linhas, apenas uma coluna. Logo, para nós séries é o tipo de dados das colunas quando 
# essas são trabalhadas de forma isolada.

In [47]:
df_fut.head(4)

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-

In [48]:
df_fut["dia"]

0        Sabado
1        Sabado
2       Domingo
3       Domingo
4       Domingo
         ...
7640    Domingo
7641    Domingo
7642    Domingo
7643    Domingo
7644    Domingo
Name: dia, Length: 7645, dtype: object

In [49]:
# Se eu analisar o type da coluna dia. 
type(df_fut["dia"]) # Veremos que é uma serie.

pandas.core.series.Series

In [50]:
#Podemos armazenar essa serie, em uma variavel: 
dia = df_fut["dia"]

In [51]:
# Se quisermos aplicar o .info, precisamos transformar a série em frame, para isso usamos: to_frame 
dia.to_frame().info() # Assim conseguimos ver que as observações de forma isolada, dentro dessa coluna são do tipo objeto

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7645 entries, 0 to 7644
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dia     7645 non-null   object
dtypes: object(1)
memory usage: 59.9+ KB

In [52]:
# podemos ver quantos index temos 
dia.index

RangeIndex(start=0, stop=7645, step=1)

In [53]:
# Podemos também aplicar o .describe (se transformarmos em uma frame), para séries com valores numéricos. 
gols_mandante = df_fut["mandante_placar"]

In [54]:
# Novamente, podemos transformar em frame, e usar o info, para ver se as observações dessa coluna são do tipo int. 
gols_mandante.to_frame().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7645 entries, 0 to 7644
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mandante_placar  7645 non-null   int64
dtypes: int64(1)
memory usage: 59.9 KB

In [55]:
# Agora que ja transformamos em frame, podemos utilizar o .describe, para ver as estatísticas de gols feitos pelos mandantes dos jogos do brasileirão.
gols_mandante.to_frame().describe()

       mandante_placar
count      7645.000000
mean          1.554088
std           1.234262
min           0.000000
25%           1.000000
50%           1.000000
75%           2.000000
max           7.000000

In [56]:
# A partir disso, podmemos investigar com os métodos que ja conhecemos
len(gols_mandante) # Vendo a quantidade de informações.

7645

In [57]:
# Podemos ver quais os resultados que ja ocorreram, isto é, quais os números que pelo menos uma vez, ja representaram, o placar do mandante. 
gols_mandante.unique()

array([4, 2, 1, 0, 3, 6, 7, 5])

In [58]:
# Ou, ver quantos números diferentes, ja ocorreram. 
gols_mandante.nunique()

8

In [59]:
# E até mais interessante, no meu ponto de vista, podemos ver quantas ocasiões ocorreram os diferentes placares do mandante. 
gols_mandante.value_counts()

1    2591
2    1951
0    1559
3     997
4     386
5     119
6      36
7       6
Name: mandante_placar, dtype: int64

In [60]:
# Por padrão, ele nos retorna em ordem decrescente, isto é, o ascending = False, mas podemos mudar isso: 
gols_mandante.value_counts(ascending=True)

7       6
6      36
5     119
4     386
3     997
0    1559
2    1951
1    2591
Name: mandante_placar, dtype: int64

In [61]:
# Podemos também quebrar o numero de gols, em classes, utilizando o parâmetro bins. 
gols_mandante.value_counts(ascending=True, bins=10)

(2.1, 2.8]          0
(4.2, 4.9]          0
(6.3, 7.0]          6
(5.6, 6.3]         36
(4.9, 5.6]        119
(3.5, 4.2]        386
(2.8, 3.5]        997
(-0.008, 0.7]    1559
(1.4, 2.1]       1951
(0.7, 1.4]       2591
Name: mandante_placar, dtype: int64

Criando Séries

In [62]:
# Há diversas maneiras de criarmos uma série. 
df.head()

     Nome  Segunda  Terça  Quarta  Quinta  Sexta  Sabado  Domingo
0  Victor        2      3       1       3      0       0        3
1  Amanda        0      3       0       4      3       1        2
2    Luis        1      2       4       5      6       0        0
3   Júlia        1      1       2       0      0       1        2

In [63]:
# Criando séries, escolhendo uma coluna do df. 
nome = df["Nome"]

In [64]:
type(nome) # Conferindo

pandas.core.series.Series

In [65]:
# Através da documentação = class pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
lista_nome = ["Victor", "Amanda", "Luis", "Júlia"] # Criando uma lista 
serie_lista = pd.Series(data=lista_nome) # Transformando a lista em série

In [66]:
type(serie_lista) # Conferindo

pandas.core.series.Series

In [67]:
# Usando os parâmetros, e criando séries. 
pd.Series(data=[1,2,3,4,5,6,7], index=["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabado"]) # Criando index para séries.

Domingo    1
Segunda    2
Terça      3
Quarta     4
Quinta     5
Sexta      6
Sabado     7
dtype: int64

In [68]:
# Utilizando dict 
dic = {"dom": 1, "seg":2,"ter":3, "quarta":4, "quinta":5,"sexta":6, "sabado":7} # Criando dic

In [69]:
pd.Series(dic) # usando dic para criar uma série.

dom       1
seg       2
ter       3
quarta    4
quinta    5
sexta     6
sabado    7
dtype: int64

In [70]:
# Dando um nome a série 
pd.Series(data=[1,2,3,4,5,6,7], index=["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabado"], name= "Dias da semana")

Domingo    1
Segunda    2
Terça      3
Quarta     4
Quinta     5
Sexta      6
Sabado     7
Name: Dias da semana, dtype: int64

In [71]:
# Conferindo
type(pd.Series(data=[1,2,3,4,5,6,7], index=["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabado"], name= "Dias da semana"))

pandas.core.series.Series

Indexação e Slicing (Séries)

In [72]:
dfc = pd.read_csv('casa_para_venda.csv')

In [73]:
dfc.head(3)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841

In [74]:
# Trabalhando apenas com uma coluna, e fazendo Python reconhecer que a coluna individual é ua série. 
dfc1  = pd.read_csv('casa_para_venda.csv', usecols=["area"], squeeze= True)

In [75]:
dfc1.head() # Visualizando

0     70
1    320
2     80
3     51
4     25
Name: area, dtype: int64

In [76]:
type(dfc1) # Conferindo o type

pandas.core.series.Series

In [77]:
dfc1.tail() # Vendo 5 ultimos.

10687     63
10688    285
10689     70
10690    120
10691     80
Name: area, dtype: int64

In [78]:
dfc1.index # Informações do index, repare que vai até o 10692, porque o ultimo valor não é incluso.

RangeIndex(start=0, stop=10692, step=1)

In [79]:
# Observando valores através do index. 
dfc1[10691]

80

In [80]:
# Ao invés de colocar o 10691, que é a última observação, podemos utilizar o conceito de indexação negativa. 
dfc1.iloc[-1] # Porém, para funcionar a indexação negativa precisamos do.iloc[]

80

In [81]:
# Podemos também trazer uma lista de index. 
dfc1.iloc[[-1,-2,-3,-4,-5]]

10691     80
10690    120
10689     70
10688    285
10687     63
Name: area, dtype: int64

In [82]:
# Comparando com o .tail 
dfc1.tail()

10687     63
10688    285
10689     70
10690    120
10691     80
Name: area, dtype: int64

In [83]:
# Slicing, entendendo a diferença. 
dfc1.iloc[-3:] # Quando o espaço vazio fica após os dois pontos, ele considera a ultima observação, como sendo a "oculta"

10689     70
10690    120
10691     80
Name: area, dtype: int64

In [84]:
# Slicing comparando 
dfc1.iloc[:-3] # Nesse caso, ele começa no zero, e para na observação que mandarmos.

0         70
1        320
2         80
3         51
4         25
        ...
10684     98
10685     83
10686    150
10687     63
10688    285
Name: area, Length: 10689, dtype: int64