<a href="https://colab.research.google.com/github/LeonardoHyppolito/Estudos/blob/main/Analise_com_pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Continuando o capítulo de análise de dados com pandas**

In [1]:
# Importando Biblioteca 
import pandas as pd

In [3]:
df = pd.read_csv("horas_estudadas.csv")

In [4]:
# primeira visualização
df.head()

     Nome  Segunda  Terça  Quarta  Quinta  Sexta  Sabado  Domingo
0  Victor        2      3       1       3      0       0        3
1  Amanda        0      3       0       4      3       1        2
2    Luis        1      2       4       5      6       0        0
3   Júlia        1      1       2       0      0       1        2

**Aplicando o conceito de funções dentro de um data frame**

In [6]:
# Utilizando o min(), documentação = DataFrame.min(axis=NoDefault.no_default, skipna=True, level=None, numeric_only=None, **kwargs)
# O parâmetro axis, por padrão escolhe o eixo zero, e podemos também utilizar o 1, vamos ver: 
df.min(axis= 0) # Isso nos retorna o valor mínimo de cada coluna. OBS: na coluna com valor não numérico ; ordem alfabética. 
# Note, que esse comando min(), nada mais é do que uma função que ja está pronta e disponível.

Nome       Amanda
Segunda         0
Terça           1
Quarta          0
Quinta          0
Sexta           0
Sabado          0
Domingo         0
dtype: object

In [7]:
# Vamos comparar com axis=1
df.min(axis=1) # Nesse caso, o min(), observa as linhas.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

0    0
1    0
2    0
3    0
dtype: int64

In [8]:
# Funções simples: 
def soma(a,b):
  return a + b

In [10]:
soma(2,3)

5

In [17]:
# Função em cima de um df 
def sub_max_min(df):
  return df.max() - df.min() # Agora que a função esta escrita, precisamos aplicar ela em cima de um data frame.

In [19]:
# Antes de aplicar a nossa função, vamo excluir as informações referentes a nomes, porque não faz sentido. 
df2 = df.drop("Nome", axis=1) # Não confunda esse axis =1, se refere a "linha" de colunas.

In [20]:
df2.head()

   Segunda  Terça  Quarta  Quinta  Sexta  Sabado  Domingo
0        2      3       1       3      0       0        3
1        0      3       0       4      3       1        2
2        1      2       4       5      6       0        0
3        1      1       2       0      0       1        2

In [22]:
# Para aplicar utilizamos o método apply(), ele aplica uma função dentro de um eixo do meu df. 
#documentação = DataFrame.apply(func, axis=0, raw=False, result_type=None, args=(), **kwargs)
df2.apply(sub_max_min, axis = 0)

Segunda    2
Terça      2
Quarta     4
Quinta     5
Sexta      6
Sabado     1
Domingo    3
dtype: int64

In [23]:
# Olha que interessante, como passamos o axis = 0, o computador vai aplicando a nossa função, sub_max_min, em todas as colunas, isto é: 
# Verificando qual o maior valor da coluna, subtraindo pelo menor e nos retornando o resultado.

In [26]:
# E com axis = 1 
df2.apply(sub_max_min, axis = 1)

0    3
1    4
2    6
3    2
dtype: int64

In [27]:
# Em suma, o método apply(), aplica uma função pré definida ou anonima, como veremos abaixo, com base no EIXO.

In [30]:
# Um conceito bastante importante, é o de funções anonimas, que basicamente agiliza o processo de aplicar funções, tornando possível, criar uma 
#Função dentro do parâmetro do apply, ao invés de construir uma função antes: 
df2.apply(lambda x: x.max() - x.min(), axis = 0) # Note que é a mesma função criada antes (sub_max_min)

Segunda    2
Terça      2
Quarta     4
Quinta     5
Sexta      6
Sabado     1
Domingo    3
dtype: int64

In [31]:
# Agora se desejamos que uma função seja aplicada em cada um dos VALORES do meu df, temos o método applymap(). 
#Documentação = DataFrame.applymap(func, na_action=None, **kwargs) 
df2.applymap(lambda x: str(x) + "Leo")

  Segunda Terça Quarta Quinta Sexta Sabado Domingo
0    2Leo  3Leo   1Leo   3Leo  0Leo   0Leo    3Leo
1    0Leo  3Leo   0Leo   4Leo  3Leo   1Leo    2Leo
2    1Leo  2Leo   4Leo   5Leo  6Leo   0Leo    0Leo
3    1Leo  1Leo   2Leo   0Leo  0Leo   1Leo    2Leo

In [33]:
# Ou seja, a grande diferença do apply(), para o applymap(), é que com o apply, aplicamos a função no eixo, já o applymap, aplica em todos os valores
# E o nosso "x", é o cara que percorre todos os valores do df, poderia ser qualquer outra letra, mas é bastante comum utilizar o x.

**Indexação hierarquica**