<a href="https://colab.research.google.com/github/LeonardoHyppolito/Estudos/blob/main/Analise_com_pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Continuando o capítulo de análise de dados com pandas**

In [1]:
# Importando Biblioteca 
import pandas as pd

In [2]:
df = pd.read_csv("horas_estudadas.csv")

In [3]:
# primeira visualização
df.head()

     Nome  Segunda  Terça  Quarta  Quinta  Sexta  Sabado  Domingo
0  Victor        2      3       1       3      0       0        3
1  Amanda        0      3       0       4      3       1        2
2    Luis        1      2       4       5      6       0        0
3   Júlia        1      1       2       0      0       1        2

**Aplicando o conceito de funções dentro de um data frame**

In [4]:
# Utilizando o min(), documentação = DataFrame.min(axis=NoDefault.no_default, skipna=True, level=None, numeric_only=None, **kwargs)
# O parâmetro axis, por padrão escolhe o eixo zero, e podemos também utilizar o 1, vamos ver: 
df.min(axis= 0) # Isso nos retorna o valor mínimo de cada coluna. OBS: na coluna com valor não numérico ; ordem alfabética. 
# Note, que esse comando min(), nada mais é do que uma função que ja está pronta e disponível.

Nome       Amanda
Segunda         0
Terça           1
Quarta          0
Quinta          0
Sexta           0
Sabado          0
Domingo         0
dtype: object

In [5]:
# Vamos comparar com axis=1
df.min(axis=1) # Nesse caso, o min(), observa as linhas.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

0    0
1    0
2    0
3    0
dtype: int64

In [6]:
# Funções simples: 
def soma(a,b):
  return a + b

In [7]:
soma(2,3)

5

In [8]:
# Função em cima de um df 
def sub_max_min(df):
  return df.max() - df.min() # Agora que a função esta escrita, precisamos aplicar ela em cima de um data frame.

In [9]:
# Antes de aplicar a nossa função, vamo excluir as informações referentes a nomes, porque não faz sentido. 
df2 = df.drop("Nome", axis=1) # Não confunda esse axis =1, se refere a "linha" de colunas.

In [10]:
df2.head()

   Segunda  Terça  Quarta  Quinta  Sexta  Sabado  Domingo
0        2      3       1       3      0       0        3
1        0      3       0       4      3       1        2
2        1      2       4       5      6       0        0
3        1      1       2       0      0       1        2

In [11]:
# Para aplicar utilizamos o método apply(), ele aplica uma função dentro de um eixo do meu df. 
#documentação = DataFrame.apply(func, axis=0, raw=False, result_type=None, args=(), **kwargs)
df2.apply(sub_max_min, axis = 0)

Segunda    2
Terça      2
Quarta     4
Quinta     5
Sexta      6
Sabado     1
Domingo    3
dtype: int64

In [12]:
# Olha que interessante, como passamos o axis = 0, o computador vai aplicando a nossa função, sub_max_min, em todas as colunas, isto é: 
# Verificando qual o maior valor da coluna, subtraindo pelo menor e nos retornando o resultado.

In [13]:
# E com axis = 1 
df2.apply(sub_max_min, axis = 1)

0    3
1    4
2    6
3    2
dtype: int64

In [14]:
# Em suma, o método apply(), aplica uma função pré definida ou anonima, como veremos abaixo, com base no EIXO.

In [15]:
# Um conceito bastante importante, é o de funções anonimas, que basicamente agiliza o processo de aplicar funções, tornando possível, criar uma 
#Função dentro do parâmetro do apply, ao invés de construir uma função antes: 
df2.apply(lambda x: x.max() - x.min(), axis = 0) # Note que é a mesma função criada antes (sub_max_min)

Segunda    2
Terça      2
Quarta     4
Quinta     5
Sexta      6
Sabado     1
Domingo    3
dtype: int64

In [16]:
# Agora se desejamos que uma função seja aplicada em cada um dos VALORES do meu df, temos o método applymap(). 
#Documentação = DataFrame.applymap(func, na_action=None, **kwargs) 
df2.applymap(lambda x: str(x) + "Leo")

  Segunda Terça Quarta Quinta Sexta Sabado Domingo
0    2Leo  3Leo   1Leo   3Leo  0Leo   0Leo    3Leo
1    0Leo  3Leo   0Leo   4Leo  3Leo   1Leo    2Leo
2    1Leo  2Leo   4Leo   5Leo  6Leo   0Leo    0Leo
3    1Leo  1Leo   2Leo   0Leo  0Leo   1Leo    2Leo

In [17]:
# Ou seja, a grande diferença do apply(), para o applymap(), é que com o apply, aplicamos a função no eixo, já o applymap, aplica em todos os valores
# E o nosso "x", é o cara que percorre todos os valores do df, poderia ser qualquer outra letra, mas é bastante comum utilizar o x.

**Indexação hierarquica**

In [18]:
# Permite que façamos varios tipos de índices, e fazer uma hierarquia entre eles.

In [19]:
df_fut = pd.read_csv("campeonato-brasileiro-full.csv")

In [20]:
df_fut.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-

In [21]:
# Bom para apresentar melhor a ideia de hierarquia dos índices, vamos fazer uma amostra do nosso df, para facilitar
# A nossa compreensão.

In [22]:
# Para realizar essa asmotra utilizamos o método df.samle; documentação = DataFrame.sample(n=None, frac=None, 
# replace=False, weights=None, random_state=None, axis=None, ignore_index=False)
df_sample =  df_fut.sample(30)

In [23]:
df_sample.shape

(30, 18)

In [24]:
df_sample.head() # Observe que os index estão bagunçados, pois a amostra é aleatória.

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
6331,6332,21,2018-08-26,16:00,Domingo,America-MG,Flamengo,4-2-3-1,4-1-4-1,M. Nogueira Barbieri,M. Nogueira Barbieri,-,estadio raimundo sampaio,2,2,MG,RJ,-
3444,3445,36,2010-11-21,19:30,Domingo,Avai,Atletico-GO,NaN,NaN,NaN,NaN,Avai,ressacada,3,0,SC,GO,SC
277,278,24,2003-08-06,20:30,Quarta-feira,Athletico-PR,Parana,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,1,0,PR,PR,PR
4076,4077,24,2012-09-12,19:30,Quarta-feira,Portuguesa,Fluminense,NaN,NaN,NaN,NaN,Fluminense,caninde,0,2,SP,RJ,RJ
4881,4702,28,2014-10-12,16:01,Domingo,Internacional,Fluminense,NaN,NaN,C. Borges dos Santos,C. Borges dos Santos,Internacional,estadio jose pinheiro borda,2,1,RS,RJ,RS

In [25]:
# É possivel escolher o index, na leitura do arquivo csv, com o parâmetro index_col=, porém existe um jeito mais
# prático de se fazer. df.set_index()
#Documentação = DataFrame.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False)

In [26]:
df_sample.set_index("rodada")

,ID,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
rodada,,,,,,,,,,,,,,,,,
21,6332,2018-08-26,16:00,Domingo,America-MG,Flamengo,4-2-3-1,4-1-4-1,M. Nogueira Barbieri,M. Nogueira Barbieri,-,estadio raimundo sampaio,2,2,MG,RJ,-
36,3445,2010-11-21,19:30,Domingo,Avai,Atletico-GO,NaN,NaN,NaN,NaN,Avai,ressacada,3,0,SC,GO,SC
24,278,2003-08-06,20:30,Quarta-feira,Athletico-PR,Parana,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,1,0,PR,PR,PR
24,4077,2012-09-12,19:30,Quarta-feira,Portuguesa,Fluminense,NaN,NaN,NaN,NaN,Fluminense,caninde,0,2,SP,RJ,RJ
28,4702,2014-10-12,16:01,Domingo,Internacional,Fluminense,NaN,NaN,C. Borges dos Santos,C. Borges dos Santos,Internacional,estadio jose pinheiro borda,2,1,RS,RJ,RS
35,7609,2021-11-11,20:03,Quinta-feira,Ceara,Corinthians,4-2-3-1,4-2-3-1,S. Campos Junior,S. Campos Junior,Ceara,arena castelao,2,1,CE,SP,CE
26,4869,2014-10-04,16:21,Sabado,Fluminense,Bahia,NaN,NaN,G. Kleina,G. Kleina,-,estadio nacional de brasilia,1,1,RJ,BA,-
22,6339,2018-09-01,21:00,Sabado,Corinthians,Atletico-MG,4-2-3-1,4-2-3-1,T. Mendes Larghi,T. Mendes Larghi,-,neo quimica arena,1,1,SP,MG,-
17,4777,2014-08-23,18:29,Sabado,Atletico-MG,Internacional,NaN,NaN,A. da Silva Braga,A. da Silva Braga,Atletico-MG,estadio raimundo sampaio,1,0,MG,RS,MG
35,3053,2009-11-15,17:00,Domingo,Barueri,Botafogo-RJ,NaN,NaN,NaN,NaN,Barueri,arena barueri,3,0,SP,RJ,SP
33,3030,2009-11-01,16:00,Domingo,Palmeiras,Corinthians,NaN,NaN,NaN,NaN,-,eduardo jose farah,2,2,SP,SP,-
3,5015,2015-05-24,18:30,Domingo,Cruzeiro,Ponte Preta,4-3-2-1,4-2-3-1,A. Ferreira,A. Ferreira,-,mineirao,1,1,MG,SP,-
32,6440,2018-11-04,17:01,Domingo,Parana,Vitoria,4-1-4-1,4-1-4-1,P. Carpegiani,P. Carpegiani,-,vila capanema,1,1,PR,BA,-
35,410,2003-10-08,20:30,Quarta-feira,Fortaleza,Gremio,NaN,NaN,NaN,NaN,-,castelao,2,2,CE,RS,-
25,4471,2013-10-02,21:00,Quarta-feira,Fluminense,Botafogo-RJ,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,RJ,-
15,2097,2007-07-28,18:10,Sabado,Santos,Nautico,NaN,NaN,NaN,NaN,Nautico,vila belmiro,1,2,SP,PE,PE
25,6366,2018-09-15,16:00,Sabado,Ceara,Vitoria,4-2-3-1,4-4-2,P. Carpegiani,P. Carpegiani,Ceara,arena castelao,2,0,CE,BA,CE
24,2566,2008-09-06,18:20,Sabado,Coritiba,Botafogo-RJ,NaN,NaN,NaN,NaN,Botafogo-RJ,couto pereira,0,1,PR,RJ,RJ
20,2154,2007-08-19,18:10,Domingo,Botafogo-RJ,Internacional,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,RS,-
18,1739,2006-08-20,16:00,Domingo,Fluminense,Santa Cruz,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PE,-
28,3743,2011-10-09,16:00,Domingo,Flamengo,Fluminense,NaN,NaN,NaN,NaN,Flamengo,engenhao,3,2,RJ,RJ,RJ
30,4902,2014-10-22,20:58,Quarta-feira,Gremio,Figueirense,NaN,NaN,A. Fucks,A. Fucks,Gremio,arena do gremio,1,0,RS,SC,RS
5,6549,2019-05-19,11:02,Domingo,Sao Paulo,Bahia,4-2-3-1,4-3-3,R. Machado Marques,R. Machado Marques,-,morumbi,0,0,SP,BA,-
34,405,2003-10-05,16:00,Domingo,Juventude,Fortaleza,NaN,NaN,NaN,NaN,-,alfredo jaconi,2,2,RS,CE,-
28,6404,2018-10-09,21:00,Terça-feira,Botafogo-RJ,Vasco,4-3-3,4-2-3-1,A. Valentim do Carmo Neto,A. Valentim do Carmo Neto,-,estadio nilton santos,1,1,RJ,RJ,-
38,6884,2019-12-08,16:08,Domingo,Avai,Athletico-PR,4-2-3-1,4-2-3-1,E. de Barros,E. de Barros,-,ressacada,0,0,SC,PR,-
42,1557,2005-12-04,16:00,Domingo,Paysandu,Flamengo,NaN,NaN,NaN,NaN,Flamengo,mangueirao,1,4,PA,RJ,RJ
14,6258,2018-07-22,16:00,Domingo,Vasco,Gremio,4-2-3-1,4-2-3-1,Renato Gaúcho,Renato Gaúcho,Vasco,estadio vasco da gama,1,0,RJ,RS,RJ
31,4148,2012-10-17,19:30,Quarta-feira,Internacional,Figueirense,NaN,NaN,NaN,NaN,Figueirense,beira rio,2,3,RS,SC,SC
34,5325,2015-11-08,18:01,Domingo,Joinville,Santos,4-2-2-2,4-2-3-1,D. Silvestre Júnior,D. Silvestre Júnior,-,arena joinville,0,0,SC,SP,-

In [27]:
# O interessante é a possibilidade de escolher mais de um index, utilizando uma lista 
df_sample.set_index(["rodada", "dia"], inplace=True)

In [28]:
df_sample.head()

                       ID        data   hora       mandante    visitante  \
rodada dia
21     Domingo       6332  2018-08-26  16:00     America-MG     Flamengo
36     Domingo       3445  2010-11-21  19:30           Avai  Atletico-GO
24     Quarta-feira   278  2003-08-06  20:30   Athletico-PR       Parana
       Quarta-feira  4077  2012-09-12  19:30     Portuguesa   Fluminense
28     Domingo       4702  2014-10-12  16:01  Internacional   Fluminense

                    formacao_mandante formacao_visitante  \
rodada dia
21     Domingo                4-2-3-1            4-1-4-1
36     Domingo                    NaN                NaN
24     Quarta-feira               NaN                NaN
       Quarta-feira               NaN                NaN
28     Domingo                    NaN                NaN

                         tecnico_mandante     tecnico_visitante  \
rodada dia
21     Domingo       M. Nogueira Barbieri  M. Nogueira Barbieri
36     Domingo                        NaN                   NaN
24     Quarta-feira                   NaN                   NaN
       Quarta-feira                   NaN                   NaN
28     Domingo       C. Borges dos Santos  C. Borges dos Santos

                          vencedor                        arena  \
rodada dia
21     Domingo                   -     estadio raimundo sampaio
36     Domingo                Avai                    ressacada
24     Quarta-feira   Athletico-PR             arena da baixada
       Quarta-feira     Fluminense                      caninde
28     Domingo       Internacional  estadio jose pinheiro borda

                     mandante_placar  visitante_placar mandante_estado  \
rodada dia
21     Domingo                     2                 2              MG
36     Domingo                     3                 0              SC
24     Quarta-feira                1                 0              PR
       Quarta-feira                0                 2              SP
28     Domingo                     2                 1              RS

                    visitante_estado estado_vencedor
rodada dia
21     Domingo                    RJ               -
36     Domingo                    GO              SC
24     Quarta-feira               PR              PR
       Quarta-feira               RJ              RJ
28     Domingo                    RJ              RS

In [29]:
# Outra coisa interessante, é fazer um sort_index(), para ordenar os index, e utilizar o parâmetro ascending= true/false para escolher a ordenação.
df_sample.sort_index() # no caso de mais index, basta passar o ascending em lista[true,false]

                       ID        data   hora       mandante      visitante  \
rodada dia
3      Domingo       5015  2015-05-24  18:30       Cruzeiro    Ponte Preta
5      Domingo       6549  2019-05-19  11:02      Sao Paulo          Bahia
14     Domingo       6258  2018-07-22  16:00          Vasco         Gremio
15     Sabado        2097  2007-07-28  18:10         Santos        Nautico
17     Sabado        4777  2014-08-23  18:29    Atletico-MG  Internacional
18     Domingo       1739  2006-08-20  16:00     Fluminense     Santa Cruz
20     Domingo       2154  2007-08-19  18:10    Botafogo-RJ  Internacional
21     Domingo       6332  2018-08-26  16:00     America-MG       Flamengo
22     Sabado        6339  2018-09-01  21:00    Corinthians    Atletico-MG
24     Quarta-feira   278  2003-08-06  20:30   Athletico-PR         Parana
       Quarta-feira  4077  2012-09-12  19:30     Portuguesa     Fluminense
       Sabado        2566  2008-09-06  18:20       Coritiba    Botafogo-RJ
25     Quarta-feira  4471  2013-10-02  21:00     Fluminense    Botafogo-RJ
       Sabado        6366  2018-09-15  16:00          Ceara        Vitoria
26     Sabado        4869  2014-10-04  16:21     Fluminense          Bahia
28     Domingo       4702  2014-10-12  16:01  Internacional     Fluminense
       Domingo       3743  2011-10-09  16:00       Flamengo     Fluminense
       Terça-feira   6404  2018-10-09  21:00    Botafogo-RJ          Vasco
30     Quarta-feira  4902  2014-10-22  20:58         Gremio    Figueirense
31     Quarta-feira  4148  2012-10-17  19:30  Internacional    Figueirense
32     Domingo       6440  2018-11-04  17:01         Parana        Vitoria
33     Domingo       3030  2009-11-01  16:00      Palmeiras    Corinthians
34     Domingo        405  2003-10-05  16:00      Juventude      Fortaleza
       Domingo       5325  2015-11-08  18:01      Joinville         Santos
35     Domingo       3053  2009-11-15  17:00        Barueri    Botafogo-RJ
       Quarta-feira   410  2003-10-08  20:30      Fortaleza         Gremio
       Quinta-feira  7609  2021-11-11  20:03          Ceara    Corinthians
36     Domingo       3445  2010-11-21  19:30           Avai    Atletico-GO
38     Domingo       6884  2019-12-08  16:08           Avai   Athletico-PR
42     Domingo       1557  2005-12-04  16:00       Paysandu       Flamengo

                    formacao_mandante formacao_visitante  \
rodada dia
3      Domingo                4-3-2-1            4-2-3-1
5      Domingo                4-2-3-1              4-3-3
14     Domingo                4-2-3-1            4-2-3-1
15     Sabado                     NaN                NaN
17     Sabado                     NaN                NaN
18     Domingo                    NaN                NaN
20     Domingo                    NaN                NaN
21     Domingo                4-2-3-1            4-1-4-1
22     Sabado                 4-2-3-1            4-2-3-1
24     Quarta-feira               NaN                NaN
       Quarta-feira               NaN                NaN
       Sabado                     NaN                NaN
25     Quarta-feira               NaN                NaN
       Sabado                 4-2-3-1              4-4-2
26     Sabado                     NaN                NaN
28     Domingo                    NaN                NaN
       Domingo                    NaN                NaN
       Terça-feira              4-3-3            4-2-3-1
30     Quarta-feira               NaN                NaN
31     Quarta-feira               NaN                NaN
32     Domingo                4-1-4-1            4-1-4-1
33     Domingo                    NaN                NaN
34     Domingo                    NaN                NaN
       Domingo                4-2-2-2            4-2-3-1
35     Domingo                    NaN                NaN
       Quarta-feira               NaN                NaN
       Quinta-feira           4-2-3-1            4-2-3-1
36     Domingo                    NaN                NaN
38     Domingo                4-2-3-1            4-2-3-1
42     Domingo                    NaN                NaN

                              tecnico_mandante          tecnico_visitante  \
rodada dia
3      Domingo                     A. Ferreira                A. Ferreira
5      Domingo              R. Machado Marques         R. Machado Marques
14     Domingo                   Renato Gaúcho              Renato Gaúcho
15     Sabado                              NaN                        NaN
17     Sabado                A. da Silva Braga          A. da Silva Braga
18     Domingo                             NaN                        NaN
20     Domingo                             NaN                        NaN
21     Domingo            M. Nogueira Barbieri       M. Nogueira Barbieri
22     Sabado                 T. Mendes Larghi           T. Mendes Larghi
24     Quarta-feira                        NaN                        NaN
       Quarta-feira                        NaN                        NaN
       Sabado                              NaN                        NaN
25     Quarta-feira                        NaN                        NaN
       Sabado                    P. Carpegiani              P. Carpegiani
26     Sabado                        G. Kleina                  G. Kleina
28     Domingo            C. Borges dos Santos       C. Borges dos Santos
       Domingo                             NaN                        NaN
       Terça-feira   A. Valentim do Carmo Neto  A. Valentim do Carmo Neto
30     Quarta-feira                   A. Fucks                   A. Fucks
31     Quarta-feira                        NaN                        NaN
32     Domingo                   P. Carpegiani              P. Carpegiani
33     Domingo                             NaN                        NaN
34     Domingo                             NaN                        NaN
       Domingo             D. Silvestre Júnior        D. Silvestre Júnior
35     Domingo                             NaN                        NaN
       Quarta-feira                        NaN                        NaN
       Quinta-feira           S. Campos Junior           S. Campos Junior
36     Domingo                             NaN                        NaN
38     Domingo                    E. de Barros               E. de Barros
42     Domingo                             NaN                        NaN

                          vencedor                         arena  \
rodada dia
3      Domingo                   -                      mineirao
5      Domingo                   -                       morumbi
14     Domingo               Vasco         estadio vasco da gama
15     Sabado              Nautico                  vila belmiro
17     Sabado          Atletico-MG      estadio raimundo sampaio
18     Domingo                   -                      maracana
20     Domingo                   -                      maracana
21     Domingo                   -      estadio raimundo sampaio
22     Sabado                    -             neo quimica arena
24     Quarta-feira   Athletico-PR              arena da baixada
       Quarta-feira     Fluminense                       caninde
       Sabado          Botafogo-RJ                 couto pereira
25     Quarta-feira              -                      maracana
       Sabado                Ceara                arena castelao
26     Sabado                    -  estadio nacional de brasilia
28     Domingo       Internacional   estadio jose pinheiro borda
       Domingo            Flamengo                      engenhao
       Terça-feira               -         estadio nilton santos
30     Quarta-feira         Gremio               arena do gremio
31     Quarta-feira    Figueirense                     beira rio
32     Domingo                   -                 vila capanema
33     Domingo                   -            eduardo jose farah
34     Domingo                   -                alfredo jaconi
       Domingo                   -               arena joinville
35     Domingo             Barueri                 arena barueri
       Quarta-feira              -                      castelao
       Quinta-feira          Ceara                arena castelao
36     Domingo                Avai                     ressacada
38     Domingo                   -                     ressacada
42     Domingo            Flamengo                    mangueirao

                     mandante_placar  visitante_placar mandante_estado  \
rodada dia
3      Domingo                     1                 1              MG
5      Domingo                     0                 0              SP
14     Domingo                     1                 0              RJ
15     Sabado                      1                 2              SP
17     Sabado                      1                 0              MG
18     Domingo                     1                 1              RJ
20     Domingo                     1                 1              RJ
21     Domingo                     2                 2              MG
22     Sabado                      1                 1              SP
24     Quarta-feira                1                 0              PR
       Quarta-feira                0                 2              SP
       Sabado                      0                 1              PR
25     Quarta-feira                1                 1              RJ
       Sabado                      2                 0              CE
26     Sabado                      1                 1              RJ
28     Domingo                     2                 1              RS
       Domingo                     3                 2              RJ
       Terça-feira                 1                 1              RJ
30     Quarta-feira                1                 0              RS
31     Quarta-feira                2                 3              RS
32     Domingo                     1                 1              PR
33     Domingo                     2                 2              SP
34     Domingo                     2                 2              RS
       Domingo                     0                 0              SC
35     Domingo                     3                 0              SP
       Quarta-feira                2                 2              CE
       Quinta-feira                2                 1              CE
36     Domingo                     3                 0              SC
38     Domingo                     0                 0              SC
42     Domingo                     1                 4              PA

                    visitante_estado estado_vencedor
rodada dia
3      Domingo                    SP               -
5      Domingo                    BA               -
14     Domingo                    RS              RJ
15     Sabado                     PE              PE
17     Sabado                     RS              MG
18     Domingo                    PE               -
20     Domingo                    RS               -
21     Domingo                    RJ               -
22     Sabado                     MG               -
24     Quarta-feira               PR              PR
       Quarta-feira               RJ              RJ
       Sabado                     RJ              RJ
25     Quarta-feira               RJ               -
       Sabado                     BA              CE
26     Sabado                     BA               -
28     Domingo                    RJ              RS
       Domingo                    RJ              RJ
       Terça-feira                RJ               -
30     Quarta-feira               SC              RS
31     Quarta-feira               SC              SC
32     Domingo                    BA               -
33     Domingo                    SP               -
34     Domingo                    CE               -
       Domingo                    SP               -
35     Domingo                    RJ              SP
       Quarta-feira               RS               -
       Quinta-feira               SP              CE
36     Domingo                    GO              SC
38     Domingo                    PR               -
42     Domingo                    RJ              RJ

In [30]:
# Após a analise podemos resetar o  nosso index, utilizando o .reset_index()
df_sample.reset_index(inplace=True)

In [31]:
# Agora quero analisar, se o dia que ocorre a partida influencia na quantidade de gols que o mandante placar faz, isso porque em dias de semana 
# Normalmente tem menos torcida, então basicamente estamos fazendo uma análise da influência da quantidade de torcida no numero de gols. 
df_sample.set_index(["dia" , "mandante_placar"], inplace=True)

In [32]:
df_sample.head(30) # Visualizar informações da amostra.

                              rodada    ID        data   hora       mandante  \
dia          mandante_placar
Domingo      2                    21  6332  2018-08-26  16:00     America-MG
             3                    36  3445  2010-11-21  19:30           Avai
Quarta-feira 1                    24   278  2003-08-06  20:30   Athletico-PR
             0                    24  4077  2012-09-12  19:30     Portuguesa
Domingo      2                    28  4702  2014-10-12  16:01  Internacional
Quinta-feira 2                    35  7609  2021-11-11  20:03          Ceara
Sabado       1                    26  4869  2014-10-04  16:21     Fluminense
             1                    22  6339  2018-09-01  21:00    Corinthians
             1                    17  4777  2014-08-23  18:29    Atletico-MG
Domingo      3                    35  3053  2009-11-15  17:00        Barueri
             2                    33  3030  2009-11-01  16:00      Palmeiras
             1                     3  5015  2015-05-24  18:30       Cruzeiro
             1                    32  6440  2018-11-04  17:01         Parana
Quarta-feira 2                    35   410  2003-10-08  20:30      Fortaleza
             1                    25  4471  2013-10-02  21:00     Fluminense
Sabado       1                    15  2097  2007-07-28  18:10         Santos
             2                    25  6366  2018-09-15  16:00          Ceara
             0                    24  2566  2008-09-06  18:20       Coritiba
Domingo      1                    20  2154  2007-08-19  18:10    Botafogo-RJ
             1                    18  1739  2006-08-20  16:00     Fluminense
             3                    28  3743  2011-10-09  16:00       Flamengo
Quarta-feira 1                    30  4902  2014-10-22  20:58         Gremio
Domingo      0                     5  6549  2019-05-19  11:02      Sao Paulo
             2                    34   405  2003-10-05  16:00      Juventude
Terça-feira  1                    28  6404  2018-10-09  21:00    Botafogo-RJ
Domingo      0                    38  6884  2019-12-08  16:08           Avai
             1                    42  1557  2005-12-04  16:00       Paysandu
             1                    14  6258  2018-07-22  16:00          Vasco
Quarta-feira 2                    31  4148  2012-10-17  19:30  Internacional
Domingo      0                    34  5325  2015-11-08  18:01      Joinville

                                  visitante formacao_mandante  \
dia          mandante_placar
Domingo      2                     Flamengo           4-2-3-1
             3                  Atletico-GO               NaN
Quarta-feira 1                       Parana               NaN
             0                   Fluminense               NaN
Domingo      2                   Fluminense               NaN
Quinta-feira 2                  Corinthians           4-2-3-1
Sabado       1                        Bahia               NaN
             1                  Atletico-MG           4-2-3-1
             1                Internacional               NaN
Domingo      3                  Botafogo-RJ               NaN
             2                  Corinthians               NaN
             1                  Ponte Preta           4-3-2-1
             1                      Vitoria           4-1-4-1
Quarta-feira 2                       Gremio               NaN
             1                  Botafogo-RJ               NaN
Sabado       1                      Nautico               NaN
             2                      Vitoria           4-2-3-1
             0                  Botafogo-RJ               NaN
Domingo      1                Internacional               NaN
             1                   Santa Cruz               NaN
             3                   Fluminense               NaN
Quarta-feira 1                  Figueirense               NaN
Domingo      0                        Bahia           4-2-3-1
             2                    Fortaleza               NaN
Terça-feira  1                        Vasco             4-3-3
Domingo      0                 Athletico-PR           4-2-3-1
             1                     Flamengo               NaN
             1                       Gremio           4-2-3-1
Quarta-feira 2                  Figueirense               NaN
Domingo      0                       Santos           4-2-2-2

                             formacao_visitante           tecnico_mandante  \
dia          mandante_placar
Domingo      2                          4-1-4-1       M. Nogueira Barbieri
             3                              NaN                        NaN
Quarta-feira 1                              NaN                        NaN
             0                              NaN                        NaN
Domingo      2                              NaN       C. Borges dos Santos
Quinta-feira 2                          4-2-3-1           S. Campos Junior
Sabado       1                              NaN                  G. Kleina
             1                          4-2-3-1           T. Mendes Larghi
             1                              NaN          A. da Silva Braga
Domingo      3                              NaN                        NaN
             2                              NaN                        NaN
             1                          4-2-3-1                A. Ferreira
             1                          4-1-4-1              P. Carpegiani
Quarta-feira 2                              NaN                        NaN
             1                              NaN                        NaN
Sabado       1                              NaN                        NaN
             2                            4-4-2              P. Carpegiani
             0                              NaN                        NaN
Domingo      1                              NaN                        NaN
             1                              NaN                        NaN
             3                              NaN                        NaN
Quarta-feira 1                              NaN                   A. Fucks
Domingo      0                            4-3-3         R. Machado Marques
             2                              NaN                        NaN
Terça-feira  1                          4-2-3-1  A. Valentim do Carmo Neto
Domingo      0                          4-2-3-1               E. de Barros
             1                              NaN                        NaN
             1                          4-2-3-1              Renato Gaúcho
Quarta-feira 2                              NaN                        NaN
Domingo      0                          4-2-3-1        D. Silvestre Júnior

                                      tecnico_visitante       vencedor  \
dia          mandante_placar
Domingo      2                     M. Nogueira Barbieri              -
             3                                      NaN           Avai
Quarta-feira 1                                      NaN   Athletico-PR
             0                                      NaN     Fluminense
Domingo      2                     C. Borges dos Santos  Internacional
Quinta-feira 2                         S. Campos Junior          Ceara
Sabado       1                                G. Kleina              -
             1                         T. Mendes Larghi              -
             1                        A. da Silva Braga    Atletico-MG
Domingo      3                                      NaN        Barueri
             2                                      NaN              -
             1                              A. Ferreira              -
             1                            P. Carpegiani              -
Quarta-feira 2                                      NaN              -
             1                                      NaN              -
Sabado       1                                      NaN        Nautico
             2                            P. Carpegiani          Ceara
             0                                      NaN    Botafogo-RJ
Domingo      1                                      NaN              -
             1                                      NaN              -
             3                                      NaN       Flamengo
Quarta-feira 1                                 A. Fucks         Gremio
Domingo      0                       R. Machado Marques              -
             2                                      NaN              -
Terça-feira  1                A. Valentim do Carmo Neto              -
Domingo      0                             E. de Barros              -
             1                                      NaN       Flamengo
             1                            Renato Gaúcho          Vasco
Quarta-feira 2                                      NaN    Figueirense
Domingo      0                      D. Silvestre Júnior              -

                                                     arena  visitante_placar  \
dia          mandante_placar
Domingo      2                    estadio raimundo sampaio                 2
             3                                   ressacada                 0
Quarta-feira 1                            arena da baixada                 0
             0                                     caninde                 2
Domingo      2                 estadio jose pinheiro borda                 1
Quinta-feira 2                              arena castelao                 1
Sabado       1                estadio nacional de brasilia                 1
             1                           neo quimica arena                 1
             1                    estadio raimundo sampaio                 0
Domingo      3                               arena barueri                 0
             2                          eduardo jose farah                 2
             1                                    mineirao                 1
             1                               vila capanema                 1
Quarta-feira 2                                    castelao                 2
             1                                    maracana                 1
Sabado       1                                vila belmiro                 2
             2                              arena castelao                 0
             0                               couto pereira                 1
Domingo      1                                    maracana                 1
             1                                    maracana                 1
             3                                    engenhao                 2
Quarta-feira 1                             arena do gremio                 0
Domingo      0                                     morumbi                 0
             2                              alfredo jaconi                 2
Terça-feira  1                       estadio nilton santos                 1
Domingo      0                                   ressacada                 0
             1                                  mangueirao                 4
             1                       estadio vasco da gama                 0
Quarta-feira 2                                   beira rio                 3
Domingo      0                             arena joinville                 0

                             mandante_estado visitante_estado estado_vencedor
dia          mandante_placar
Domingo      2                            MG               RJ               -
             3                            SC               GO              SC
Quarta-feira 1                            PR               PR              PR
             0                            SP               RJ              RJ
Domingo      2                            RS               RJ              RS
Quinta-feira 2                            CE               SP              CE
Sabado       1                            RJ               BA               -
             1                            SP               MG               -
             1                            MG               RS              MG
Domingo      3                            SP               RJ              SP
             2                            SP               SP               -
             1                            MG               SP               -
             1                            PR               BA               -
Quarta-feira 2                            CE               RS               -
             1                            RJ               RJ               -
Sabado       1                            SP               PE              PE
             2                            CE               BA              CE
             0                            PR               RJ              RJ
Domingo      1                            RJ               RS               -
             1                            RJ               PE               -
             3                            RJ               RJ              RJ
Quarta-feira 1                            RS               SC              RS
Domingo      0                            SP               BA               -
             2                            RS               CE               -
Terça-feira  1                            RJ               RJ               -
Domingo      0                            SC               PR               -
             1                            PA               RJ              RJ
             1                            RJ               RS              RJ
Quarta-feira 2                            RS               SC              SC
Domingo      0                            SC               SP               -

In [33]:
df_sample.sort_index(inplace=True)# Organizando para facilitar a visualização, e salvando a ordenação do dataFrame.

In [34]:
df_sample.head(30) # Visualizando organizado

                              rodada    ID        data   hora       mandante  \
dia          mandante_placar
Domingo      0                     5  6549  2019-05-19  11:02      Sao Paulo
             0                    38  6884  2019-12-08  16:08           Avai
             0                    34  5325  2015-11-08  18:01      Joinville
             1                     3  5015  2015-05-24  18:30       Cruzeiro
             1                    32  6440  2018-11-04  17:01         Parana
             1                    20  2154  2007-08-19  18:10    Botafogo-RJ
             1                    18  1739  2006-08-20  16:00     Fluminense
             1                    42  1557  2005-12-04  16:00       Paysandu
             1                    14  6258  2018-07-22  16:00          Vasco
             2                    21  6332  2018-08-26  16:00     America-MG
             2                    28  4702  2014-10-12  16:01  Internacional
             2                    33  3030  2009-11-01  16:00      Palmeiras
             2                    34   405  2003-10-05  16:00      Juventude
             3                    36  3445  2010-11-21  19:30           Avai
             3                    35  3053  2009-11-15  17:00        Barueri
             3                    28  3743  2011-10-09  16:00       Flamengo
Quarta-feira 0                    24  4077  2012-09-12  19:30     Portuguesa
             1                    24   278  2003-08-06  20:30   Athletico-PR
             1                    25  4471  2013-10-02  21:00     Fluminense
             1                    30  4902  2014-10-22  20:58         Gremio
             2                    35   410  2003-10-08  20:30      Fortaleza
             2                    31  4148  2012-10-17  19:30  Internacional
Quinta-feira 2                    35  7609  2021-11-11  20:03          Ceara
Sabado       0                    24  2566  2008-09-06  18:20       Coritiba
             1                    26  4869  2014-10-04  16:21     Fluminense
             1                    22  6339  2018-09-01  21:00    Corinthians
             1                    17  4777  2014-08-23  18:29    Atletico-MG
             1                    15  2097  2007-07-28  18:10         Santos
             2                    25  6366  2018-09-15  16:00          Ceara
Terça-feira  1                    28  6404  2018-10-09  21:00    Botafogo-RJ

                                  visitante formacao_mandante  \
dia          mandante_placar
Domingo      0                        Bahia           4-2-3-1
             0                 Athletico-PR           4-2-3-1
             0                       Santos           4-2-2-2
             1                  Ponte Preta           4-3-2-1
             1                      Vitoria           4-1-4-1
             1                Internacional               NaN
             1                   Santa Cruz               NaN
             1                     Flamengo               NaN
             1                       Gremio           4-2-3-1
             2                     Flamengo           4-2-3-1
             2                   Fluminense               NaN
             2                  Corinthians               NaN
             2                    Fortaleza               NaN
             3                  Atletico-GO               NaN
             3                  Botafogo-RJ               NaN
             3                   Fluminense               NaN
Quarta-feira 0                   Fluminense               NaN
             1                       Parana               NaN
             1                  Botafogo-RJ               NaN
             1                  Figueirense               NaN
             2                       Gremio               NaN
             2                  Figueirense               NaN
Quinta-feira 2                  Corinthians           4-2-3-1
Sabado       0                  Botafogo-RJ               NaN
             1                        Bahia               NaN
             1                  Atletico-MG           4-2-3-1
             1                Internacional               NaN
             1                      Nautico               NaN
             2                      Vitoria           4-2-3-1
Terça-feira  1                        Vasco             4-3-3

                             formacao_visitante           tecnico_mandante  \
dia          mandante_placar
Domingo      0                            4-3-3         R. Machado Marques
             0                          4-2-3-1               E. de Barros
             0                          4-2-3-1        D. Silvestre Júnior
             1                          4-2-3-1                A. Ferreira
             1                          4-1-4-1              P. Carpegiani
             1                              NaN                        NaN
             1                              NaN                        NaN
             1                              NaN                        NaN
             1                          4-2-3-1              Renato Gaúcho
             2                          4-1-4-1       M. Nogueira Barbieri
             2                              NaN       C. Borges dos Santos
             2                              NaN                        NaN
             2                              NaN                        NaN
             3                              NaN                        NaN
             3                              NaN                        NaN
             3                              NaN                        NaN
Quarta-feira 0                              NaN                        NaN
             1                              NaN                        NaN
             1                              NaN                        NaN
             1                              NaN                   A. Fucks
             2                              NaN                        NaN
             2                              NaN                        NaN
Quinta-feira 2                          4-2-3-1           S. Campos Junior
Sabado       0                              NaN                        NaN
             1                              NaN                  G. Kleina
             1                          4-2-3-1           T. Mendes Larghi
             1                              NaN          A. da Silva Braga
             1                              NaN                        NaN
             2                            4-4-2              P. Carpegiani
Terça-feira  1                          4-2-3-1  A. Valentim do Carmo Neto

                                      tecnico_visitante       vencedor  \
dia          mandante_placar
Domingo      0                       R. Machado Marques              -
             0                             E. de Barros              -
             0                      D. Silvestre Júnior              -
             1                              A. Ferreira              -
             1                            P. Carpegiani              -
             1                                      NaN              -
             1                                      NaN              -
             1                                      NaN       Flamengo
             1                            Renato Gaúcho          Vasco
             2                     M. Nogueira Barbieri              -
             2                     C. Borges dos Santos  Internacional
             2                                      NaN              -
             2                                      NaN              -
             3                                      NaN           Avai
             3                                      NaN        Barueri
             3                                      NaN       Flamengo
Quarta-feira 0                                      NaN     Fluminense
             1                                      NaN   Athletico-PR
             1                                      NaN              -
             1                                 A. Fucks         Gremio
             2                                      NaN              -
             2                                      NaN    Figueirense
Quinta-feira 2                         S. Campos Junior          Ceara
Sabado       0                                      NaN    Botafogo-RJ
             1                                G. Kleina              -
             1                         T. Mendes Larghi              -
             1                        A. da Silva Braga    Atletico-MG
             1                                      NaN        Nautico
             2                            P. Carpegiani          Ceara
Terça-feira  1                A. Valentim do Carmo Neto              -

                                                     arena  visitante_placar  \
dia          mandante_placar
Domingo      0                                     morumbi                 0
             0                                   ressacada                 0
             0                             arena joinville                 0
             1                                    mineirao                 1
             1                               vila capanema                 1
             1                                    maracana                 1
             1                                    maracana                 1
             1                                  mangueirao                 4
             1                       estadio vasco da gama                 0
             2                    estadio raimundo sampaio                 2
             2                 estadio jose pinheiro borda                 1
             2                          eduardo jose farah                 2
             2                              alfredo jaconi                 2
             3                                   ressacada                 0
             3                               arena barueri                 0
             3                                    engenhao                 2
Quarta-feira 0                                     caninde                 2
             1                            arena da baixada                 0
             1                                    maracana                 1
             1                             arena do gremio                 0
             2                                    castelao                 2
             2                                   beira rio                 3
Quinta-feira 2                              arena castelao                 1
Sabado       0                               couto pereira                 1
             1                estadio nacional de brasilia                 1
             1                           neo quimica arena                 1
             1                    estadio raimundo sampaio                 0
             1                                vila belmiro                 2
             2                              arena castelao                 0
Terça-feira  1                       estadio nilton santos                 1

                             mandante_estado visitante_estado estado_vencedor
dia          mandante_placar
Domingo      0                            SP               BA               -
             0                            SC               PR               -
             0                            SC               SP               -
             1                            MG               SP               -
             1                            PR               BA               -
             1                            RJ               RS               -
             1                            RJ               PE               -
             1                            PA               RJ              RJ
             1                            RJ               RS              RJ
             2                            MG               RJ               -
             2                            RS               RJ              RS
             2                            SP               SP               -
             2                            RS               CE               -
             3                            SC               GO              SC
             3                            SP               RJ              SP
             3                            RJ               RJ              RJ
Quarta-feira 0                            SP               RJ              RJ
             1                            PR               PR              PR
             1                            RJ               RJ               -
             1                            RS               SC              RS
             2                            CE               RS               -
             2                            RS               SC              SC
Quinta-feira 2                            CE               SP              CE
Sabado       0                            PR               RJ              RJ
             1                            RJ               BA               -
             1                            SP               MG               -
             1                            MG               RS              MG
             1                            SP               PE              PE
             2                            CE               BA              CE
Terça-feira  1                            RJ               RJ               -

In [35]:
# Aparantemente, não a quantidade de torcida não infuencia muito.

In [36]:
# Continuando, temos um método interessante, chamado swaplevel,documentação =  DataFrame.swaplevel(i=- 2, j=- 1, axis=0)
df_sample.swaplevel() # Este método, troca os niveis de hierarquia, dos index, acima vemos o "dia", como primeiro nível.

                              rodada    ID        data   hora       mandante  \
mandante_placar dia
0               Domingo            5  6549  2019-05-19  11:02      Sao Paulo
                Domingo           38  6884  2019-12-08  16:08           Avai
                Domingo           34  5325  2015-11-08  18:01      Joinville
1               Domingo            3  5015  2015-05-24  18:30       Cruzeiro
                Domingo           32  6440  2018-11-04  17:01         Parana
                Domingo           20  2154  2007-08-19  18:10    Botafogo-RJ
                Domingo           18  1739  2006-08-20  16:00     Fluminense
                Domingo           42  1557  2005-12-04  16:00       Paysandu
                Domingo           14  6258  2018-07-22  16:00          Vasco
2               Domingo           21  6332  2018-08-26  16:00     America-MG
                Domingo           28  4702  2014-10-12  16:01  Internacional
                Domingo           33  3030  2009-11-01  16:00      Palmeiras
                Domingo           34   405  2003-10-05  16:00      Juventude
3               Domingo           36  3445  2010-11-21  19:30           Avai
                Domingo           35  3053  2009-11-15  17:00        Barueri
                Domingo           28  3743  2011-10-09  16:00       Flamengo
0               Quarta-feira      24  4077  2012-09-12  19:30     Portuguesa
1               Quarta-feira      24   278  2003-08-06  20:30   Athletico-PR
                Quarta-feira      25  4471  2013-10-02  21:00     Fluminense
                Quarta-feira      30  4902  2014-10-22  20:58         Gremio
2               Quarta-feira      35   410  2003-10-08  20:30      Fortaleza
                Quarta-feira      31  4148  2012-10-17  19:30  Internacional
                Quinta-feira      35  7609  2021-11-11  20:03          Ceara
0               Sabado            24  2566  2008-09-06  18:20       Coritiba
1               Sabado            26  4869  2014-10-04  16:21     Fluminense
                Sabado            22  6339  2018-09-01  21:00    Corinthians
                Sabado            17  4777  2014-08-23  18:29    Atletico-MG
                Sabado            15  2097  2007-07-28  18:10         Santos
2               Sabado            25  6366  2018-09-15  16:00          Ceara
1               Terça-feira       28  6404  2018-10-09  21:00    Botafogo-RJ

                                  visitante formacao_mandante  \
mandante_placar dia
0               Domingo               Bahia           4-2-3-1
                Domingo        Athletico-PR           4-2-3-1
                Domingo              Santos           4-2-2-2
1               Domingo         Ponte Preta           4-3-2-1
                Domingo             Vitoria           4-1-4-1
                Domingo       Internacional               NaN
                Domingo          Santa Cruz               NaN
                Domingo            Flamengo               NaN
                Domingo              Gremio           4-2-3-1
2               Domingo            Flamengo           4-2-3-1
                Domingo          Fluminense               NaN
                Domingo         Corinthians               NaN
                Domingo           Fortaleza               NaN
3               Domingo         Atletico-GO               NaN
                Domingo         Botafogo-RJ               NaN
                Domingo          Fluminense               NaN
0               Quarta-feira     Fluminense               NaN
1               Quarta-feira         Parana               NaN
                Quarta-feira    Botafogo-RJ               NaN
                Quarta-feira    Figueirense               NaN
2               Quarta-feira         Gremio               NaN
                Quarta-feira    Figueirense               NaN
                Quinta-feira    Corinthians           4-2-3-1
0               Sabado          Botafogo-RJ               NaN
1               Sabado                Bahia               NaN
                Sabado          Atletico-MG           4-2-3-1
                Sabado        Internacional               NaN
                Sabado              Nautico               NaN
2               Sabado              Vitoria           4-2-3-1
1               Terça-feira           Vasco             4-3-3

                             formacao_visitante           tecnico_mandante  \
mandante_placar dia
0               Domingo                   4-3-3         R. Machado Marques
                Domingo                 4-2-3-1               E. de Barros
                Domingo                 4-2-3-1        D. Silvestre Júnior
1               Domingo                 4-2-3-1                A. Ferreira
                Domingo                 4-1-4-1              P. Carpegiani
                Domingo                     NaN                        NaN
                Domingo                     NaN                        NaN
                Domingo                     NaN                        NaN
                Domingo                 4-2-3-1              Renato Gaúcho
2               Domingo                 4-1-4-1       M. Nogueira Barbieri
                Domingo                     NaN       C. Borges dos Santos
                Domingo                     NaN                        NaN
                Domingo                     NaN                        NaN
3               Domingo                     NaN                        NaN
                Domingo                     NaN                        NaN
                Domingo                     NaN                        NaN
0               Quarta-feira                NaN                        NaN
1               Quarta-feira                NaN                        NaN
                Quarta-feira                NaN                        NaN
                Quarta-feira                NaN                   A. Fucks
2               Quarta-feira                NaN                        NaN
                Quarta-feira                NaN                        NaN
                Quinta-feira            4-2-3-1           S. Campos Junior
0               Sabado                      NaN                        NaN
1               Sabado                      NaN                  G. Kleina
                Sabado                  4-2-3-1           T. Mendes Larghi
                Sabado                      NaN          A. da Silva Braga
                Sabado                      NaN                        NaN
2               Sabado                    4-4-2              P. Carpegiani
1               Terça-feira             4-2-3-1  A. Valentim do Carmo Neto

                                      tecnico_visitante       vencedor  \
mandante_placar dia
0               Domingo              R. Machado Marques              -
                Domingo                    E. de Barros              -
                Domingo             D. Silvestre Júnior              -
1               Domingo                     A. Ferreira              -
                Domingo                   P. Carpegiani              -
                Domingo                             NaN              -
                Domingo                             NaN              -
                Domingo                             NaN       Flamengo
                Domingo                   Renato Gaúcho          Vasco
2               Domingo            M. Nogueira Barbieri              -
                Domingo            C. Borges dos Santos  Internacional
                Domingo                             NaN              -
                Domingo                             NaN              -
3               Domingo                             NaN           Avai
                Domingo                             NaN        Barueri
                Domingo                             NaN       Flamengo
0               Quarta-feira                        NaN     Fluminense
1               Quarta-feira                        NaN   Athletico-PR
                Quarta-feira                        NaN              -
                Quarta-feira                   A. Fucks         Gremio
2               Quarta-feira                        NaN              -
                Quarta-feira                        NaN    Figueirense
                Quinta-feira           S. Campos Junior          Ceara
0               Sabado                              NaN    Botafogo-RJ
1               Sabado                        G. Kleina              -
                Sabado                 T. Mendes Larghi              -
                Sabado                A. da Silva Braga    Atletico-MG
                Sabado                              NaN        Nautico
2               Sabado                    P. Carpegiani          Ceara
1               Terça-feira   A. Valentim do Carmo Neto              -

                                                     arena  visitante_placar  \
mandante_placar dia
0               Domingo                            morumbi                 0
                Domingo                          ressacada                 0
                Domingo                    arena joinville                 0
1               Domingo                           mineirao                 1
                Domingo                      vila capanema                 1
                Domingo                           maracana                 1
                Domingo                           maracana                 1
                Domingo                         mangueirao                 4
                Domingo              estadio vasco da gama                 0
2               Domingo           estadio raimundo sampaio                 2
                Domingo        estadio jose pinheiro borda                 1
                Domingo                 eduardo jose farah                 2
                Domingo                     alfredo jaconi                 2
3               Domingo                          ressacada                 0
                Domingo                      arena barueri                 0
                Domingo                           engenhao                 2
0               Quarta-feira                       caninde                 2
1               Quarta-feira              arena da baixada                 0
                Quarta-feira                      maracana                 1
                Quarta-feira               arena do gremio                 0
2               Quarta-feira                      castelao                 2
                Quarta-feira                     beira rio                 3
                Quinta-feira                arena castelao                 1
0               Sabado                       couto pereira                 1
1               Sabado        estadio nacional de brasilia                 1
                Sabado                   neo quimica arena                 1
                Sabado            estadio raimundo sampaio                 0
                Sabado                        vila belmiro                 2
2               Sabado                      arena castelao                 0
1               Terça-feira          estadio nilton santos                 1

                             mandante_estado visitante_estado estado_vencedor
mandante_placar dia
0               Domingo                   SP               BA               -
                Domingo                   SC               PR               -
                Domingo                   SC               SP               -
1               Domingo                   MG               SP               -
                Domingo                   PR               BA               -
                Domingo                   RJ               RS               -
                Domingo                   RJ               PE               -
                Domingo                   PA               RJ              RJ
                Domingo                   RJ               RS              RJ
2               Domingo                   MG               RJ               -
                Domingo                   RS               RJ              RS
                Domingo                   SP               SP               -
                Domingo                   RS               CE               -
3               Domingo                   SC               GO              SC
                Domingo                   SP               RJ              SP
                Domingo                   RJ               RJ              RJ
0               Quarta-feira              SP               RJ              RJ
1               Quarta-feira              PR               PR              PR
                Quarta-feira              RJ               RJ               -
                Quarta-feira              RS               SC              RS
2               Quarta-feira              CE               RS               -
                Quarta-feira              RS               SC              SC
                Quinta-feira              CE               SP              CE
0               Sabado                    PR               RJ              RJ
1               Sabado                    RJ               BA               -
                Sabado                    SP               MG               -
                Sabado                    MG               RS              MG
                Sabado                    SP               PE              PE
2               Sabado                    CE               BA              CE
1               Terça-feira               RJ               RJ               -

**Manipulando strings**

In [37]:
nome = "Leo"

In [38]:
type(nome) # Tipo da variável.

str

In [39]:
len(nome) # Tamanho da palavra

3

In [40]:
nome.lower() # Todas as letras minúsculas.

'leo'

In [41]:
nome.title() # Primeira letra de cada palavra em maiuscula.

'Leo'

In [42]:
# Existem inumeras formas de manipular, com as funções built-in functions, e não é necessário decorar todas, basta saber o que precisa 
# E a forma de procurar a função que realiza o que voce precisa no dado momento.

In [43]:
nome.split(" ") # Quebrar o espaço vazio. Para palavras compostas. separando os elementos.

['Leo']

In [44]:
# substituir palavras 
time = "São Paulo"

In [45]:
time.replace("Paulo", "Tricolorrrrr") # Passamos primeiro parâmetro a palavra a ser substituida e o segundo a palavara substituta.

'São Tricolorrrrr'

** Entendendo e Criando Séries no Pandas**

In [46]:
# Basicamente as séries, são as colunas de forma isolada, isto é, todo tipo de agrupamento de dados que tenha 
# independente do número de linhas, apenas uma coluna. Logo, para nós séries é o tipo de dados das colunas quando 
# essas são trabalhadas de forma isolada.

In [47]:
df_fut.head(4)

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-

In [48]:
df_fut["dia"]

0        Sabado
1        Sabado
2       Domingo
3       Domingo
4       Domingo
         ...
7640    Domingo
7641    Domingo
7642    Domingo
7643    Domingo
7644    Domingo
Name: dia, Length: 7645, dtype: object

In [49]:
# Se eu analisar o type da coluna dia. 
type(df_fut["dia"]) # Veremos que é uma serie.

pandas.core.series.Series

In [50]:
#Podemos armazenar essa serie, em uma variavel: 
dia = df_fut["dia"]

In [51]:
# Se quisermos aplicar o .info, precisamos transformar a série em frame, para isso usamos: to_frame 
dia.to_frame().info() # Assim conseguimos ver que as observações de forma isolada, dentro dessa coluna são do tipo objeto

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7645 entries, 0 to 7644
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dia     7645 non-null   object
dtypes: object(1)
memory usage: 59.9+ KB

In [52]:
# podemos ver quantos index temos 
dia.index

RangeIndex(start=0, stop=7645, step=1)

In [53]:
# Podemos também aplicar o .describe (se transformarmos em uma frame), para séries com valores numéricos. 
gols_mandante = df_fut["mandante_placar"]

In [54]:
# Novamente, podemos transformar em frame, e usar o info, para ver se as observações dessa coluna são do tipo int. 
gols_mandante.to_frame().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7645 entries, 0 to 7644
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mandante_placar  7645 non-null   int64
dtypes: int64(1)
memory usage: 59.9 KB

In [55]:
# Agora que ja transformamos em frame, podemos utilizar o .describe, para ver as estatísticas de gols feitos pelos mandantes dos jogos do brasileirão.
gols_mandante.to_frame().describe()

       mandante_placar
count      7645.000000
mean          1.554088
std           1.234262
min           0.000000
25%           1.000000
50%           1.000000
75%           2.000000
max           7.000000

In [56]:
# A partir disso, podmemos investigar com os métodos que ja conhecemos
len(gols_mandante) # Vendo a quantidade de informações.

7645

In [57]:
# Podemos ver quais os resultados que ja ocorreram, isto é, quais os números que pelo menos uma vez, ja representaram, o placar do mandante. 
gols_mandante.unique()

array([4, 2, 1, 0, 3, 6, 7, 5])

In [58]:
# Ou, ver quantos números diferentes, ja ocorreram. 
gols_mandante.nunique()

8

In [59]:
# E até mais interessante, no meu ponto de vista, podemos ver quantas ocasiões ocorreram os diferentes placares do mandante. 
gols_mandante.value_counts()

1    2591
2    1951
0    1559
3     997
4     386
5     119
6      36
7       6
Name: mandante_placar, dtype: int64

In [60]:
# Por padrão, ele nos retorna em ordem decrescente, isto é, o ascending = False, mas podemos mudar isso: 
gols_mandante.value_counts(ascending=True)

7       6
6      36
5     119
4     386
3     997
0    1559
2    1951
1    2591
Name: mandante_placar, dtype: int64

In [61]:
# Podemos também quebrar o numero de gols, em classes, utilizando o parâmetro bins. 
gols_mandante.value_counts(ascending=True, bins=10)

(2.1, 2.8]          0
(4.2, 4.9]          0
(6.3, 7.0]          6
(5.6, 6.3]         36
(4.9, 5.6]        119
(3.5, 4.2]        386
(2.8, 3.5]        997
(-0.008, 0.7]    1559
(1.4, 2.1]       1951
(0.7, 1.4]       2591
Name: mandante_placar, dtype: int64

Criando Séries

In [62]:
# Há diversas maneiras de criarmos uma série. 
df.head()

     Nome  Segunda  Terça  Quarta  Quinta  Sexta  Sabado  Domingo
0  Victor        2      3       1       3      0       0        3
1  Amanda        0      3       0       4      3       1        2
2    Luis        1      2       4       5      6       0        0
3   Júlia        1      1       2       0      0       1        2

In [63]:
# Criando séries, escolhendo uma coluna do df. 
nome = df["Nome"]

In [65]:
type(nome) # Conferindo

pandas.core.series.Series

In [69]:
# Através da documentação = class pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
lista_nome = ["Victor", "Amanda", "Luis", "Júlia"] # Criando uma lista 
serie_lista = pd.Series(data=lista_nome) # Transformando a lista em série

In [72]:
type(serie_lista) # Conferindo

pandas.core.series.Series

In [74]:
# Usando os parâmetros, e criando séries. 
pd.Series(data=[1,2,3,4,5,6,7], index=["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabado"]) # Criando index para séries.

Domingo    1
Segunda    2
Terça      3
Quarta     4
Quinta     5
Sexta      6
Sabado     7
dtype: int64

In [75]:
# Utilizando dict 
dic = {"dom": 1, "seg":2,"ter":3, "quarta":4, "quinta":5,"sexta":6, "sabado":7} # Criando dic

In [77]:
pd.Series(dic) # usando dic para criar uma série.

dom       1
seg       2
ter       3
quarta    4
quinta    5
sexta     6
sabado    7
dtype: int64

In [78]:
# Dando um nome a série 
pd.Series(data=[1,2,3,4,5,6,7], index=["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabado"], name= "Dias da semana")

Domingo    1
Segunda    2
Terça      3
Quarta     4
Quinta     5
Sexta      6
Sabado     7
Name: Dias da semana, dtype: int64

In [80]:
# Conferindo
type(pd.Series(data=[1,2,3,4,5,6,7], index=["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabado"], name= "Dias da semana"))

pandas.core.series.Series