<a href="https://colab.research.google.com/github/LeonardoHyppolito/Estudos/blob/main/Analise_com_pandas_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Continuando o capítulo de análise de dados com pandas**

In [1]:
# Importando Biblioteca 
import pandas as pd

In [2]:
df = pd.read_csv("horas_estudadas.csv")

In [3]:
# primeira visualização
df.head()

     Nome  Segunda  Terça  Quarta  Quinta  Sexta  Sabado  Domingo
0  Victor        2      3       1       3      0       0        3
1  Amanda        0      3       0       4      3       1        2
2    Luis        1      2       4       5      6       0        0
3   Júlia        1      1       2       0      0       1        2

**Aplicando o conceito de funções dentro de um data frame**

In [4]:
# Utilizando o min(), documentação = DataFrame.min(axis=NoDefault.no_default, skipna=True, level=None, numeric_only=None, **kwargs)
# O parâmetro axis, por padrão escolhe o eixo zero, e podemos também utilizar o 1, vamos ver: 
df.min(axis= 0) # Isso nos retorna o valor mínimo de cada coluna. OBS: na coluna com valor não numérico ; ordem alfabética. 
# Note, que esse comando min(), nada mais é do que uma função que ja está pronta e disponível.

Nome       Amanda
Segunda         0
Terça           1
Quarta          0
Quinta          0
Sexta           0
Sabado          0
Domingo         0
dtype: object

In [5]:
# Vamos comparar com axis=1
df.min(axis=1) # Nesse caso, o min(), observa as linhas.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.

0    0
1    0
2    0
3    0
dtype: int64

In [6]:
# Funções simples: 
def soma(a,b):
  return a + b

In [7]:
soma(2,3)

5

In [8]:
# Função em cima de um df 
def sub_max_min(df):
  return df.max() - df.min() # Agora que a função esta escrita, precisamos aplicar ela em cima de um data frame.

In [9]:
# Antes de aplicar a nossa função, vamo excluir as informações referentes a nomes, porque não faz sentido. 
df2 = df.drop("Nome", axis=1) # Não confunda esse axis =1, se refere a "linha" de colunas.

In [10]:
df2.head()

   Segunda  Terça  Quarta  Quinta  Sexta  Sabado  Domingo
0        2      3       1       3      0       0        3
1        0      3       0       4      3       1        2
2        1      2       4       5      6       0        0
3        1      1       2       0      0       1        2

In [11]:
# Para aplicar utilizamos o método apply(), ele aplica uma função dentro de um eixo do meu df. 
#documentação = DataFrame.apply(func, axis=0, raw=False, result_type=None, args=(), **kwargs)
df2.apply(sub_max_min, axis = 0)

Segunda    2
Terça      2
Quarta     4
Quinta     5
Sexta      6
Sabado     1
Domingo    3
dtype: int64

In [12]:
# Olha que interessante, como passamos o axis = 0, o computador vai aplicando a nossa função, sub_max_min, em todas as colunas, isto é: 
# Verificando qual o maior valor da coluna, subtraindo pelo menor e nos retornando o resultado.

In [13]:
# E com axis = 1 
df2.apply(sub_max_min, axis = 1)

0    3
1    4
2    6
3    2
dtype: int64

In [14]:
# Em suma, o método apply(), aplica uma função pré definida ou anonima, como veremos abaixo, com base no EIXO.

In [15]:
# Um conceito bastante importante, é o de funções anonimas, que basicamente agiliza o processo de aplicar funções, tornando possível, criar uma 
#Função dentro do parâmetro do apply, ao invés de construir uma função antes: 
df2.apply(lambda x: x.max() - x.min(), axis = 0) # Note que é a mesma função criada antes (sub_max_min)

Segunda    2
Terça      2
Quarta     4
Quinta     5
Sexta      6
Sabado     1
Domingo    3
dtype: int64

In [16]:
# Agora se desejamos que uma função seja aplicada em cada um dos VALORES do meu df, temos o método applymap(). 
#Documentação = DataFrame.applymap(func, na_action=None, **kwargs) 
df2.applymap(lambda x: str(x) + "Leo")

  Segunda Terça Quarta Quinta Sexta Sabado Domingo
0    2Leo  3Leo   1Leo   3Leo  0Leo   0Leo    3Leo
1    0Leo  3Leo   0Leo   4Leo  3Leo   1Leo    2Leo
2    1Leo  2Leo   4Leo   5Leo  6Leo   0Leo    0Leo
3    1Leo  1Leo   2Leo   0Leo  0Leo   1Leo    2Leo

In [17]:
# Ou seja, a grande diferença do apply(), para o applymap(), é que com o apply, aplicamos a função no eixo, já o applymap, aplica em todos os valores
# E o nosso "x", é o cara que percorre todos os valores do df, poderia ser qualquer outra letra, mas é bastante comum utilizar o x.

**Indexação hierarquica**

In [18]:
# Permite que façamos varios tipos de índices, e fazer uma hierarquia entre eles.

In [19]:
df_fut = pd.read_csv("campeonato-brasileiro-full.csv")

In [20]:
df_fut.head()

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-
4,5,1,2003-03-30,16:00,Domingo,Internacional,Ponte Preta,NaN,NaN,NaN,NaN,-,beira rio,1,1,RS,SP,-

In [21]:
# Bom para apresentar melhor a ideia de hierarquia dos índices, vamos fazer uma amostra do nosso df, para facilitar
# A nossa compreensão.

In [22]:
# Para realizar essa asmotra utilizamos o método df.samle; documentação = DataFrame.sample(n=None, frac=None, 
# replace=False, weights=None, random_state=None, axis=None, ignore_index=False)
df_sample =  df_fut.sample(30)

In [23]:
df_sample.shape

(30, 18)

In [24]:
df_sample.head() # Observe que os index estão bagunçados, pois a amostra é aleatória.

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
3084,3085,38,2009-12-06,17:00,Domingo,Vitoria,Goias,NaN,NaN,NaN,NaN,-,barradao,2,2,BA,GO,-
1216,1217,11,2005-07-09,16:00,Sabado,Paysandu,Fortaleza,NaN,NaN,NaN,NaN,Fortaleza,mangueirao,1,2,PA,CE,CE
1133,1134,3,2005-05-08,18:10,Domingo,Fluminense,Cruzeiro,NaN,NaN,NaN,NaN,Fluminense,raulino de oliveira,2,1,RJ,MG,RJ
612,613,6,2004-05-15,18:00,Sabado,Paysandu,Vasco,NaN,NaN,NaN,NaN,Vasco,mangueirao,1,2,PA,RJ,RJ
7357,7358,10,2021-07-07,18:01,Quarta-feira,Bragantino,Cuiaba,4-2-3-1,4-2-3-1,J. de Amorim Campos,J. de Amorim Campos,-,nabizao,1,1,SP,MT,-

In [25]:
# É possivel escolher o index, na leitura do arquivo csv, com o parâmetro index_col=, porém existe um jeito mais
# prático de se fazer. df.set_index()
#Documentação = DataFrame.set_index(keys, drop=True, append=False, inplace=False, verify_integrity=False)

In [26]:
df_sample.set_index("rodada")

,ID,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
rodada,,,,,,,,,,,,,,,,,
38,3085,2009-12-06,17:00,Domingo,Vitoria,Goias,NaN,NaN,NaN,NaN,-,barradao,2,2,BA,GO,-
11,1217,2005-07-09,16:00,Sabado,Paysandu,Fortaleza,NaN,NaN,NaN,NaN,Fortaleza,mangueirao,1,2,PA,CE,CE
3,1134,2005-05-08,18:10,Domingo,Fluminense,Cruzeiro,NaN,NaN,NaN,NaN,Fluminense,raulino de oliveira,2,1,RJ,MG,RJ
6,613,2004-05-15,18:00,Sabado,Paysandu,Vasco,NaN,NaN,NaN,NaN,Vasco,mangueirao,1,2,PA,RJ,RJ
10,7358,2021-07-07,18:01,Quarta-feira,Bragantino,Cuiaba,4-2-3-1,4-2-3-1,J. de Amorim Campos,J. de Amorim Campos,-,nabizao,1,1,SP,MT,-
26,5241,2015-09-16,21:01,Quarta-feira,Athletico-PR,Gremio,4-2-3-1,4-2-3-1,R. Machado Marques,R. Machado Marques,Gremio,couto pereira,1,2,PR,RS,RS
35,4569,2013-11-17,18:00,Domingo,Corinthians,Vasco,NaN,NaN,NaN,NaN,-,pacaembu,0,0,SP,RJ,-
23,7106,2020-11-25,21:30,Quarta-feira,Atletico-MG,Botafogo-RJ,3-2-4-1,4-2-3-1,E. Díaz,E. Díaz,Atletico-MG,mineirao,2,1,MG,RJ,MG
3,6533,2019-05-05,16:00,Domingo,Cruzeiro,Goias,4-2-3-1,4-2-3-1,C. dos Santos Oliveira,C. dos Santos Oliveira,Cruzeiro,mineirao,2,1,MG,GO,MG
18,7058,2020-10-24,19:00,Sabado,Ceara,Coritiba,4-2-3-1,4-2-3-1,J. de Amorim Campos,J. de Amorim Campos,Ceara,arena castelao,2,1,CE,PR,CE
6,5425,2016-06-05,16:01,Domingo,Gremio,Ponte Preta,4-2-3-1,4-2-3-1,E. Baptista,E. Baptista,Gremio,arena do gremio,1,0,RS,SP,RS
21,2166,2007-08-26,18:10,Domingo,Flamengo,Goias,NaN,NaN,NaN,NaN,Flamengo,maracana,3,1,RJ,GO,RJ
1,6887,2020-08-08,10:57,Sabado,Coritiba,Internacional,4-2-3-1,4-2-3-1,E. Coudet,E. Coudet,Internacional,couto pereira,0,1,PR,RS,RS
5,6928,2020-08-22,21:00,Sabado,Goias,Atletico-GO,4-3-3,4-2-3-1,V. Carmo Mancini,V. Carmo Mancini,Goias,estadio da serrinha,2,0,GO,GO,GO
34,4953,2014-11-16,17:00,Domingo,Internacional,Goias,NaN,NaN,S. Drubscky de Campos,S. Drubscky de Campos,Internacional,estadio jose pinheiro borda,1,0,RS,GO,RS
28,4505,2013-10-13,18:30,Domingo,Botafogo-RJ,Flamengo,NaN,NaN,NaN,NaN,Botafogo-RJ,maracana,2,1,RJ,RJ,RJ
9,5451,2016-06-19,11:00,Domingo,Atletico-MG,Ponte Preta,4-2-3-1,4-2-3-1,E. Baptista,E. Baptista,Atletico-MG,estadio raimundo sampaio,3,0,MG,SP,MG
32,5305,2015-10-25,17:59,Domingo,Goias,Cruzeiro,4-2-3-1,4-3-3,L. Venker de Menezes,L. Venker de Menezes,Cruzeiro,estadio do governo do estado de goias serra do...,0,1,GO,MG,MG
10,1212,2005-07-03,18:10,Domingo,Santos,Juventude,NaN,NaN,NaN,NaN,-,vila belmiro,0,0,SP,RS,-
40,1544,2005-11-20,18:10,Domingo,Botafogo-RJ,Cruzeiro,NaN,NaN,NaN,NaN,Botafogo-RJ,luso brasileiro,2,1,RJ,MG,RJ
36,6858,2019-12-01,16:01,Domingo,Avai,Fluminense,4-3-3,4-4-1-1,M. de Oliveira,M. de Oliveira,-,ressacada,1,1,SC,RJ,-
4,5019,2015-05-30,21:00,Sabado,Joinville,Athletico-PR,4-4-2,4-2-3-1,M. Mendes,M. Mendes,Athletico-PR,arena joinville,1,2,SC,PR,PR
7,6574,2019-06-02,19:00,Domingo,Internacional,Avai,4-2-3-1,4-3-3,E. Machado Souto,E. Machado Souto,Internacional,estadio jose pinheiro borda,2,0,RS,SC,RS
38,1519,2005-11-13,18:10,Domingo,Vasco,Fluminense,NaN,NaN,NaN,NaN,Vasco,sao januario,2,0,RJ,RJ,RJ
17,7433,2021-08-22,20:30,Domingo,Sport,Sao Paulo,4-2-3-1,4-3-3,H. Crespo,H. Crespo,Sao Paulo,adelmar da costa carvalho,0,1,PE,SP,SP
21,6708,2019-09-25,21:30,Quarta-feira,Flamengo,Internacional,4-2-3-1,4-3-3,O. Hellmann,O. Hellmann,Flamengo,maracana,3,1,RJ,RS,RJ
29,6786,2019-10-30,19:30,Quarta-feira,Palmeiras,Sao Paulo,4-2-3-1,4-1-4-1,F. Diniz Silva,F. Diniz Silva,Palmeiras,allianz parque,3,0,SP,SP,SP
19,4798,2014-09-06,18:29,Sabado,Flamengo,Gremio,NaN,NaN,L. Scolari,L. Scolari,Gremio,maracana,0,1,RJ,RS,RS
7,3156,2010-06-06,18:30,Domingo,Atletico-GO,Cruzeiro,NaN,NaN,NaN,NaN,Atletico-GO,serra dourada,2,1,GO,MG,GO
26,2215,2007-09-16,18:10,Domingo,Flamengo,Vasco,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,RJ,-

In [27]:
# O interessante é a possibilidade de escolher mais de um index, utilizando uma lista 
df_sample.set_index(["rodada", "dia"], inplace=True)

In [28]:
df_sample.head()

,,ID,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
rodada,dia,,,,,,,,,,,,,,,,
38,Domingo,3085,2009-12-06,17:00,Vitoria,Goias,NaN,NaN,NaN,NaN,-,barradao,2,2,BA,GO,-
11,Sabado,1217,2005-07-09,16:00,Paysandu,Fortaleza,NaN,NaN,NaN,NaN,Fortaleza,mangueirao,1,2,PA,CE,CE
3,Domingo,1134,2005-05-08,18:10,Fluminense,Cruzeiro,NaN,NaN,NaN,NaN,Fluminense,raulino de oliveira,2,1,RJ,MG,RJ
6,Sabado,613,2004-05-15,18:00,Paysandu,Vasco,NaN,NaN,NaN,NaN,Vasco,mangueirao,1,2,PA,RJ,RJ
10,Quarta-feira,7358,2021-07-07,18:01,Bragantino,Cuiaba,4-2-3-1,4-2-3-1,J. de Amorim Campos,J. de Amorim Campos,-,nabizao,1,1,SP,MT,-

In [29]:
# Outra coisa interessante, é fazer um sort_index(), para ordenar os index, e utilizar o parâmetro ascending= true/false para escolher a ordenação.
df_sample.sort_index() # no caso de mais index, basta passar o ascending em lista[true,false]

                       ID        data   hora       mandante      visitante  \
rodada dia
1      Sabado        6887  2020-08-08  10:57       Coritiba  Internacional
3      Domingo       1134  2005-05-08  18:10     Fluminense       Cruzeiro
       Domingo       6533  2019-05-05  16:00       Cruzeiro          Goias
4      Sabado        5019  2015-05-30  21:00      Joinville   Athletico-PR
5      Sabado        6928  2020-08-22  21:00          Goias    Atletico-GO
6      Domingo       5425  2016-06-05  16:01         Gremio    Ponte Preta
       Sabado         613  2004-05-15  18:00       Paysandu          Vasco
7      Domingo       6574  2019-06-02  19:00  Internacional           Avai
       Domingo       3156  2010-06-06  18:30    Atletico-GO       Cruzeiro
9      Domingo       5451  2016-06-19  11:00    Atletico-MG    Ponte Preta
10     Domingo       1212  2005-07-03  18:10         Santos      Juventude
       Quarta-feira  7358  2021-07-07  18:01     Bragantino         Cuiaba
11     Sabado        1217  2005-07-09  16:00       Paysandu      Fortaleza
17     Domingo       7433  2021-08-22  20:30          Sport      Sao Paulo
18     Sabado        7058  2020-10-24  19:00          Ceara       Coritiba
19     Sabado        4798  2014-09-06  18:29       Flamengo         Gremio
21     Domingo       2166  2007-08-26  18:10       Flamengo          Goias
       Quarta-feira  6708  2019-09-25  21:30       Flamengo  Internacional
23     Quarta-feira  7106  2020-11-25  21:30    Atletico-MG    Botafogo-RJ
26     Domingo       2215  2007-09-16  18:10       Flamengo          Vasco
       Quarta-feira  5241  2015-09-16  21:01   Athletico-PR         Gremio
28     Domingo       4505  2013-10-13  18:30    Botafogo-RJ       Flamengo
29     Quarta-feira  6786  2019-10-30  19:30      Palmeiras      Sao Paulo
32     Domingo       5305  2015-10-25  17:59          Goias       Cruzeiro
34     Domingo       4953  2014-11-16  17:00  Internacional          Goias
35     Domingo       4569  2013-11-17  18:00    Corinthians          Vasco
36     Domingo       6858  2019-12-01  16:01           Avai     Fluminense
38     Domingo       3085  2009-12-06  17:00        Vitoria          Goias
       Domingo       1519  2005-11-13  18:10          Vasco     Fluminense
40     Domingo       1544  2005-11-20  18:10    Botafogo-RJ       Cruzeiro

                    formacao_mandante formacao_visitante  \
rodada dia
1      Sabado                 4-2-3-1            4-2-3-1
3      Domingo                    NaN                NaN
       Domingo                4-2-3-1            4-2-3-1
4      Sabado                   4-4-2            4-2-3-1
5      Sabado                   4-3-3            4-2-3-1
6      Domingo                4-2-3-1            4-2-3-1
       Sabado                     NaN                NaN
7      Domingo                4-2-3-1              4-3-3
       Domingo                    NaN                NaN
9      Domingo                4-2-3-1            4-2-3-1
10     Domingo                    NaN                NaN
       Quarta-feira           4-2-3-1            4-2-3-1
11     Sabado                     NaN                NaN
17     Domingo                4-2-3-1              4-3-3
18     Sabado                 4-2-3-1            4-2-3-1
19     Sabado                     NaN                NaN
21     Domingo                    NaN                NaN
       Quarta-feira           4-2-3-1              4-3-3
23     Quarta-feira           3-2-4-1            4-2-3-1
26     Domingo                    NaN                NaN
       Quarta-feira           4-2-3-1            4-2-3-1
28     Domingo                    NaN                NaN
29     Quarta-feira           4-2-3-1            4-1-4-1
32     Domingo                4-2-3-1              4-3-3
34     Domingo                    NaN                NaN
35     Domingo                    NaN                NaN
36     Domingo                  4-3-3            4-4-1-1
38     Domingo                    NaN                NaN
       Domingo                    NaN                NaN
40     Domingo                    NaN                NaN

                           tecnico_mandante       tecnico_visitante  \
rodada dia
1      Sabado                     E. Coudet               E. Coudet
3      Domingo                          NaN                     NaN
       Domingo       C. dos Santos Oliveira  C. dos Santos Oliveira
4      Sabado                     M. Mendes               M. Mendes
5      Sabado              V. Carmo Mancini        V. Carmo Mancini
6      Domingo                  E. Baptista             E. Baptista
       Sabado                           NaN                     NaN
7      Domingo             E. Machado Souto        E. Machado Souto
       Domingo                          NaN                     NaN
9      Domingo                  E. Baptista             E. Baptista
10     Domingo                          NaN                     NaN
       Quarta-feira     J. de Amorim Campos     J. de Amorim Campos
11     Sabado                           NaN                     NaN
17     Domingo                    H. Crespo               H. Crespo
18     Sabado           J. de Amorim Campos     J. de Amorim Campos
19     Sabado                    L. Scolari              L. Scolari
21     Domingo                          NaN                     NaN
       Quarta-feira             O. Hellmann             O. Hellmann
23     Quarta-feira                 E. Díaz                 E. Díaz
26     Domingo                          NaN                     NaN
       Quarta-feira      R. Machado Marques      R. Machado Marques
28     Domingo                          NaN                     NaN
29     Quarta-feira          F. Diniz Silva          F. Diniz Silva
32     Domingo         L. Venker de Menezes    L. Venker de Menezes
34     Domingo        S. Drubscky de Campos   S. Drubscky de Campos
35     Domingo                          NaN                     NaN
36     Domingo               M. de Oliveira          M. de Oliveira
38     Domingo                          NaN                     NaN
       Domingo                          NaN                     NaN
40     Domingo                          NaN                     NaN

                          vencedor  \
rodada dia
1      Sabado        Internacional
3      Domingo          Fluminense
       Domingo            Cruzeiro
4      Sabado         Athletico-PR
5      Sabado                Goias
6      Domingo              Gremio
       Sabado                Vasco
7      Domingo       Internacional
       Domingo         Atletico-GO
9      Domingo         Atletico-MG
10     Domingo                   -
       Quarta-feira              -
11     Sabado            Fortaleza
17     Domingo           Sao Paulo
18     Sabado                Ceara
19     Sabado               Gremio
21     Domingo            Flamengo
       Quarta-feira       Flamengo
23     Quarta-feira    Atletico-MG
26     Domingo                   -
       Quarta-feira         Gremio
28     Domingo         Botafogo-RJ
29     Quarta-feira      Palmeiras
32     Domingo            Cruzeiro
34     Domingo       Internacional
35     Domingo                   -
36     Domingo                   -
38     Domingo                   -
       Domingo               Vasco
40     Domingo         Botafogo-RJ

                                                                 arena  \
rodada dia
1      Sabado                                            couto pereira
3      Domingo                                     raulino de oliveira
       Domingo                                                mineirao
4      Sabado                                          arena joinville
5      Sabado                                      estadio da serrinha
6      Domingo                                         arena do gremio
       Sabado                                               mangueirao
7      Domingo                             estadio jose pinheiro borda
       Domingo                                           serra dourada
9      Domingo                                estadio raimundo sampaio
10     Domingo                                            vila belmiro
       Quarta-feira                                            nabizao
11     Sabado                                               mangueirao
17     Domingo                               adelmar da costa carvalho
18     Sabado                                           arena castelao
19     Sabado                                                 maracana
21     Domingo                                                maracana
       Quarta-feira                                           maracana
23     Quarta-feira                                           mineirao
26     Domingo                                                maracana
       Quarta-feira                                      couto pereira
28     Domingo                                                maracana
29     Quarta-feira                                     allianz parque
32     Domingo       estadio do governo do estado de goias serra do...
34     Domingo                             estadio jose pinheiro borda
35     Domingo                                                pacaembu
36     Domingo                                               ressacada
38     Domingo                                                barradao
       Domingo                                            sao januario
40     Domingo                                         luso brasileiro

                     mandante_placar  visitante_placar mandante_estado  \
rodada dia
1      Sabado                      0                 1              PR
3      Domingo                     2                 1              RJ
       Domingo                     2                 1              MG
4      Sabado                      1                 2              SC
5      Sabado                      2                 0              GO
6      Domingo                     1                 0              RS
       Sabado                      1                 2              PA
7      Domingo                     2                 0              RS
       Domingo                     2                 1              GO
9      Domingo                     3                 0              MG
10     Domingo                     0                 0              SP
       Quarta-feira                1                 1              SP
11     Sabado                      1                 2              PA
17     Domingo                     0                 1              PE
18     Sabado                      2                 1              CE
19     Sabado                      0                 1              RJ
21     Domingo                     3                 1              RJ
       Quarta-feira                3                 1              RJ
23     Quarta-feira                2                 1              MG
26     Domingo                     1                 1              RJ
       Quarta-feira                1                 2              PR
28     Domingo                     2                 1              RJ
29     Quarta-feira                3                 0              SP
32     Domingo                     0                 1              GO
34     Domingo                     1                 0              RS
35     Domingo                     0                 0              SP
36     Domingo                     1                 1              SC
38     Domingo                     2                 2              BA
       Domingo                     2                 0              RJ
40     Domingo                     2                 1              RJ

                    visitante_estado estado_vencedor
rodada dia
1      Sabado                     RS              RS
3      Domingo                    MG              RJ
       Domingo                    GO              MG
4      Sabado                     PR              PR
5      Sabado                     GO              GO
6      Domingo                    SP              RS
       Sabado                     RJ              RJ
7      Domingo                    SC              RS
       Domingo                    MG              GO
9      Domingo                    SP              MG
10     Domingo                    RS               -
       Quarta-feira               MT               -
11     Sabado                     CE              CE
17     Domingo                    SP              SP
18     Sabado                     PR              CE
19     Sabado                     RS              RS
21     Domingo                    GO              RJ
       Quarta-feira               RS              RJ
23     Quarta-feira               RJ              MG
26     Domingo                    RJ               -
       Quarta-feira               RS              RS
28     Domingo                    RJ              RJ
29     Quarta-feira               SP              SP
32     Domingo                    MG              MG
34     Domingo                    GO              RS
35     Domingo                    RJ               -
36     Domingo                    RJ               -
38     Domingo                    GO               -
       Domingo                    RJ              RJ
40     Domingo                    MG              RJ

In [30]:
# Após a analise podemos resetar o  nosso index, utilizando o .reset_index()
df_sample.reset_index(inplace=True)

In [31]:
# Agora quero analisar, se o dia que ocorre a partida influencia na quantidade de gols que o mandante placar faz, isso porque em dias de semana 
# Normalmente tem menos torcida, então basicamente estamos fazendo uma análise da influência da quantidade de torcida no numero de gols. 
df_sample.set_index(["dia" , "mandante_placar"], inplace=True)

In [32]:
df_sample.head(30) # Visualizar informações da amostra.

                              rodada    ID        data   hora       mandante  \
dia          mandante_placar
Domingo      2                    38  3085  2009-12-06  17:00        Vitoria
Sabado       1                    11  1217  2005-07-09  16:00       Paysandu
Domingo      2                     3  1134  2005-05-08  18:10     Fluminense
Sabado       1                     6   613  2004-05-15  18:00       Paysandu
Quarta-feira 1                    10  7358  2021-07-07  18:01     Bragantino
             1                    26  5241  2015-09-16  21:01   Athletico-PR
Domingo      0                    35  4569  2013-11-17  18:00    Corinthians
Quarta-feira 2                    23  7106  2020-11-25  21:30    Atletico-MG
Domingo      2                     3  6533  2019-05-05  16:00       Cruzeiro
Sabado       2                    18  7058  2020-10-24  19:00          Ceara
Domingo      1                     6  5425  2016-06-05  16:01         Gremio
             3                    21  2166  2007-08-26  18:10       Flamengo
Sabado       0                     1  6887  2020-08-08  10:57       Coritiba
             2                     5  6928  2020-08-22  21:00          Goias
Domingo      1                    34  4953  2014-11-16  17:00  Internacional
             2                    28  4505  2013-10-13  18:30    Botafogo-RJ
             3                     9  5451  2016-06-19  11:00    Atletico-MG
             0                    32  5305  2015-10-25  17:59          Goias
             0                    10  1212  2005-07-03  18:10         Santos
             2                    40  1544  2005-11-20  18:10    Botafogo-RJ
             1                    36  6858  2019-12-01  16:01           Avai
Sabado       1                     4  5019  2015-05-30  21:00      Joinville
Domingo      2                     7  6574  2019-06-02  19:00  Internacional
             2                    38  1519  2005-11-13  18:10          Vasco
             0                    17  7433  2021-08-22  20:30          Sport
Quarta-feira 3                    21  6708  2019-09-25  21:30       Flamengo
             3                    29  6786  2019-10-30  19:30      Palmeiras
Sabado       0                    19  4798  2014-09-06  18:29       Flamengo
Domingo      2                     7  3156  2010-06-06  18:30    Atletico-GO
             1                    26  2215  2007-09-16  18:10       Flamengo

                                  visitante formacao_mandante  \
dia          mandante_placar
Domingo      2                        Goias               NaN
Sabado       1                    Fortaleza               NaN
Domingo      2                     Cruzeiro               NaN
Sabado       1                        Vasco               NaN
Quarta-feira 1                       Cuiaba           4-2-3-1
             1                       Gremio           4-2-3-1
Domingo      0                        Vasco               NaN
Quarta-feira 2                  Botafogo-RJ           3-2-4-1
Domingo      2                        Goias           4-2-3-1
Sabado       2                     Coritiba           4-2-3-1
Domingo      1                  Ponte Preta           4-2-3-1
             3                        Goias               NaN
Sabado       0                Internacional           4-2-3-1
             2                  Atletico-GO             4-3-3
Domingo      1                        Goias               NaN
             2                     Flamengo               NaN
             3                  Ponte Preta           4-2-3-1
             0                     Cruzeiro           4-2-3-1
             0                    Juventude               NaN
             2                     Cruzeiro               NaN
             1                   Fluminense             4-3-3
Sabado       1                 Athletico-PR             4-4-2
Domingo      2                         Avai           4-2-3-1
             2                   Fluminense               NaN
             0                    Sao Paulo           4-2-3-1
Quarta-feira 3                Internacional           4-2-3-1
             3                    Sao Paulo           4-2-3-1
Sabado       0                       Gremio               NaN
Domingo      2                     Cruzeiro               NaN
             1                        Vasco               NaN

                             formacao_visitante        tecnico_mandante  \
dia          mandante_placar
Domingo      2                              NaN                     NaN
Sabado       1                              NaN                     NaN
Domingo      2                              NaN                     NaN
Sabado       1                              NaN                     NaN
Quarta-feira 1                          4-2-3-1     J. de Amorim Campos
             1                          4-2-3-1      R. Machado Marques
Domingo      0                              NaN                     NaN
Quarta-feira 2                          4-2-3-1                 E. Díaz
Domingo      2                          4-2-3-1  C. dos Santos Oliveira
Sabado       2                          4-2-3-1     J. de Amorim Campos
Domingo      1                          4-2-3-1             E. Baptista
             3                              NaN                     NaN
Sabado       0                          4-2-3-1               E. Coudet
             2                          4-2-3-1        V. Carmo Mancini
Domingo      1                              NaN   S. Drubscky de Campos
             2                              NaN                     NaN
             3                          4-2-3-1             E. Baptista
             0                            4-3-3    L. Venker de Menezes
             0                              NaN                     NaN
             2                              NaN                     NaN
             1                          4-4-1-1          M. de Oliveira
Sabado       1                          4-2-3-1               M. Mendes
Domingo      2                            4-3-3        E. Machado Souto
             2                              NaN                     NaN
             0                            4-3-3               H. Crespo
Quarta-feira 3                            4-3-3             O. Hellmann
             3                          4-1-4-1          F. Diniz Silva
Sabado       0                              NaN              L. Scolari
Domingo      2                              NaN                     NaN
             1                              NaN                     NaN

                                   tecnico_visitante       vencedor  \
dia          mandante_placar
Domingo      2                                   NaN              -
Sabado       1                                   NaN      Fortaleza
Domingo      2                                   NaN     Fluminense
Sabado       1                                   NaN          Vasco
Quarta-feira 1                   J. de Amorim Campos              -
             1                    R. Machado Marques         Gremio
Domingo      0                                   NaN              -
Quarta-feira 2                               E. Díaz    Atletico-MG
Domingo      2                C. dos Santos Oliveira       Cruzeiro
Sabado       2                   J. de Amorim Campos          Ceara
Domingo      1                           E. Baptista         Gremio
             3                                   NaN       Flamengo
Sabado       0                             E. Coudet  Internacional
             2                      V. Carmo Mancini          Goias
Domingo      1                 S. Drubscky de Campos  Internacional
             2                                   NaN    Botafogo-RJ
             3                           E. Baptista    Atletico-MG
             0                  L. Venker de Menezes       Cruzeiro
             0                                   NaN              -
             2                                   NaN    Botafogo-RJ
             1                        M. de Oliveira              -
Sabado       1                             M. Mendes   Athletico-PR
Domingo      2                      E. Machado Souto  Internacional
             2                                   NaN          Vasco
             0                             H. Crespo      Sao Paulo
Quarta-feira 3                           O. Hellmann       Flamengo
             3                        F. Diniz Silva      Palmeiras
Sabado       0                            L. Scolari         Gremio
Domingo      2                                   NaN    Atletico-GO
             1                                   NaN              -

                                                                          arena  \
dia          mandante_placar
Domingo      2                                                         barradao
Sabado       1                                                       mangueirao
Domingo      2                                              raulino de oliveira
Sabado       1                                                       mangueirao
Quarta-feira 1                                                          nabizao
             1                                                    couto pereira
Domingo      0                                                         pacaembu
Quarta-feira 2                                                         mineirao
Domingo      2                                                         mineirao
Sabado       2                                                   arena castelao
Domingo      1                                                  arena do gremio
             3                                                         maracana
Sabado       0                                                    couto pereira
             2                                              estadio da serrinha
Domingo      1                                      estadio jose pinheiro borda
             2                                                         maracana
             3                                         estadio raimundo sampaio
             0                estadio do governo do estado de goias serra do...
             0                                                     vila belmiro
             2                                                  luso brasileiro
             1                                                        ressacada
Sabado       1                                                  arena joinville
Domingo      2                                      estadio jose pinheiro borda
             2                                                     sao januario
             0                                        adelmar da costa carvalho
Quarta-feira 3                                                         maracana
             3                                                   allianz parque
Sabado       0                                                         maracana
Domingo      2                                                    serra dourada
             1                                                         maracana

                              visitante_placar mandante_estado  \
dia          mandante_placar
Domingo      2                               2              BA
Sabado       1                               2              PA
Domingo      2                               1              RJ
Sabado       1                               2              PA
Quarta-feira 1                               1              SP
             1                               2              PR
Domingo      0                               0              SP
Quarta-feira 2                               1              MG
Domingo      2                               1              MG
Sabado       2                               1              CE
Domingo      1                               0              RS
             3                               1              RJ
Sabado       0                               1              PR
             2                               0              GO
Domingo      1                               0              RS
             2                               1              RJ
             3                               0              MG
             0                               1              GO
             0                               0              SP
             2                               1              RJ
             1                               1              SC
Sabado       1                               2              SC
Domingo      2                               0              RS
             2                               0              RJ
             0                               1              PE
Quarta-feira 3                               1              RJ
             3                               0              SP
Sabado       0                               1              RJ
Domingo      2                               1              GO
             1                               1              RJ

                             visitante_estado estado_vencedor
dia          mandante_placar
Domingo      2                             GO               -
Sabado       1                             CE              CE
Domingo      2                             MG              RJ
Sabado       1                             RJ              RJ
Quarta-feira 1                             MT               -
             1                             RS              RS
Domingo      0                             RJ               -
Quarta-feira 2                             RJ              MG
Domingo      2                             GO              MG
Sabado       2                             PR              CE
Domingo      1                             SP              RS
             3                             GO              RJ
Sabado       0                             RS              RS
             2                             GO              GO
Domingo      1                             GO              RS
             2                             RJ              RJ
             3                             SP              MG
             0                             MG              MG
             0                             RS               -
             2                             MG              RJ
             1                             RJ               -
Sabado       1                             PR              PR
Domingo      2                             SC              RS
             2                             RJ              RJ
             0                             SP              SP
Quarta-feira 3                             RS              RJ
             3                             SP              SP
Sabado       0                             RS              RS
Domingo      2                             MG              GO
             1                             RJ               -

In [33]:
df_sample.sort_index(inplace=True)# Organizando para facilitar a visualização, e salvando a ordenação do dataFrame.

In [34]:
df_sample.head(30) # Visualizando organizado

                              rodada    ID        data   hora       mandante  \
dia          mandante_placar
Domingo      0                    35  4569  2013-11-17  18:00    Corinthians
             0                    32  5305  2015-10-25  17:59          Goias
             0                    10  1212  2005-07-03  18:10         Santos
             0                    17  7433  2021-08-22  20:30          Sport
             1                     6  5425  2016-06-05  16:01         Gremio
             1                    34  4953  2014-11-16  17:00  Internacional
             1                    36  6858  2019-12-01  16:01           Avai
             1                    26  2215  2007-09-16  18:10       Flamengo
             2                    38  3085  2009-12-06  17:00        Vitoria
             2                     3  1134  2005-05-08  18:10     Fluminense
             2                     3  6533  2019-05-05  16:00       Cruzeiro
             2                    28  4505  2013-10-13  18:30    Botafogo-RJ
             2                    40  1544  2005-11-20  18:10    Botafogo-RJ
             2                     7  6574  2019-06-02  19:00  Internacional
             2                    38  1519  2005-11-13  18:10          Vasco
             2                     7  3156  2010-06-06  18:30    Atletico-GO
             3                    21  2166  2007-08-26  18:10       Flamengo
             3                     9  5451  2016-06-19  11:00    Atletico-MG
Quarta-feira 1                    10  7358  2021-07-07  18:01     Bragantino
             1                    26  5241  2015-09-16  21:01   Athletico-PR
             2                    23  7106  2020-11-25  21:30    Atletico-MG
             3                    21  6708  2019-09-25  21:30       Flamengo
             3                    29  6786  2019-10-30  19:30      Palmeiras
Sabado       0                     1  6887  2020-08-08  10:57       Coritiba
             0                    19  4798  2014-09-06  18:29       Flamengo
             1                    11  1217  2005-07-09  16:00       Paysandu
             1                     6   613  2004-05-15  18:00       Paysandu
             1                     4  5019  2015-05-30  21:00      Joinville
             2                    18  7058  2020-10-24  19:00          Ceara
             2                     5  6928  2020-08-22  21:00          Goias

                                  visitante formacao_mandante  \
dia          mandante_placar
Domingo      0                        Vasco               NaN
             0                     Cruzeiro           4-2-3-1
             0                    Juventude               NaN
             0                    Sao Paulo           4-2-3-1
             1                  Ponte Preta           4-2-3-1
             1                        Goias               NaN
             1                   Fluminense             4-3-3
             1                        Vasco               NaN
             2                        Goias               NaN
             2                     Cruzeiro               NaN
             2                        Goias           4-2-3-1
             2                     Flamengo               NaN
             2                     Cruzeiro               NaN
             2                         Avai           4-2-3-1
             2                   Fluminense               NaN
             2                     Cruzeiro               NaN
             3                        Goias               NaN
             3                  Ponte Preta           4-2-3-1
Quarta-feira 1                       Cuiaba           4-2-3-1
             1                       Gremio           4-2-3-1
             2                  Botafogo-RJ           3-2-4-1
             3                Internacional           4-2-3-1
             3                    Sao Paulo           4-2-3-1
Sabado       0                Internacional           4-2-3-1
             0                       Gremio               NaN
             1                    Fortaleza               NaN
             1                        Vasco               NaN
             1                 Athletico-PR             4-4-2
             2                     Coritiba           4-2-3-1
             2                  Atletico-GO             4-3-3

                             formacao_visitante        tecnico_mandante  \
dia          mandante_placar
Domingo      0                              NaN                     NaN
             0                            4-3-3    L. Venker de Menezes
             0                              NaN                     NaN
             0                            4-3-3               H. Crespo
             1                          4-2-3-1             E. Baptista
             1                              NaN   S. Drubscky de Campos
             1                          4-4-1-1          M. de Oliveira
             1                              NaN                     NaN
             2                              NaN                     NaN
             2                              NaN                     NaN
             2                          4-2-3-1  C. dos Santos Oliveira
             2                              NaN                     NaN
             2                              NaN                     NaN
             2                            4-3-3        E. Machado Souto
             2                              NaN                     NaN
             2                              NaN                     NaN
             3                              NaN                     NaN
             3                          4-2-3-1             E. Baptista
Quarta-feira 1                          4-2-3-1     J. de Amorim Campos
             1                          4-2-3-1      R. Machado Marques
             2                          4-2-3-1                 E. Díaz
             3                            4-3-3             O. Hellmann
             3                          4-1-4-1          F. Diniz Silva
Sabado       0                          4-2-3-1               E. Coudet
             0                              NaN              L. Scolari
             1                              NaN                     NaN
             1                              NaN                     NaN
             1                          4-2-3-1               M. Mendes
             2                          4-2-3-1     J. de Amorim Campos
             2                          4-2-3-1        V. Carmo Mancini

                                   tecnico_visitante       vencedor  \
dia          mandante_placar
Domingo      0                                   NaN              -
             0                  L. Venker de Menezes       Cruzeiro
             0                                   NaN              -
             0                             H. Crespo      Sao Paulo
             1                           E. Baptista         Gremio
             1                 S. Drubscky de Campos  Internacional
             1                        M. de Oliveira              -
             1                                   NaN              -
             2                                   NaN              -
             2                                   NaN     Fluminense
             2                C. dos Santos Oliveira       Cruzeiro
             2                                   NaN    Botafogo-RJ
             2                                   NaN    Botafogo-RJ
             2                      E. Machado Souto  Internacional
             2                                   NaN          Vasco
             2                                   NaN    Atletico-GO
             3                                   NaN       Flamengo
             3                           E. Baptista    Atletico-MG
Quarta-feira 1                   J. de Amorim Campos              -
             1                    R. Machado Marques         Gremio
             2                               E. Díaz    Atletico-MG
             3                           O. Hellmann       Flamengo
             3                        F. Diniz Silva      Palmeiras
Sabado       0                             E. Coudet  Internacional
             0                            L. Scolari         Gremio
             1                                   NaN      Fortaleza
             1                                   NaN          Vasco
             1                             M. Mendes   Athletico-PR
             2                   J. de Amorim Campos          Ceara
             2                      V. Carmo Mancini          Goias

                                                                          arena  \
dia          mandante_placar
Domingo      0                                                         pacaembu
             0                estadio do governo do estado de goias serra do...
             0                                                     vila belmiro
             0                                        adelmar da costa carvalho
             1                                                  arena do gremio
             1                                      estadio jose pinheiro borda
             1                                                        ressacada
             1                                                         maracana
             2                                                         barradao
             2                                              raulino de oliveira
             2                                                         mineirao
             2                                                         maracana
             2                                                  luso brasileiro
             2                                      estadio jose pinheiro borda
             2                                                     sao januario
             2                                                    serra dourada
             3                                                         maracana
             3                                         estadio raimundo sampaio
Quarta-feira 1                                                          nabizao
             1                                                    couto pereira
             2                                                         mineirao
             3                                                         maracana
             3                                                   allianz parque
Sabado       0                                                    couto pereira
             0                                                         maracana
             1                                                       mangueirao
             1                                                       mangueirao
             1                                                  arena joinville
             2                                                   arena castelao
             2                                              estadio da serrinha

                              visitante_placar mandante_estado  \
dia          mandante_placar
Domingo      0                               0              SP
             0                               1              GO
             0                               0              SP
             0                               1              PE
             1                               0              RS
             1                               0              RS
             1                               1              SC
             1                               1              RJ
             2                               2              BA
             2                               1              RJ
             2                               1              MG
             2                               1              RJ
             2                               1              RJ
             2                               0              RS
             2                               0              RJ
             2                               1              GO
             3                               1              RJ
             3                               0              MG
Quarta-feira 1                               1              SP
             1                               2              PR
             2                               1              MG
             3                               1              RJ
             3                               0              SP
Sabado       0                               1              PR
             0                               1              RJ
             1                               2              PA
             1                               2              PA
             1                               2              SC
             2                               1              CE
             2                               0              GO

                             visitante_estado estado_vencedor
dia          mandante_placar
Domingo      0                             RJ               -
             0                             MG              MG
             0                             RS               -
             0                             SP              SP
             1                             SP              RS
             1                             GO              RS
             1                             RJ               -
             1                             RJ               -
             2                             GO               -
             2                             MG              RJ
             2                             GO              MG
             2                             RJ              RJ
             2                             MG              RJ
             2                             SC              RS
             2                             RJ              RJ
             2                             MG              GO
             3                             GO              RJ
             3                             SP              MG
Quarta-feira 1                             MT               -
             1                             RS              RS
             2                             RJ              MG
             3                             RS              RJ
             3                             SP              SP
Sabado       0                             RS              RS
             0                             RS              RS
             1                             CE              CE
             1                             RJ              RJ
             1                             PR              PR
             2                             PR              CE
             2                             GO              GO

In [35]:
# Aparantemente, não a quantidade de torcida não infuencia muito.

In [36]:
# Continuando, temos um método interessante, chamado swaplevel,documentação =  DataFrame.swaplevel(i=- 2, j=- 1, axis=0)
df_sample.swaplevel() # Este método, troca os niveis de hierarquia, dos index, acima vemos o "dia", como primeiro nível.

                              rodada    ID        data   hora       mandante  \
mandante_placar dia
0               Domingo           35  4569  2013-11-17  18:00    Corinthians
                Domingo           32  5305  2015-10-25  17:59          Goias
                Domingo           10  1212  2005-07-03  18:10         Santos
                Domingo           17  7433  2021-08-22  20:30          Sport
1               Domingo            6  5425  2016-06-05  16:01         Gremio
                Domingo           34  4953  2014-11-16  17:00  Internacional
                Domingo           36  6858  2019-12-01  16:01           Avai
                Domingo           26  2215  2007-09-16  18:10       Flamengo
2               Domingo           38  3085  2009-12-06  17:00        Vitoria
                Domingo            3  1134  2005-05-08  18:10     Fluminense
                Domingo            3  6533  2019-05-05  16:00       Cruzeiro
                Domingo           28  4505  2013-10-13  18:30    Botafogo-RJ
                Domingo           40  1544  2005-11-20  18:10    Botafogo-RJ
                Domingo            7  6574  2019-06-02  19:00  Internacional
                Domingo           38  1519  2005-11-13  18:10          Vasco
                Domingo            7  3156  2010-06-06  18:30    Atletico-GO
3               Domingo           21  2166  2007-08-26  18:10       Flamengo
                Domingo            9  5451  2016-06-19  11:00    Atletico-MG
1               Quarta-feira      10  7358  2021-07-07  18:01     Bragantino
                Quarta-feira      26  5241  2015-09-16  21:01   Athletico-PR
2               Quarta-feira      23  7106  2020-11-25  21:30    Atletico-MG
3               Quarta-feira      21  6708  2019-09-25  21:30       Flamengo
                Quarta-feira      29  6786  2019-10-30  19:30      Palmeiras
0               Sabado             1  6887  2020-08-08  10:57       Coritiba
                Sabado            19  4798  2014-09-06  18:29       Flamengo
1               Sabado            11  1217  2005-07-09  16:00       Paysandu
                Sabado             6   613  2004-05-15  18:00       Paysandu
                Sabado             4  5019  2015-05-30  21:00      Joinville
2               Sabado            18  7058  2020-10-24  19:00          Ceara
                Sabado             5  6928  2020-08-22  21:00          Goias

                                  visitante formacao_mandante  \
mandante_placar dia
0               Domingo               Vasco               NaN
                Domingo            Cruzeiro           4-2-3-1
                Domingo           Juventude               NaN
                Domingo           Sao Paulo           4-2-3-1
1               Domingo         Ponte Preta           4-2-3-1
                Domingo               Goias               NaN
                Domingo          Fluminense             4-3-3
                Domingo               Vasco               NaN
2               Domingo               Goias               NaN
                Domingo            Cruzeiro               NaN
                Domingo               Goias           4-2-3-1
                Domingo            Flamengo               NaN
                Domingo            Cruzeiro               NaN
                Domingo                Avai           4-2-3-1
                Domingo          Fluminense               NaN
                Domingo            Cruzeiro               NaN
3               Domingo               Goias               NaN
                Domingo         Ponte Preta           4-2-3-1
1               Quarta-feira         Cuiaba           4-2-3-1
                Quarta-feira         Gremio           4-2-3-1
2               Quarta-feira    Botafogo-RJ           3-2-4-1
3               Quarta-feira  Internacional           4-2-3-1
                Quarta-feira      Sao Paulo           4-2-3-1
0               Sabado        Internacional           4-2-3-1
                Sabado               Gremio               NaN
1               Sabado            Fortaleza               NaN
                Sabado                Vasco               NaN
                Sabado         Athletico-PR             4-4-2
2               Sabado             Coritiba           4-2-3-1
                Sabado          Atletico-GO             4-3-3

                             formacao_visitante        tecnico_mandante  \
mandante_placar dia
0               Domingo                     NaN                     NaN
                Domingo                   4-3-3    L. Venker de Menezes
                Domingo                     NaN                     NaN
                Domingo                   4-3-3               H. Crespo
1               Domingo                 4-2-3-1             E. Baptista
                Domingo                     NaN   S. Drubscky de Campos
                Domingo                 4-4-1-1          M. de Oliveira
                Domingo                     NaN                     NaN
2               Domingo                     NaN                     NaN
                Domingo                     NaN                     NaN
                Domingo                 4-2-3-1  C. dos Santos Oliveira
                Domingo                     NaN                     NaN
                Domingo                     NaN                     NaN
                Domingo                   4-3-3        E. Machado Souto
                Domingo                     NaN                     NaN
                Domingo                     NaN                     NaN
3               Domingo                     NaN                     NaN
                Domingo                 4-2-3-1             E. Baptista
1               Quarta-feira            4-2-3-1     J. de Amorim Campos
                Quarta-feira            4-2-3-1      R. Machado Marques
2               Quarta-feira            4-2-3-1                 E. Díaz
3               Quarta-feira              4-3-3             O. Hellmann
                Quarta-feira            4-1-4-1          F. Diniz Silva
0               Sabado                  4-2-3-1               E. Coudet
                Sabado                      NaN              L. Scolari
1               Sabado                      NaN                     NaN
                Sabado                      NaN                     NaN
                Sabado                  4-2-3-1               M. Mendes
2               Sabado                  4-2-3-1     J. de Amorim Campos
                Sabado                  4-2-3-1        V. Carmo Mancini

                                   tecnico_visitante       vencedor  \
mandante_placar dia
0               Domingo                          NaN              -
                Domingo         L. Venker de Menezes       Cruzeiro
                Domingo                          NaN              -
                Domingo                    H. Crespo      Sao Paulo
1               Domingo                  E. Baptista         Gremio
                Domingo        S. Drubscky de Campos  Internacional
                Domingo               M. de Oliveira              -
                Domingo                          NaN              -
2               Domingo                          NaN              -
                Domingo                          NaN     Fluminense
                Domingo       C. dos Santos Oliveira       Cruzeiro
                Domingo                          NaN    Botafogo-RJ
                Domingo                          NaN    Botafogo-RJ
                Domingo             E. Machado Souto  Internacional
                Domingo                          NaN          Vasco
                Domingo                          NaN    Atletico-GO
3               Domingo                          NaN       Flamengo
                Domingo                  E. Baptista    Atletico-MG
1               Quarta-feira     J. de Amorim Campos              -
                Quarta-feira      R. Machado Marques         Gremio
2               Quarta-feira                 E. Díaz    Atletico-MG
3               Quarta-feira             O. Hellmann       Flamengo
                Quarta-feira          F. Diniz Silva      Palmeiras
0               Sabado                     E. Coudet  Internacional
                Sabado                    L. Scolari         Gremio
1               Sabado                           NaN      Fortaleza
                Sabado                           NaN          Vasco
                Sabado                     M. Mendes   Athletico-PR
2               Sabado           J. de Amorim Campos          Ceara
                Sabado              V. Carmo Mancini          Goias

                                                                          arena  \
mandante_placar dia
0               Domingo                                                pacaembu
                Domingo       estadio do governo do estado de goias serra do...
                Domingo                                            vila belmiro
                Domingo                               adelmar da costa carvalho
1               Domingo                                         arena do gremio
                Domingo                             estadio jose pinheiro borda
                Domingo                                               ressacada
                Domingo                                                maracana
2               Domingo                                                barradao
                Domingo                                     raulino de oliveira
                Domingo                                                mineirao
                Domingo                                                maracana
                Domingo                                         luso brasileiro
                Domingo                             estadio jose pinheiro borda
                Domingo                                            sao januario
                Domingo                                           serra dourada
3               Domingo                                                maracana
                Domingo                                estadio raimundo sampaio
1               Quarta-feira                                            nabizao
                Quarta-feira                                      couto pereira
2               Quarta-feira                                           mineirao
3               Quarta-feira                                           maracana
                Quarta-feira                                     allianz parque
0               Sabado                                            couto pereira
                Sabado                                                 maracana
1               Sabado                                               mangueirao
                Sabado                                               mangueirao
                Sabado                                          arena joinville
2               Sabado                                           arena castelao
                Sabado                                      estadio da serrinha

                              visitante_placar mandante_estado  \
mandante_placar dia
0               Domingo                      0              SP
                Domingo                      1              GO
                Domingo                      0              SP
                Domingo                      1              PE
1               Domingo                      0              RS
                Domingo                      0              RS
                Domingo                      1              SC
                Domingo                      1              RJ
2               Domingo                      2              BA
                Domingo                      1              RJ
                Domingo                      1              MG
                Domingo                      1              RJ
                Domingo                      1              RJ
                Domingo                      0              RS
                Domingo                      0              RJ
                Domingo                      1              GO
3               Domingo                      1              RJ
                Domingo                      0              MG
1               Quarta-feira                 1              SP
                Quarta-feira                 2              PR
2               Quarta-feira                 1              MG
3               Quarta-feira                 1              RJ
                Quarta-feira                 0              SP
0               Sabado                       1              PR
                Sabado                       1              RJ
1               Sabado                       2              PA
                Sabado                       2              PA
                Sabado                       2              SC
2               Sabado                       1              CE
                Sabado                       0              GO

                             visitante_estado estado_vencedor
mandante_placar dia
0               Domingo                    RJ               -
                Domingo                    MG              MG
                Domingo                    RS               -
                Domingo                    SP              SP
1               Domingo                    SP              RS
                Domingo                    GO              RS
                Domingo                    RJ               -
                Domingo                    RJ               -
2               Domingo                    GO               -
                Domingo                    MG              RJ
                Domingo                    GO              MG
                Domingo                    RJ              RJ
                Domingo                    MG              RJ
                Domingo                    SC              RS
                Domingo                    RJ              RJ
                Domingo                    MG              GO
3               Domingo                    GO              RJ
                Domingo                    SP              MG
1               Quarta-feira               MT               -
                Quarta-feira               RS              RS
2               Quarta-feira               RJ              MG
3               Quarta-feira               RS              RJ
                Quarta-feira               SP              SP
0               Sabado                     RS              RS
                Sabado                     RS              RS
1               Sabado                     CE              CE
                Sabado                     RJ              RJ
                Sabado                     PR              PR
2               Sabado                     PR              CE
                Sabado                     GO              GO

**Manipulando strings**

In [37]:
nome = "Leo"

In [38]:
type(nome) # Tipo da variável.

str

In [39]:
len(nome) # Tamanho da palavra

3

In [40]:
nome.lower() # Todas as letras minúsculas.

'leo'

In [41]:
nome.title() # Primeira letra de cada palavra em maiuscula.

'Leo'

In [42]:
# Existem inumeras formas de manipular, com as funções built-in functions, e não é necessário decorar todas, basta saber o que precisa 
# E a forma de procurar a função que realiza o que voce precisa no dado momento.

In [43]:
nome.split(" ") # Quebrar o espaço vazio. Para palavras compostas. separando os elementos.

['Leo']

In [44]:
# substituir palavras 
time = "São Paulo"

In [45]:
time.replace("Paulo", "Tricolorrrrr") # Passamos primeiro parâmetro a palavra a ser substituida e o segundo a palavara substituta.

'São Tricolorrrrr'

** Entendendo e Criando Séries no Pandas**

In [46]:
# Basicamente as séries, são as colunas de forma isolada, isto é, todo tipo de agrupamento de dados que tenha 
# independente do número de linhas, apenas uma coluna. Logo, para nós séries é o tipo de dados das colunas quando 
# essas são trabalhadas de forma isolada.

In [47]:
df_fut.head(4)

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR
2,3,1,2003-03-30,16:00,Domingo,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,RJ,PR,-
3,4,1,2003-03-30,16:00,Domingo,Goias,Paysandu,NaN,NaN,NaN,NaN,-,serra dourada,2,2,GO,PA,-

In [48]:
df_fut["dia"]

0        Sabado
1        Sabado
2       Domingo
3       Domingo
4       Domingo
         ...
7640    Domingo
7641    Domingo
7642    Domingo
7643    Domingo
7644    Domingo
Name: dia, Length: 7645, dtype: object

In [49]:
# Se eu analisar o type da coluna dia. 
type(df_fut["dia"]) # Veremos que é uma serie.

pandas.core.series.Series

In [50]:
#Podemos armazenar essa serie, em uma variavel: 
dia = df_fut["dia"]

In [51]:
# Se quisermos aplicar o .info, precisamos transformar a série em frame, para isso usamos: to_frame 
dia.to_frame().info() # Assim conseguimos ver que as observações de forma isolada, dentro dessa coluna são do tipo objeto

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7645 entries, 0 to 7644
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   dia     7645 non-null   object
dtypes: object(1)
memory usage: 59.9+ KB

In [52]:
# podemos ver quantos index temos 
dia.index

RangeIndex(start=0, stop=7645, step=1)

In [53]:
# Podemos também aplicar o .describe (se transformarmos em uma frame), para séries com valores numéricos. 
gols_mandante = df_fut["mandante_placar"]

In [54]:
# Novamente, podemos transformar em frame, e usar o info, para ver se as observações dessa coluna são do tipo int. 
gols_mandante.to_frame().info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7645 entries, 0 to 7644
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mandante_placar  7645 non-null   int64
dtypes: int64(1)
memory usage: 59.9 KB

In [55]:
# Agora que ja transformamos em frame, podemos utilizar o .describe, para ver as estatísticas de gols feitos pelos mandantes dos jogos do brasileirão.
gols_mandante.to_frame().describe()

       mandante_placar
count      7645.000000
mean          1.554088
std           1.234262
min           0.000000
25%           1.000000
50%           1.000000
75%           2.000000
max           7.000000

In [56]:
# A partir disso, podmemos investigar com os métodos que ja conhecemos
len(gols_mandante) # Vendo a quantidade de informações.

7645

In [57]:
# Podemos ver quais os resultados que ja ocorreram, isto é, quais os números que pelo menos uma vez, ja representaram, o placar do mandante. 
gols_mandante.unique()

array([4, 2, 1, 0, 3, 6, 7, 5])

In [58]:
# Ou, ver quantos números diferentes, ja ocorreram. 
gols_mandante.nunique()

8

In [59]:
# E até mais interessante, no meu ponto de vista, podemos ver quantas ocasiões ocorreram os diferentes placares do mandante. 
gols_mandante.value_counts()

1    2591
2    1951
0    1559
3     997
4     386
5     119
6      36
7       6
Name: mandante_placar, dtype: int64

In [60]:
# Por padrão, ele nos retorna em ordem decrescente, isto é, o ascending = False, mas podemos mudar isso: 
gols_mandante.value_counts(ascending=True)

7       6
6      36
5     119
4     386
3     997
0    1559
2    1951
1    2591
Name: mandante_placar, dtype: int64

In [61]:
# Podemos também quebrar o numero de gols, em classes, utilizando o parâmetro bins. 
gols_mandante.value_counts(ascending=True, bins=10)

(2.1, 2.8]          0
(4.2, 4.9]          0
(6.3, 7.0]          6
(5.6, 6.3]         36
(4.9, 5.6]        119
(3.5, 4.2]        386
(2.8, 3.5]        997
(-0.008, 0.7]    1559
(1.4, 2.1]       1951
(0.7, 1.4]       2591
Name: mandante_placar, dtype: int64

Criando Séries

In [62]:
# Há diversas maneiras de criarmos uma série. 
df.head()

     Nome  Segunda  Terça  Quarta  Quinta  Sexta  Sabado  Domingo
0  Victor        2      3       1       3      0       0        3
1  Amanda        0      3       0       4      3       1        2
2    Luis        1      2       4       5      6       0        0
3   Júlia        1      1       2       0      0       1        2

In [63]:
# Criando séries, escolhendo uma coluna do df. 
nome = df["Nome"]

In [64]:
type(nome) # Conferindo

pandas.core.series.Series

In [65]:
# Através da documentação = class pandas.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)
lista_nome = ["Victor", "Amanda", "Luis", "Júlia"] # Criando uma lista 
serie_lista = pd.Series(data=lista_nome) # Transformando a lista em série

In [66]:
type(serie_lista) # Conferindo

pandas.core.series.Series

In [67]:
# Usando os parâmetros, e criando séries. 
pd.Series(data=[1,2,3,4,5,6,7], index=["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabado"]) # Criando index para séries.

Domingo    1
Segunda    2
Terça      3
Quarta     4
Quinta     5
Sexta      6
Sabado     7
dtype: int64

In [68]:
# Utilizando dict 
dic = {"dom": 1, "seg":2,"ter":3, "quarta":4, "quinta":5,"sexta":6, "sabado":7} # Criando dic

In [69]:
pd.Series(dic) # usando dic para criar uma série.

dom       1
seg       2
ter       3
quarta    4
quinta    5
sexta     6
sabado    7
dtype: int64

In [70]:
# Dando um nome a série 
pd.Series(data=[1,2,3,4,5,6,7], index=["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabado"], name= "Dias da semana")

Domingo    1
Segunda    2
Terça      3
Quarta     4
Quinta     5
Sexta      6
Sabado     7
Name: Dias da semana, dtype: int64

In [71]:
# Conferindo
type(pd.Series(data=[1,2,3,4,5,6,7], index=["Domingo", "Segunda", "Terça", "Quarta", "Quinta", "Sexta", "Sabado"], name= "Dias da semana"))

pandas.core.series.Series

Indexação e Slicing (Séries)

In [72]:
dfc = pd.read_csv('casa_para_venda.csv')

In [73]:
dfc.head(3)

,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa (R$),rent amount (R$),property tax (R$),fire insurance (R$),total (R$)
0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841

In [75]:
# Trabalhando apenas com uma coluna, e fazendo Python reconhecer que a coluna individual é ua série. 
dfc1  = pd.read_csv('casa_para_venda.csv', usecols=["area"], squeeze= True)

In [76]:
dfc1.head() # Visualizando

0     70
1    320
2     80
3     51
4     25
Name: area, dtype: int64

In [78]:
type(dfc1) # Conferindo o type

pandas.core.series.Series

In [80]:
dfc1.tail() # Vendo 5 ultimos.

10687     63
10688    285
10689     70
10690    120
10691     80
Name: area, dtype: int64

In [83]:
dfc1.index # Informações do index, repare que vai até o 10692, porque o ultimo valor não é incluso.

RangeIndex(start=0, stop=10692, step=1)

In [84]:
# Observando valores através do index. 
dfc1[10691]

80

In [87]:
# Ao invés de colocar o 10691, que é a última observação, podemos utilizar o conceito de indexação negativa. 
dfc1.iloc[-1] # Porém, para funcionar a indexação negativa precisamos do.iloc[]

80

In [89]:
# Podemos também trazer uma lista de index. 
dfc1.iloc[[-1,-2,-3,-4,-5]]

10691     80
10690    120
10689     70
10688    285
10687     63
Name: area, dtype: int64

In [90]:
# Comparando com o .tail 
dfc1.tail()

10687     63
10688    285
10689     70
10690    120
10691     80
Name: area, dtype: int64

In [96]:
# Slicing, entendendo a diferença. 
dfc1.iloc[-3:]

10689     70
10690    120
10691     80
Name: area, dtype: int64

In [97]:
# Slicing comparando 
dfc1.iloc[:-3] # Nesse caso, ele começa no zero, e para na observação que mandarmos.

0         70
1        320
2         80
3         51
4         25
        ...
10684     98
10685     83
10686    150
10687     63
10688    285
Name: area, Length: 10689, dtype: int64