<a href="https://colab.research.google.com/github/LeonardoHyppolito/Estudos/blob/main/Lista_2_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [37]:
#Importando biblioteca pandas
import pandas as pd

In [38]:
#Lendo arquivo 
df = pd.read_csv("campeonato-brasileiro-full.csv")

1) Calcule para todas as observações a diferença entre as colunas Mandante Placar e Visitante Placar. Faça isso preenchendo as lacunas!

In [39]:
df.loc[:, ["mandante_placar","visitante_placar"]] # Utilizando o loc[], para selecionar as colunas desejadas através do nome. 
# O primeiro parâmetro nos diz quantas informações eu quero pegar, e quais são elas, passando : , (vazio dos dois lados), ele pegará todas as 
#informações das colunas escolhidas.

      mandante_placar  visitante_placar
0                   4                 2
1                   2                 0
2                   1                 1
3                   2                 2
4                   1                 1
...               ...               ...
7640                1                 0
7641                1                 1
7642                1                 0
7643                4                 3
7644                1                 1

[7645 rows x 2 columns]

In [40]:
#Também poderiamos fazer utilizando o iloc[], e passando os indices das colunas desejadas.

In [41]:
# Fazendo a função de subtração, de modo anonima. (lambda)
df.loc[:, ["mandante_placar","visitante_placar"]].apply(lambda x: x.max() - x.min(), axis=1) # Ja que queremos a diferença em módulo. 
# O computador nos retorna o index e o resultado da subtração do maximo e do mínimo. axis=1, pois precisamos dos valores das linhas.

0       2
1       2
2       0
3       0
4       0
       ..
7640    1
7641    0
7642    1
7643    1
7644    0
Length: 7645, dtype: int64

2) Crie um MultiIndex para o DataFrame com as colunas Dia e Estado Mandante

In [42]:
#Visualização rapida.
df.head(2)

,ID,rodada,data,hora,dia,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,mandante_estado,visitante_estado,estado_vencedor
0,1,1,2003-03-29,16:00,Sabado,Guarani,Vasco,NaN,NaN,NaN,NaN,Guarani,brinco de ouro,4,2,SP,RJ,SP
1,2,1,2003-03-29,16:00,Sabado,Athletico-PR,Gremio,NaN,NaN,NaN,NaN,Athletico-PR,arena da baixada,2,0,PR,RS,PR

In [43]:
# Criando multiplos index. 
df.set_index(["dia", "mandante_estado"], inplace = True)

In [44]:
#Conferindo se deu certo
df.head(2)

                        ID  rodada        data   hora      mandante visitante  \
dia    mandante_estado
Sabado SP                1       1  2003-03-29  16:00       Guarani     Vasco
       PR                2       1  2003-03-29  16:00  Athletico-PR    Gremio

                       formacao_mandante formacao_visitante tecnico_mandante  \
dia    mandante_estado
Sabado SP                            NaN                NaN              NaN
       PR                            NaN                NaN              NaN

                       tecnico_visitante      vencedor             arena  \
dia    mandante_estado
Sabado SP                            NaN       Guarani    brinco de ouro
       PR                            NaN  Athletico-PR  arena da baixada

                        mandante_placar  visitante_placar visitante_estado  \
dia    mandante_estado
Sabado SP                             4                 2               RJ
       PR                             2                 0               RS

                       estado_vencedor
dia    mandante_estado
Sabado SP                           SP
       PR                           PR

3) Classifique os dois níveis de índice em ordem crescente e salve no próprio DataFrame

In [45]:
# Colocando em ordem crescente com ascending=True, e salvando com inplace = True
df.sort_index(ascending= True, inplace=True)

In [46]:
df.head(10) # Visualizando e conferindo, nesse caso será em ordem alfabetica.

                           ID  rodada        data   hora mandante  \
dia     mandante_estado
Domingo AL               6532       3  2019-05-05  16:00      CSA
        AL               6582       8  2019-06-09  19:01      CSA
        AL               6663      16  2019-08-25  19:00      CSA
        AL               6685      18  2019-09-08  19:00      CSA
        AL               6702      20  2019-09-22  16:01      CSA
        AL               6735      23  2019-10-06  19:00      CSA
        AL               6824      32  2019-11-10  19:01      CSA
        AL               6861      36  2019-12-01  17:58      CSA
        AL               6879      38  2019-12-08  16:01      CSA
        BA                 10       1  2003-03-30  16:00  Vitoria

                           visitante formacao_mandante formacao_visitante  \
dia     mandante_estado
Domingo AL                    Santos           4-2-3-1              3-4-3
        AL               Botafogo-RJ           4-2-3-1            4-1-4-1
        AL                  Cruzeiro         4-1-2-1-2            4-2-3-1
        AL               Chapecoense         4-1-2-1-2            4-2-3-1
        AL                     Ceara           4-2-3-1            4-2-3-1
        AL                      Avai             4-3-3            4-1-4-1
        AL                     Vasco           4-2-3-1            4-2-3-1
        AL                     Bahia           4-2-3-1              4-3-3
        AL                 Sao Paulo           4-2-3-1              4-3-3
        BA               Figueirense               NaN                NaN

                                  tecnico_mandante          tecnico_visitante  \
dia     mandante_estado
Domingo AL                        J. Sampaoli Moya           J. Sampaoli Moya
        AL                     E. de Souza Barroca        E. de Souza Barroca
        AL                                 R. Ceni                    R. Ceni
        AL                             E. Hartkopp                E. Hartkopp
        AL                        E. Alves Moreira           E. Alves Moreira
        AL               A. Valentim do Carmo Neto  A. Valentim do Carmo Neto
        AL                  V. Luxemburgo da Silva     V. Luxemburgo da Silva
        AL                      R. Machado Marques         R. Machado Marques
        AL                          F. Diniz Silva             F. Diniz Silva
        BA                                     NaN                        NaN

                            vencedor             arena  mandante_placar  \
dia     mandante_estado
Domingo AL                         -  estadio rei pele                0
        AL               Botafogo-RJ  estadio rei pele                1
        AL                         -  estadio rei pele                1
        AL                       CSA  estadio rei pele                2
        AL                       CSA  estadio rei pele                1
        AL                       CSA  estadio rei pele                3
        AL                     Vasco  estadio rei pele                0
        AL                     Bahia  estadio rei pele                1
        AL                 Sao Paulo  estadio rei pele                1
        BA                         -          barradao                1

                         visitante_placar visitante_estado estado_vencedor
dia     mandante_estado
Domingo AL                              0               SP               -
        AL                              2               RJ              RJ
        AL                              1               MG               -
        AL                              0               SC              AL
        AL                              0               CE              AL
        AL                              1               SC              AL
        AL                              3               RJ              RJ
        AL                              2               BA              BA
        AL                              2               SP              SP
        BA                              1               SC               -

4) Inspecione o DataFrame

In [58]:
# Primeira etapa da inspeção, visualizando com df.head()
df.head()

,dia,mandante_estado,ID,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,visitante_estado,estado_vencedor
0,Domingo,AL,6532,3,2019-05-05,16:00,CSA,Santos,4-2-3-1,3-4-3,J. Sampaoli Moya,J. Sampaoli Moya,-,estadio rei pele,0,0,SP,-
1,Domingo,AL,6582,8,2019-06-09,19:01,CSA,Botafogo-RJ,4-2-3-1,4-1-4-1,E. de Souza Barroca,E. de Souza Barroca,Botafogo-RJ,estadio rei pele,1,2,RJ,RJ
2,Domingo,AL,6663,16,2019-08-25,19:00,CSA,Cruzeiro,4-1-2-1-2,4-2-3-1,R. Ceni,R. Ceni,-,estadio rei pele,1,1,MG,-
3,Domingo,AL,6685,18,2019-09-08,19:00,CSA,Chapecoense,4-1-2-1-2,4-2-3-1,E. Hartkopp,E. Hartkopp,CSA,estadio rei pele,2,0,SC,AL
4,Domingo,AL,6702,20,2019-09-22,16:01,CSA,Ceara,4-2-3-1,4-2-3-1,E. Alves Moreira,E. Alves Moreira,CSA,estadio rei pele,1,0,CE,AL

In [59]:
# Segunda etapa da inspeção, com df.info
df.info() # Assim vemos que realmente é um multiIndex.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7645 entries, 0 to 7644
Data columns (total 18 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   dia                 7645 non-null   object
 1   mandante_estado     7645 non-null   object
 2   ID                  7645 non-null   int64
 3   rodada              7645 non-null   int64
 4   data                7645 non-null   object
 5   hora                7645 non-null   object
 6   mandante            7645 non-null   object
 7   visitante           7645 non-null   object
 8   formacao_mandante   2671 non-null   object
 9   formacao_visitante  2671 non-null   object
 10  tecnico_mandante    3035 non-null   object
 11  tecnico_visitante   3035 non-null   object
 12  vencedor            7645 non-null   object
 13  arena               7645 non-null   object
 14  mandante_placar     7645 non-null   int64
 15  visitante_placar    7645 non-null   int64
 16  visitante_estado    7645 non-null   object
 17  estado_vencedor     7645 non-null   object
dtypes: int64(4), object(14)
memory usage: 1.1+ MB

5) Selecione todos os jogos com "Estado Mandante" sendo o RJ

In [63]:
# Primeiro precisamos resetar nosso indice, para que o estado mandante volte a ser uma coluna 
df.reset_index(inplace=True)

In [50]:
df.head()

,dia,mandante_estado,ID,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,visitante_estado,estado_vencedor
0,Domingo,AL,6532,3,2019-05-05,16:00,CSA,Santos,4-2-3-1,3-4-3,J. Sampaoli Moya,J. Sampaoli Moya,-,estadio rei pele,0,0,SP,-
1,Domingo,AL,6582,8,2019-06-09,19:01,CSA,Botafogo-RJ,4-2-3-1,4-1-4-1,E. de Souza Barroca,E. de Souza Barroca,Botafogo-RJ,estadio rei pele,1,2,RJ,RJ
2,Domingo,AL,6663,16,2019-08-25,19:00,CSA,Cruzeiro,4-1-2-1-2,4-2-3-1,R. Ceni,R. Ceni,-,estadio rei pele,1,1,MG,-
3,Domingo,AL,6685,18,2019-09-08,19:00,CSA,Chapecoense,4-1-2-1-2,4-2-3-1,E. Hartkopp,E. Hartkopp,CSA,estadio rei pele,2,0,SC,AL
4,Domingo,AL,6702,20,2019-09-22,16:01,CSA,Ceara,4-2-3-1,4-2-3-1,E. Alves Moreira,E. Alves Moreira,CSA,estadio rei pele,1,0,CE,AL

In [51]:
#Criando um df2, para armazenar um slice do meu df, em que todos os mandantes, são do estado do rio de janeiro. 
df2 = df.loc[df.mandante_estado == "RJ"]

In [52]:
df2 # Visualizando o df, com todos mandantes == RJ

,dia,mandante_estado,ID,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,visitante_estado,estado_vencedor
1457,Domingo,RJ,3,1,2003-03-30,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,PR,-
1458,Domingo,RJ,24,2,2003-04-06,18:00,Vasco,Goias,NaN,NaN,NaN,NaN,Vasco,sao januario,6,4,GO,RJ
1459,Domingo,RJ,48,3,2003-04-13,18:00,Flamengo,Fluminense,NaN,NaN,NaN,NaN,Flamengo,maracana,4,1,RJ,RJ
1460,Domingo,RJ,59,5,2003-04-20,18:00,Fluminense,Parana,NaN,NaN,NaN,NaN,-,maracana,0,0,PR,-
1461,Domingo,RJ,72,6,2003-04-27,18:00,Vasco,Sao Caetano,NaN,NaN,NaN,NaN,Vasco,sao januario,1,0,SP,RJ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7597,Terça-feira,RJ,3337,26,2010-09-28,21:00,Vasco,Santos,NaN,NaN,NaN,NaN,Vasco,sao januario,3,1,SP,RJ
7598,Terça-feira,RJ,5707,35,2016-11-15,16:59,Fluminense,Athletico-PR,4-2-3-1,4-2-3-1,P. Autuori de Mello,P. Autuori de Mello,-,maracana,1,1,PR,-
7599,Terça-feira,RJ,5786,5,2017-06-06,19:59,Fluminense,Athletico-PR,4-2-3-1,4-1-4-1,E. Baptista,E. Baptista,-,maracana,1,1,PR,-
7600,Terça-feira,RJ,6404,28,2018-10-09,21:00,Botafogo-RJ,Vasco,4-3-3,4-2-3-1,A. Valentim do Carmo Neto,A. Valentim do Carmo Neto,-,estadio nilton santos,1,1,RJ,-
7601,Terça-feira,RJ,6945,11,2020-10-13,17:59,Flamengo,Goias,4-2-3-1,4-3-3,E. Alves Moreira,E. Alves Moreira,Flamengo,maracana,2,1,GO,RJ

6) Selecione todos os jogos com "Estado Mandante" sendo o RJ que ocorreram no Sábado

In [53]:
# Para isso podemos criar variáveis que armazenam as condições e depois unir com o conceito de and e or, nesse caso invés de and, utilizamos "&"

In [54]:
estado_mandante = (df.mandante_estado == "RJ")
dia_jogo = (df.dia == "Sabado")

In [55]:
# Conferindo se alguma das informações das primeiras linhas, satisfazem as duas condições. 
(estado_mandante & dia_jogo).head() # Se uma das condições for falsa, ele nos retorna false.

0    False
1    False
2    False
3    False
4    False
dtype: bool

In [56]:
# Agora podemos criar um df, somente com as informações que satisafazem as duas condições utilizando o loc[]
df_rj_sabado = df.loc[estado_mandante & dia_jogo]

In [57]:
df_rj_sabado.head(3)

,dia,mandante_estado,ID,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,visitante_estado,estado_vencedor
6227,Sabado,RJ,13,2,2003-04-05,16:00,Fluminense,Fortaleza,NaN,NaN,NaN,NaN,-,maracana,1,1,CE,-
6228,Sabado,RJ,51,5,2003-04-19,18:00,Flamengo,Santos,NaN,NaN,NaN,NaN,Santos,maracana,0,2,SP,SP
6229,Sabado,RJ,73,7,2003-05-03,16:00,Flamengo,Vitoria,NaN,NaN,NaN,NaN,Flamengo,maracana,2,1,BA,RJ

In [65]:
# Outra forma de realizar isso é voltando a colocar o mandante_estado e o dia como index. 
df.set_index(["dia", "mandante_estado"], inplace = True)

In [66]:
df.head(3)

                         index    ID  rodada        data   hora mandante  \
dia     mandante_estado
Domingo AL                   0  6532       3  2019-05-05  16:00      CSA
        AL                   1  6582       8  2019-06-09  19:01      CSA
        AL                   2  6663      16  2019-08-25  19:00      CSA

                           visitante formacao_mandante formacao_visitante  \
dia     mandante_estado
Domingo AL                    Santos           4-2-3-1              3-4-3
        AL               Botafogo-RJ           4-2-3-1            4-1-4-1
        AL                  Cruzeiro         4-1-2-1-2            4-2-3-1

                            tecnico_mandante    tecnico_visitante  \
dia     mandante_estado
Domingo AL                  J. Sampaoli Moya     J. Sampaoli Moya
        AL               E. de Souza Barroca  E. de Souza Barroca
        AL                           R. Ceni              R. Ceni

                            vencedor             arena  mandante_placar  \
dia     mandante_estado
Domingo AL                         -  estadio rei pele                0
        AL               Botafogo-RJ  estadio rei pele                1
        AL                         -  estadio rei pele                1

                         visitante_placar visitante_estado estado_vencedor
dia     mandante_estado
Domingo AL                              0               SP               -
        AL                              2               RJ              RJ
        AL                              1               MG               -

In [67]:
# Para facilitar, podemos utilizar um swaplevel, para inverter a ordem dos index. 
df = df.swaplevel()

In [68]:
df.head() # Visualizando o swap.

                         index    ID  rodada        data   hora mandante  \
mandante_estado dia
AL              Domingo      0  6532       3  2019-05-05  16:00      CSA
                Domingo      1  6582       8  2019-06-09  19:01      CSA
                Domingo      2  6663      16  2019-08-25  19:00      CSA
                Domingo      3  6685      18  2019-09-08  19:00      CSA
                Domingo      4  6702      20  2019-09-22  16:01      CSA

                           visitante formacao_mandante formacao_visitante  \
mandante_estado dia
AL              Domingo       Santos           4-2-3-1              3-4-3
                Domingo  Botafogo-RJ           4-2-3-1            4-1-4-1
                Domingo     Cruzeiro         4-1-2-1-2            4-2-3-1
                Domingo  Chapecoense         4-1-2-1-2            4-2-3-1
                Domingo        Ceara           4-2-3-1            4-2-3-1

                            tecnico_mandante    tecnico_visitante  \
mandante_estado dia
AL              Domingo     J. Sampaoli Moya     J. Sampaoli Moya
                Domingo  E. de Souza Barroca  E. de Souza Barroca
                Domingo              R. Ceni              R. Ceni
                Domingo          E. Hartkopp          E. Hartkopp
                Domingo     E. Alves Moreira     E. Alves Moreira

                            vencedor             arena  mandante_placar  \
mandante_estado dia
AL              Domingo            -  estadio rei pele                0
                Domingo  Botafogo-RJ  estadio rei pele                1
                Domingo            -  estadio rei pele                1
                Domingo          CSA  estadio rei pele                2
                Domingo          CSA  estadio rei pele                1

                         visitante_placar visitante_estado estado_vencedor
mandante_estado dia
AL              Domingo                 0               SP               -
                Domingo                 2               RJ              RJ
                Domingo                 1               MG               -
                Domingo                 0               SC              AL
                Domingo                 0               CE              AL

In [69]:
# Agora podemos fazer um df.loc[], e acessar rapidamente todos os jogos com RJ de mandante. 
df.loc["RJ"] # Note que ele não nos retorna o index RJ, isso porque, todas as informações são referentes a mandante_estado = RJ.

,index,ID,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,visitante_estado,estado_vencedor
dia,,,,,,,,,,,,,,,,,
Domingo,1457,3,1,2003-03-30,16:00,Flamengo,Coritiba,NaN,NaN,NaN,NaN,-,maracana,1,1,PR,-
Domingo,1458,24,2,2003-04-06,18:00,Vasco,Goias,NaN,NaN,NaN,NaN,Vasco,sao januario,6,4,GO,RJ
Domingo,1459,48,3,2003-04-13,18:00,Flamengo,Fluminense,NaN,NaN,NaN,NaN,Flamengo,maracana,4,1,RJ,RJ
Domingo,1460,59,5,2003-04-20,18:00,Fluminense,Parana,NaN,NaN,NaN,NaN,-,maracana,0,0,PR,-
Domingo,1461,72,6,2003-04-27,18:00,Vasco,Sao Caetano,NaN,NaN,NaN,NaN,Vasco,sao januario,1,0,SP,RJ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Terça-feira,7597,3337,26,2010-09-28,21:00,Vasco,Santos,NaN,NaN,NaN,NaN,Vasco,sao januario,3,1,SP,RJ
Terça-feira,7598,5707,35,2016-11-15,16:59,Fluminense,Athletico-PR,4-2-3-1,4-2-3-1,P. Autuori de Mello,P. Autuori de Mello,-,maracana,1,1,PR,-
Terça-feira,7599,5786,5,2017-06-06,19:59,Fluminense,Athletico-PR,4-2-3-1,4-1-4-1,E. Baptista,E. Baptista,-,maracana,1,1,PR,-
Terça-feira,7600,6404,28,2018-10-09,21:00,Botafogo-RJ,Vasco,4-3-3,4-2-3-1,A. Valentim do Carmo Neto,A. Valentim do Carmo Neto,-,estadio nilton santos,1,1,RJ,-
Terça-feira,7601,6945,11,2020-10-13,17:59,Flamengo,Goias,4-2-3-1,4-3-3,E. Alves Moreira,E. Alves Moreira,Flamengo,maracana,2,1,GO,RJ

In [70]:
# Com isso fica mais fácil de acessar múltiplas informações, ao invés de fazer tudo o que foi feito anteriormente.  
df.loc[("RJ", "Sabado")] # Muito mais simples, e de fácil visualização. Logo, entendimento mais claro das informações.

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: PerformanceWarning: indexing past lexsort depth may impact performance.

                        index    ID  rodada        data   hora    mandante  \
mandante_estado dia
RJ              Sabado   6227    13       2  2003-04-05  16:00  Fluminense
                Sabado   6228    51       5  2003-04-19  18:00    Flamengo
                Sabado   6229    73       7  2003-05-03  16:00    Flamengo
                Sabado   6230    97       9  2003-05-17  16:00  Fluminense
                Sabado   6231   112      10  2003-05-24  18:00       Vasco
...                       ...   ...     ...         ...    ...         ...
                Sabado   6598  7379      12  2021-07-17  21:00  Fluminense
                Sabado   6599  7506      25  2021-10-09  16:30  Fluminense
                Sabado   6600  7538      28  2021-10-23  19:00  Fluminense
                Sabado   6601  7557      29  2021-10-30  19:01    Flamengo
                Sabado   6602  7578      30  2021-11-06  21:00  Fluminense

                          visitante formacao_mandante formacao_visitante  \
mandante_estado dia
RJ              Sabado    Fortaleza               NaN                NaN
                Sabado       Santos               NaN                NaN
                Sabado      Vitoria               NaN                NaN
                Sabado  Figueirense               NaN                NaN
                Sabado  Ponte Preta               NaN                NaN
...                             ...               ...                ...
                Sabado       Gremio           4-2-3-1              4-4-2
                Sabado  Atletico-GO             4-3-3              4-4-2
                Sabado     Flamengo           4-2-3-1            4-2-3-1
                Sabado  Atletico-MG           4-2-3-1            4-2-3-1
                Sabado        Sport           4-2-2-2            4-1-4-1

                              tecnico_mandante       tecnico_visitante  \
mandante_estado dia
RJ              Sabado                     NaN                     NaN
                Sabado                     NaN                     NaN
                Sabado                     NaN                     NaN
                Sabado                     NaN                     NaN
                Sabado                     NaN                     NaN
...                                        ...                     ...
                Sabado              L. Scolari              L. Scolari
                Sabado  E. do Nascimento Souza  E. do Nascimento Souza
                Sabado           Renato Gaúcho           Renato Gaúcho
                Sabado               A. Stival               A. Stival
                Sabado            C. de Lucena            C. de Lucena

                          vencedor         arena  mandante_placar  \
mandante_estado dia
RJ              Sabado           -      maracana                1
                Sabado      Santos      maracana                0
                Sabado    Flamengo      maracana                2
                Sabado  Fluminense      maracana                3
                Sabado       Vasco  sao januario                1
...                            ...           ...              ...
                Sabado      Gremio      maracana                0
                Sabado           -      maracana                0
                Sabado  Fluminense      maracana                3
                Sabado    Flamengo      maracana                1
                Sabado  Fluminense      maracana                1

                        visitante_placar visitante_estado estado_vencedor
mandante_estado dia
RJ              Sabado                 1               CE               -
                Sabado                 2               SP              SP
                Sabado                 1               BA              RJ
                Sabado                 0               SC              RJ
                Sabado                 0               SP              RJ
...                                  ...              ...             ...
                Sabado                 1               RS              RS
                Sabado                 0               GO               -
                Sabado                 1               RJ              RJ
                Sabado                 0               MG              RJ
                Sabado                 0               PE              RJ

[376 rows x 17 columns]

7) Selecione todos os jogos com o "Estado Mandante" sendo o "RS" e "SP" que ocorreram no "Sábado" e apenas as colunas "Arena" e "Rodada"!

In [71]:
# Com o estado mandante e o dia como index, ja facilita bastante a resolução deste tipo de problema : 
df.loc[(["RS", "SP"], "Sabado"), ["arena", "rodada"]]

                                          arena  rodada
mandante_estado dia
RS              Sabado                 olimpico       2
                Sabado                beira rio       3
                Sabado           alfredo jaconi       9
                Sabado                beira rio      11
                Sabado                 olimpico      12
...                                         ...     ...
SP              Sabado           allianz parque      25
                Sabado  estadio urbano caldeira      28
                Sabado        neo quimica arena      30
                Sabado                  nabizao      32
                Sabado        neo quimica arena      32

[658 rows x 2 columns]

8) Troque os níveis do MultiIndex e classifique o novo MultiIndex em ordem crescente!

In [72]:
# Basicamente o que ja fizemos acima, podemos salvar o swap no df, passando o df como uma variável. 
df = df.swaplevel()

In [74]:
df.head(3) # Conferindo o swap

                         index    ID  rodada        data   hora mandante  \
dia     mandante_estado
Domingo AL                   0  6532       3  2019-05-05  16:00      CSA
        AL                   1  6582       8  2019-06-09  19:01      CSA
        AL                   2  6663      16  2019-08-25  19:00      CSA

                           visitante formacao_mandante formacao_visitante  \
dia     mandante_estado
Domingo AL                    Santos           4-2-3-1              3-4-3
        AL               Botafogo-RJ           4-2-3-1            4-1-4-1
        AL                  Cruzeiro         4-1-2-1-2            4-2-3-1

                            tecnico_mandante    tecnico_visitante  \
dia     mandante_estado
Domingo AL                  J. Sampaoli Moya     J. Sampaoli Moya
        AL               E. de Souza Barroca  E. de Souza Barroca
        AL                           R. Ceni              R. Ceni

                            vencedor             arena  mandante_placar  \
dia     mandante_estado
Domingo AL                         -  estadio rei pele                0
        AL               Botafogo-RJ  estadio rei pele                1
        AL                         -  estadio rei pele                1

                         visitante_placar visitante_estado estado_vencedor
dia     mandante_estado
Domingo AL                              0               SP               -
        AL                              2               RJ              RJ
        AL                              1               MG               -

9) Converta todos os elementos na coluna Estado Mandante para lower!

In [75]:
# Para acessar o estado mandante como coluna precisamos resetar o nosso index. 
df.reset_index(inplace=True)

In [77]:
df.head(3) # Agora nem o dia nem o mandante estado estarão como index.

,dia,mandante_estado,index,ID,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,visitante_estado,estado_vencedor
0,Domingo,AL,0,6532,3,2019-05-05,16:00,CSA,Santos,4-2-3-1,3-4-3,J. Sampaoli Moya,J. Sampaoli Moya,-,estadio rei pele,0,0,SP,-
1,Domingo,AL,1,6582,8,2019-06-09,19:01,CSA,Botafogo-RJ,4-2-3-1,4-1-4-1,E. de Souza Barroca,E. de Souza Barroca,Botafogo-RJ,estadio rei pele,1,2,RJ,RJ
2,Domingo,AL,2,6663,16,2019-08-25,19:00,CSA,Cruzeiro,4-1-2-1-2,4-2-3-1,R. Ceni,R. Ceni,-,estadio rei pele,1,1,MG,-

In [78]:
# Agora basta acessar a coluna mandante_estado e aplicar o metodo lower, basicamente transformar os elementos da coluna em minusculas. 
df.mandante_estado = df.mandante_estado.str.lower() # Precisamos transformar em str, para aplicar o método lower.

In [80]:
df.head(3) # Agora os valores da coluna mandante_estado estarão em letras minúsculas.

,dia,mandante_estado,index,ID,rodada,data,hora,mandante,visitante,formacao_mandante,formacao_visitante,tecnico_mandante,tecnico_visitante,vencedor,arena,mandante_placar,visitante_placar,visitante_estado,estado_vencedor
0,Domingo,al,0,6532,3,2019-05-05,16:00,CSA,Santos,4-2-3-1,3-4-3,J. Sampaoli Moya,J. Sampaoli Moya,-,estadio rei pele,0,0,SP,-
1,Domingo,al,1,6582,8,2019-06-09,19:01,CSA,Botafogo-RJ,4-2-3-1,4-1-4-1,E. de Souza Barroca,E. de Souza Barroca,Botafogo-RJ,estadio rei pele,1,2,RJ,RJ
2,Domingo,al,2,6663,16,2019-08-25,19:00,CSA,Cruzeiro,4-1-2-1-2,4-2-3-1,R. Ceni,R. Ceni,-,estadio rei pele,1,1,MG,-

10) Verifique quantos dias na coluna "Dia" contêm "feira"!

In [81]:
# Python nos oferece o método contains, que verifica se "contém" algo em determinada coluna, neste caso, podemos pedir para o python para ele verificar
# Se "contém" ou melhor contains alguma str "feira" e pedir para ele somar quantas observações contains "feira" utilizando o sum()
df.dia.str.contains("feira").sum() # Importante notar que contains é aplicada somente em str, então precisamos transformar antes de chamar a função.

2295

In [57]:
# Fim da listaaaaa !