<a href="https://colab.research.google.com/github/LeonardoHyppolito/Estudos/blob/main/Primeira_Lista_Destravando_Programa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Primeira Lista de Exercicios de programação ! A ideia aqui é  apresentar os conceitos de variáveis e tipos de dados.

##Exercicio 1 - Faça um programa que leia e imprima um numero inteiro e o imprima

In [ ]:
programa_que_le_numero = int(input("Digite um numero inteiro:"))
print(f"O numero digitado foi:{programa_que_le_numero}")

In [ ]:
print(f"o tipo de dado é:{type(programa_que_le_numero)}")

In [ ]:
# Por padrão, toda vez que usar o input, a linguagem transforma o dado em string. Queremos um numero inteiro, para isso utilizamos a função int

## Exercicio 2 - Faça um programa que leia um numero real e o imprima

In [ ]:
le_numero_real = float(input("digite um numero real:"))
print(f"o numero real escolhido foi:{le_numero_real}")

digite um numero real:5.5
o numero real escolhido foi:5.5

In [ ]:
## Desta vez ja iniciei com o float, mesmo assim vou conferir com a função type

In [ ]:
type(le_numero_real)

float

## Exercicio 3 peça ao usuario para digitar 3 valores inteiros e imprima a soma deles.

In [ ]:
## Do meu jeito

In [ ]:
primeira_entrada = int(input("Digite o primeiro numero:"))

Digite o primeiro numero:1

In [ ]:
segunda_entrada = int(input("Digite o segundo numero:"))

Digite o segundo numero:2

In [ ]:
terceira_entrada = int(input("Digite o terceiro numero:"))

Digite o terceiro numero:10

In [ ]:
(print(primeira_entrada + segunda_entrada + terceira_entrada))

13

In [ ]:
## eu tinha colocado int antes do print, o computador deu o resultado e um erro ao mesmo tempo, imagino que por eu ter colocado "int" em todas as variaveis
##eu não preciso dizer que a soma vai ser um numero inteiro, uma vez que todas as variaveis somadas são do tipo int

In [ ]:
type(primeira_entrada + segunda_entrada + terceira_entrada)

int

In [ ]:
## Jeito do professor

In [ ]:
primeiro_valor = int(input("digite o primeiro valor:"))
segundo_valor = int(input("digite o segundo valor:"))
terceiro_valor = int(input("digite o terceiro valor"))

digite o primeiro valor:2
digite o segundo valor:25
digite o terceiro valor20

In [ ]:
soma = primeiro_valor + segundo_valor + terceiro_valor

In [ ]:
print(soma)

47

In [ ]:
tipo_do_dado = print(f"o tipo do dado é:{type(soma)}")

o tipo do dado é:<class 'int'>

In [ ]:
## Passei bem perto, a linha de raciocinio foi parecida !

## Exercicio 4: Peça para o usuario digitar um numero real(float), e imprima o quadrado desse valor.

In [ ]:
## Do meu jeito

In [ ]:
user_choices = float(input("Digite um numero real:"))

Digite um numero real:1.2

In [ ]:
quadrado_numero = print(f"O quadrado do numero é:{user_choices * user_choices}")

O quadrado do numero é:1.44

In [ ]:
verificando_tipo_de_dado = print(f"O tipo de dado é:{type(user_choices * user_choices)}")

O tipo de dado é:<class 'float'>

In [ ]:
## Jeito do professor

In [ ]:
digite_um_numero_real = float(input("Digite um numero real:"))

Digite um numero real:1.2

In [ ]:
numero_real_quadrado = digite_um_numero_real * digite_um_numero_real
print(f"O quadrado do valor {digite_um_numero_real} é {numero_real_quadrado}")

O quadrado do valor 1.2 é 1.44

In [ ]:
print(f"O tipo de dado é:{type(numero_real_quadrado)}")

O tipo de dado é:<class 'float'>

## Exercicio 5 - Peça para um usuario digitar um numero real e imprima a quinta parte deste numero.

In [ ]:
usuario_digita = float(input("Digite um numero real:"))

Digite um numero real:1.2

In [ ]:
quinta_parte_do_numero = (usuario_digita / 5) * 4

In [ ]:
print(f"A quinta parte do numero real escolhido é:{quinta_parte_do_numero}")

A quinta parte do numero real escolhido é:0.96

In [ ]:
## O meu objetivo era dividir um numero em 5 partes, e achar o pedaço final, acredito ser um erro de logica, ou de entendimento do problema 
## porém consegui fazer com que a linguagem atendesse esse raciocinio, que não necessariamente resolve o problema.

In [ ]:
## Jeito do professor - Era só dividirt por 5 !

In [ ]:
## meu jeito (2°tentativa)
usuario_digita = float(input("Digite um numero real:"))
quinta_parte_do_numero = usuario_digita / 5 
print(f"a quinta parte do numero é {usuario_digita / 5}")

Digite um numero real:1.2
a quinta parte do numero é 0.24

In [ ]:
type(quinta_parte_do_numero)

float

## exercicio 6 - Leia uma temperatura em graus celsius e apresente-a convertida em graus Fahrenheit. A formula de conversão é F = C * (9/5) + 32 
## sendo F a temperatura em fahrenheit e c a temperatura em celcius.

In [ ]:
## Começando pelo meu jeito.

In [ ]:
temp_celsius = float(input("Digite a temperatura em graus celcius de hoje:"))

Digite a temperatura em graus celcius de hoje:21.7

In [ ]:
temp_fahrenheit = temp_celsius * (9/5) + 32
conversor_temp = print(f"A temperatura de hoje em Fahrenheit é:{temp_fahrenheit}")

A temperatura de hoje em Fahrenheit é:71.06

In [ ]:
## Daria para colocar tudo em uma unica celula de codigo ?

In [ ]:
temp_celsius = float(input("Digite a temperatura em graus celcius de hoje:"))
temp_fahrenheit = temp_celsius * (9/5) + 32
conversor_temp = print(f"A temperatura de hoje em Fahrenheit é:{temp_fahrenheit}")

Digite a temperatura em graus celcius de hoje:21.7
A temperatura de hoje em Fahrenheit é:71.06

In [ ]:
type(temp_fahrenheit)
type(temp_celsius)

float

In [ ]:
## Simmmmm, mas vamos ver o que o professor fez.

In [ ]:
grau_em_celsius = float(input("Entre com a temperatura em graus celsius:"))

Entre com a temperatura em graus celsius:21.7

In [ ]:
grau_em_fah = grau_em_celsius * (9/5) + 32

In [ ]:
print(f"A temperatura de {grau_em_celsius} em Fahrenheit é {grau_em_fah}")

A temperatura de 21.7 em Fahrenheit é 71.06

## Exercicio 7 - Leia uma temperatura em graus kelvin e apresente-a convertida em graus celcius. A formlula de conversão é C = K - 273.15, sendo c a temperatura
#em celsius e k em kelvin. Primeiro, vou tentar fazer !

In [ ]:
temperatura_kelvin = float(input("Entre com a temperatura em kelvin: "))

Entre com a temperatura em kelvin: 300

In [ ]:
temperatura_celsius = temperatura_kelvin - 273.15
print(f"A temperatura {temperatura_kelvin} em Celsius é: {temperatura_celsius}")

A temperatura 300.0 em Celsius é: 26.850000000000023

In [ ]:
## Jeito do professor

In [ ]:
## Fez igual ! vamooooooo

## exercicio 8 - Leia um angulo em graus, e apresente-o convertido em radianos. A formlula da conversão é R= G*PI/180, considere G=angulo em graus; pi=3.14;
##e R em radianos. Primeiro vou fazer do meu jeito !

In [ ]:
angulo_em_grau = float(input("Digite um angulo em grau: "))

Digite um angulo em grau: 180

In [ ]:
angulo_radiano = angulo_em_grau * 3.14 / 180
print(f"A conversão do angulo {angulo_em_grau} em Radianos é {angulo_radiano}")

A conversão do angulo 180.0 em Radianos é 3.14

## Exercicio 9 - Leia um valor de comprimento em polegadas e apresente-o convertido em centimetros. A formula de conversão é C = p* 2.54, sendo C o comprimento
# em centimetros e p em polegadas

In [ ]:
valor_polegadas = float(input("Entre com um valor em polegadas: "))

Entre com um valor em polegadas: 24.7

In [ ]:
valor_centimetros = valor_polegadas * 2.54 
print(f"O valor {valor_polegadas} em centimetros é igual a {valor_centimetros}")

O valor 24.7 em centimetros é igual a 62.738

## Exercicio 10 - Faça a leitura de tres valores, e apresente como resultado a soma dos  quadrados dos valores lidos

In [ ]:
valor_1 = float(input("Entre com um valor: "))
valor_2 = float(input("Entre com outro valor:"))
valor_3 = float(input("Entre com um ultimo valor:"))

Entre com um valor: 10.5
Entre com outro valor:18.7
Entre com um ultimo valor:20

In [ ]:
resultado = (valor_1 * valor_1) + (valor_2 * valor_2) + (valor_3 * valor_3)
print(f"O resultado da soma dos qudrados dos valores lidos é {resultado}")

O resultado da soma dos qudrados dos valores lidos é 859.94

In [ ]:
## Jeito do professor !

In [ ]:
prim_valor = int(input("Entre com o primeiro valor: "))
seg_valor = int(input("Entre com o segundo valor: "))
tcr_valor = int(input("Entre com o terceiro valor:"))

Entre com o primeiro valor: 10
Entre com o segundo valor: 20
Entre com o terceiro valor:30

In [ ]:
quadrado_do_primeiro = prim_valor*prim_valor
quadrado_do_segundo = seg_valor*seg_valor
quadrado_do_terceiro = tcr_valor*tcr_valor

In [ ]:
soma_dos_quadrados = quadrado_do_primeiro + quadrado_do_segundo + quadrado_do_terceiro
print(f"A soma é: {soma_dos_quadrados}")

A soma é: 1400

In [ ]:
## kkkkk depois ele fez igualzinho eu. chama, esquece só progresso

## Exercicio 11 - Peça ao usuario quatro notas, calcule a media aritmetica e imprima o resultado

In [ ]:
nota_1 = float(input("Entre com a primeira nota: "))
nota_2= float(input("Entre com a segunda nota: "))
nota_3= float(input("Entre com a terceira nota: "))
nota_4 = float(input("Entre com a quarta nota: "))

Entre com a primeira nota: 10
Entre com a segunda nota: 5
Entre com a terceira nota: 4
Entre com a quarta nota: 7

In [ ]:
media_das_notas = (nota_1 + nota_2 + nota_3 + nota_4) / 4
print(f"A média das notas é {media_das_notas}")

A média das notas é 6.5

In [ ]:
## Jeito do professor = o meu ! BORAAA

## Exercicio 12 - leia um numero inteiro e imprima seu antecessor e seu sucessor

In [ ]:
numero_inteiro = int(input("Digite um numero inteiro: "))
antecessor = numero_inteiro - 1 
sucessor = numero_inteiro + 1 
print(f"O antecessor do {numero_inteiro} é {antecessor} e o sucessor é {sucessor}")

Digite um numero inteiro: 45
O antecessor do 45 é 44 e o sucessor é 46

##exercicio 13) Leia um numero inteiro e imprima a soma do sucessor de seu triplo com o antecessor de seu dobro.

In [ ]:
numerinho = int(input("Digite um numero inteiro: "))
sucessor_do_triplo = (numerinho * 3) + 1
antecessor_do_dobro = (numerinho * 2) -1

Digite um numero inteiro: 80

In [ ]:
soma_pedida = sucessor_do_triplo + antecessor_do_dobro
print(f"A soma do sucessor do triplo do numero com o antecessor de seu dobro é {soma_pedida}")

A soma do sucessor do triplo do numero com o antecessor de seu dobro é 400

##14) LEIA O TAMANHO DO LADO DE UM QUADRADO E IMPRIMA COMO RESULTADO A SUA ÁREA.

In [ ]:
tamanho_do_lado = float(input("O tamanho do lado do quadrado é: "))
area_quadrado = (tamanho_do_lado * tamanho_do_lado) 
print(f"Sempre que o lado do quadrado for {tamanho_do_lado} a area desse quadrado será {area_quadrado}")

O tamanho do lado do quadrado é: 4
Sempre que o lado do quadrado for 4.0 a area desse quadrado será 16.0

In [ ]:
##15) FAÇA UM PROGRAMA QUE LEIA O VALOR DE UM PRODUTO E IMPRIMA O VALOR COM DESCONTO, TENDO EM VISTA QUE O DESCONTO FOI DE 12%

In [ ]:
valor_original = float(input("O valor original do produto é: "))
valor_descontado = valor_original * 0.12
valor_com_desconto = valor_original * 0.88

O valor original do produto é: 100

In [ ]:
print(f"Com o desconto o valor do produto será {valor_com_desconto}")

Com o desconto o valor do produto será 88.0

##16) LEIA O SALÁRIO DE UM FUNCIONÁRIO. CALCULE E IMPRIMA O VALOR DO NOVO SALÁRIO,SABENDO QUE ELE RECEBEU UM AUMENTO DE 25%.

In [ ]:
salario_funcionario = float(input("O Salário do funcionario é:"))
novo_salario = salario_funcionario * 1.25 
print(f"Com o aumento, o funcionario passará a ganhar {novo_salario}")

O Salário do funcionario é:1000
Com o aumento, o funcionario passará a ganhar 1250.0

##17)  FAÇA UM PROGRAMA QUE LEIA O VALOR DA HORA DE TRABALHO (EM REAIS) E NUMERO DE HORAS TRABALHADAS NO MÊS. IMPRIMA O VALOR A SER PAGO AO FUNCIONÁRIO, 
#       ADICIONANDO 10% SOBRE O VALOR CALCULADO.

In [ ]:
valor_ganho_por_hora = float(input("O preço da hora deste funcionario é:"))
horas_trabalhadas = int(input("Considerando que ele trabalha:"))
salario_total = valor_ganho_por_hora * horas_trabalhadas 
print(f"O salário mensal dele é:{salario_total}")

O preço da hora deste funcionario é:50
Considerando que ele trabalha:160
O salário mensal dele é:8000.0

In [ ]:
print(f"Muito empenhado ele ganhou 10% de aumento então seu salário ficou {salario_total * 1.10}")

Muito empenhado ele ganhou 10% de aumento então seu salário ficou 8800.0

## 18) IMPLEMENTE UM PROGRAMA QUE CALCULE O ANO DE NASCIMENTO DE UMA PESSOA APARTIR DE SUA IDADE E DO ANO ATUAL.

In [ ]:

idade = int(input("Digite aqui quantos anos voce fez ou fará esse ano:"))
ano_atual = int(input("Certo, agora digite o ano em que voce se encontra: "))

Digite aqui quantos anos voce fez ou fará esse ano:21
Certo, agora digite o ano em que voce se encontra: 2021

In [ ]:
ano_nascimento = ano_atual - idade 
print(f"Voce nasceu em {ano_nascimento} !! Acertei ?")

Voce nasceu em 2000 !! Acertei ?

In [ ]:
## Uau incrivel !!

## 19)  ESCREVA UM PROGRAMA QUE LEIA AS COORDENADAS X E Y DE PONTOS NO R2 E CALCULE SUA DISTÂNCIA DA ORIGEM (0, 0).

In [ ]:
coordenada_x = int(input("digite a coordenada de x: "))
coordenada_y = int(input("digite a coordenada de y: "))

digite a coordenada de x: 10
digite a coordenada de y: 22

In [ ]:
# a distancia é a raiz quadrada de (xb-xa)^2 + (yb-ya), porém a origem (0,0), permite:
distancia_parte_1 = (coordenada_x * coordenada_x) + (coordenada_y * coordenada_y)

In [ ]:
import math

In [ ]:
math.sqrt(distancia_parte_1)

24.166091947189145

## 20)  RECEBA O SALARIO-BASE DE UM FUNCIONÁRIO. CALCULE E IMPRIMA O SALÃRIO A RECEBER,SABENDO-SE QUE ESSE FUNCIOÁRIO TEM UMA GRATIFICAÇÃO DE 5% SOBRE O 
#      SALÁRIO-BASE.ALÉM DISSO, ELE PAGA 7% DE IMPOSTO SOBRE O SALÁRIO-BASE

In [ ]:
#uma maneira é fazer a porcentagem como (x/100)

In [ ]:
salario_base = float(input("Digite seu salário base:"))
grat = salario_base * 1.05 
imposto = salario_base * 1.07

Digite seu salário base:1000

In [ ]:
salario_recebido = salario_base + grat - imposto
print(f"O salário final será de {salario_base + grat - imposto}")

O salário final será de 980.0

Nesse exercicio 20, eu tive duas interpretações, uma que os 7% de imposto deveria ser aplicado em cima do salário pós gratificação, e outra que o imposto é em cima do salário base.

In [ ]:
## Fim da primeira lista ! vamoooooooooooooooooo