<a href="https://colab.research.google.com/github/LeonardoHyppolito/Estudos/blob/main/Quarta_Lista_destravando_Programa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Nesta Quarta lista, a ideia é apresentar a ideia de coleções. Vamos ver as listas, as tuplas, e os dicionarios.

INTRODUÇÂO

LISTAS

In [ ]:
lista_de_mercado = ["leite", "pão", "arroz", "feijão"]
print(lista_de_mercado)
type(lista_de_mercado) # É legal notar que list também é um tipo de dados, assim como inteiros e floats.

['leite', 'pão', 'arroz', 'feijão']

list

In [ ]:
type([]) # OS colchetes vazios, ja são suficientes para python reconhecer que isto é um objeto do tipo lista.

list

In [ ]:
lista3  = list(range(11))
print(lista3) # Podemos usar o comando list, para criar uma lista, e podemos usar o conceito de range, que aprendemos na LISTA 3, para criar a lista.

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
nome = "Leonardo Hyppolito"
lista4 = list(nome) # Assim como no exemplo a cima utilizamos o range entre parenteses para ditar o tamanho da lista, podemos fazer o mesmo com uma variavel
                    # e no caso dessa variavel ser do tipo string, cada caractere da string, se transformará em um elemento da lista.
print(lista4)

['L', 'e', 'o', 'n', 'a', 'r', 'd', 'o', ' ', 'H', 'y', 'p', 'p', 'o', 'l', 'i', 't', 'o']

In [ ]:
lista4[0]      # Neste comando, estamos passando o indice, isto é, o elemento dentro da lista que buscamos dentro do colchetes.Logo, nesse exemplo, o computador irá 
                  # me retorna o primeiro item da lista (indice zero "L"), uma vez que python sempre começa a contar do zero.

'L'

In [ ]:
tamanho_lista = len(lista4)                   # Len, é a palavra reservada para descobrir o tamanho de alguma coisa.
print(f"O tamanho da lista é {tamanho_lista}")

O tamanho da lista é 18

In [ ]:
# Conferindo se um determinado valor, esta dentro de uma lista.
num = 4
print(lista3)
if (num in lista3):
  print("Esta na lista ")
else:
  print("Não esta na lista")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Esta na lista

In [ ]:
print(lista_de_mercado)
#Existe um comando em python para ordenar em ordem alfabética --> ".sort()" é a palavra reservada para este comando. 
lista_de_mercado.sort()
print(lista_de_mercado)
# Quando estamos utilizando algo que é pronto, como é o caso do "sort()", nós acessamos esse comando com um ponto.

['leite', 'pão', 'arroz', 'feijão']
['arroz', 'feijão', 'leite', 'pão']

In [ ]:
# Vamos supor que eu coloquei um nome duplicado em uma lista, como resolver ?
lista_de_aniversario = ["João", "maria", "joaquina","João", "Francisco"]
print(lista_de_aniversario)

['João', 'maria', 'joaquina', 'João', 'Francisco']

In [ ]:
#Contando quantas vezes um determinado valor aparece na lista 
print(lista_de_aniversario.count("João"))
# Se eu tivesse passado um joao com J maiusculo e um joao com j minusculo, dentro da lista, o count só teria encontrado 1 joao.

2

In [ ]:
lista_de_aniversario.append("Victor") # O metodo .append() adiciona um valor por vez na lista, na ultima posição.  
print(lista_de_aniversario)

['João', 'maria', 'joaquina', 'João', 'Francisco', 'Victor']

In [ ]:
lista_de_mercado.append("Chocolate")

In [ ]:
print(lista_de_mercado)

['arroz', 'feijão', 'leite', 'pão', 'Chocolate']

1) ESCREVA UM PROGRAMA PARA SOMAR TODOS OS ITENS EM UMA LISTA.

In [ ]:
lista_de_entrada = [1,2,3,4,5,6,7]
type(lista_de_entrada)

list

In [ ]:
soma = 0 
for i in (lista_de_entrada):
  soma = i + soma
print(f"A soma é {soma}")

A soma é 28

2) ESCREVA UM PROGRAMA PARA MULTIPLICAR TODOS OS ITENS DE UMA LISTA

*   Item da lista
*   Item da lista

In [ ]:
print(lista_de_entrada)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
multiplica = 1 # Aqui temos um problema de logica, pois quando optamos por zerar o multiplica, ele zera toda a operação, uma solução é colocar o 1. 
for i in lista_de_entrada:
  multiplica *= i                              # Pense: Qual o numero que sempre que eu multiplicar por ele, o resultado sera o valor multiplicado por ele ? 1
print(f"O resultado da multiplicação é {multiplica}")

O resultado da multiplicação é 5040

3) ESCREVA UM PROGRAMA PARA OBTER O MAIOR NÚMERO DE UMA L ISTA

In [ ]:
print(lista_de_entrada)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
maior_valor = max(lista_de_entrada) # O comando max(), é a solução para problemos que envolvam descobrir o maior número. 
print(f"O maior valor é {maior_valor}")

O maior valor é 7

4) ESCREVA UM PROGRAMA PARA OBTER O MENOR NÚMERO DE UMA L ISTA.

In [ ]:
minimo_valor = min(lista_de_entrada)  # O comando "min()" é a solução para problemas que envolvam descobrir o menor número. 
print(f"O menor valor da lista {minimo_valor}")

O menor valor da lista 1

5) ESCREVA UM PROGRAMA PARA REMOVER DUPLICATAS DE UMA LISTA.

---

In [ ]:
l = [1,1,2,2,3,3,4,5,6]
type(l)

list

In [ ]:
# Vamos utilizar os conjuntos (que é pouco utilizado), porém para fim  didático pode ser interessante. A palavra reservada para conjunto é a palavra "set" 
remove_duplicatas = set(l)   # Neste caso, o comando "set()" resolve bem o problema, pois ele transforma a lista em um conjunto (set), que por definição não pode 
print(remove_duplicatas)     # ter duplicatas.

{1, 2, 3, 4, 5, 6}

In [ ]:
type(remove_duplicatas) # Ao passar o "set", as duplicatas foram removidas, porém a variavel passou a ser do tipo set. Logo, vamos fazer com que volte a ser 
                        # do tipo list.

set

In [ ]:
lista_sem_duplicatas = list(remove_duplicatas)  # Interessante a idéia de ir "trocando" o nome da variável inicial, para resolver o problema.

In [ ]:
print(lista_sem_duplicatas)
type(lista_sem_duplicatas)

[1, 2, 3, 4, 5, 6]

list

6) ESCREVA UM PROGRAMA PARA COPIAR UMA LISTA PARA OUTRA.

In [ ]:
print(lista_de_aniversario)

['João', 'maria', 'joaquina', 'João', 'Francisco', 'Victor']

In [ ]:
# Para tirar um "xerox" em python, de uma lista utilizamos a palavra ".copy()"
lista_para_buffet = lista_de_aniversario.copy()
print(lista_para_buffet)

['João', 'maria', 'joaquina', 'João', 'Francisco', 'Victor']

In [ ]:
lista_para_mae = lista_para_buffet.copy()
print(lista_para_mae)

['João', 'maria', 'joaquina', 'João', 'Francisco', 'Victor']

#Aumentando o vocabulário

In [ ]:
lista_para_buffet.pop()
# Esse comando retorna o ultimo nome da lista, e o remove da lista: 
print(lista_para_buffet)

['João', 'maria', 'joaquina', 'João', 'Francisco']

In [ ]:
lista_do_irmao = ["paula", "joão", "andre"]
print(lista_do_irmao)

['paula', 'joão', 'andre']

In [ ]:
# Agora vamos somar a lista de convidados que eu criei, junto com a lista do meu irmao.
lista_total = lista_de_aniversario + lista_do_irmao
print(lista_total)

['João', 'maria', 'joaquina', 'João', 'Francisco', 'Victor', 'paula', 'joão', 'andre']

In [ ]:
# Podemos usar também, o ".extend", que faz a mesma coisa que o soma. 
lista_do_irmao.extend(lista_de_aniversario)
print(lista_de_aniversario)

['João', 'maria', 'joaquina', 'João', 'Francisco', 'Victor']

In [ ]:
# Podemos descobrir a posição de um valor, de uma dada lista. Para isso, utilizamos o comando "index()"
print(lista_de_aniversario.index("maria"))

1

7) ESCREVA UM PROGRAMA QUE RECEBA DUAS LISTAS E RETORNE TRUE SE ELAS TIVEREM PELO
MENOS UM ELEMENTO EM COMUM.

In [ ]:
lista1 = [1,2,3,4,5]
lista2 = [10,20,70,50,90]
print(lista1)
print(lista2)

[1, 2, 3, 4, 5]
[10, 20, 70, 50, 90]

In [ ]:
#Se precisamos descobrir os elementos incomum das duas listas, matematicamente estamos trabalhando a idéia de interseção. Existe um comando em 
#python que resolve este problema, "intersection()" porém para utiliza-lo é necessário que uma coleção seja do tipo conjunto. Logo, uma boa solução, é
#transformar uma lista em set, e aplicar o método.

In [ ]:
lista1_conjunto = set(lista1)
print(lista1)
type(lista1_conjunto)

[1, 2, 3, 4, 5]

set

In [ ]:
elementos_incomum = lista1_conjunto.intersection(lista2)
print(elementos_incomum)

set()

In [ ]:
if (elementos_incomum):
  print("True")
else: 
  print("False")

False

TUPLAS

In [ ]:
#As tuplas são imutáveis. São criadas com parenteses (). E para que python entenda que os valores dentro do parenteses seja uma tupla, faz-se necessário 
#ter mais de um valor dentro:

In [ ]:
tupla = (1,2,3)
print(tupla)
type(tupla)

(1, 2, 3)

tuple

In [ ]:
# Se colocarmos só um valor, ele retornará só o valor. 
tupla_nome = ("Léo")
print(tupla_nome)
type(tupla_nome)

Léo

str

In [ ]:
# A partir de 2 ele ja entende
tupla_2nome = ("Léo", "Victor")
print(tupla_2nome)
type(tupla_2nome)

('Léo', 'Victor')

tuple

In [ ]:
tupla_2 = tuple(range(11))
print(tupla_2)
type(tupla_2)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

tuple

In [ ]:
#FUNÇÕES
sum(tupla_2)     # "sum()",soma todos os valores de dentro da tupla. 
max(tupla_2)     # "max()", mostra o maior valor dentro da tupla. 
min(tupla_2)     # "min()", mostra o menor valor dentro da tupla. 
len(tupla_2)     # "len()", mostra o tamanho da tupla. 
10 in (tupla_2)  # para saber se o valor 10 esta na tupla. 
tupla_2.count(10)# ".count()", Para contar quantas vezes um valor aparece dentro da tupla.

1

In [ ]:
sum(tupla_2)  # "sum()",soma todos os valores de dentro da tupla.

55

In [ ]:
max(tupla_2)  # "max()", mostra o maior valor dentro da tupla.

10

In [ ]:
min(tupla_2)  # "min()", mostra o menor valor dentro da tupla.

0

In [ ]:
len(tupla_2)  # "len()", mostra o tamanho da tupla.

11

In [ ]:
10 in (tupla_2) # para saber se o valor 10 esta na tupla.

True

In [ ]:
tupla_2.count(10)# ".count()", Para contar quantas vezes um valor aparece dentro da tupla.

1

8) ESCREVA UM PROGRAMA PARA CRIAR UMA TUPLA

In [ ]:
tupla_a = tuple(range(10))
print(tupla_a)
type(tupla_a)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

tuple

9) ESCREVA UM PROGRAMA PARA CRIAR UMA TUPLA COM DIFERENTES TIPOS DE DADOS.

In [ ]:
criar_tupla_diferentes_tipos = (7,10,11,"Léo Hyppolito", True, [1,2,3,4]) # Note, que lista também é um tipo, e não tem problema nenhum adiciona-la dentro
type(criar_tupla_diferentes_tipos)                                         #dentro da tupla

tuple

In [ ]:
#Podemos acessar a lista dentro da tupla
criar_tupla_diferentes_tipos[5]

[1, 2, 3, 4]

In [ ]:
#Ou até mesmo um dos elementos da lista, que esta dentro da tupla. 
criar_tupla_diferentes_tipos[5][2]

3

10) ESCREVA UM PROGRAMA PARA CRIAR UMA TUPLA COM NÚMEROS E IMPRIMIR UM ITEM.

In [ ]:
tupla_numerica = (1,2,3,4,5,6)
print(tupla_numerica)

(1, 2, 3, 4, 5, 6)

In [ ]:
#Para acessar um item, isto é, um elemento desta tupla, utilizamos os colchetes [], e dentro dos colchetes o numero do indice 
# sempre bom lembrar que começamos a contar do ZEROOOO.

In [ ]:
tupla_numerica[2]

3

In [ ]:
# Importante ter o cuidado para não confundir o tamanho da lista com o indice 
len(tupla_numerica)

6

In [ ]:
tupla_numerica[6] #Isso vai gerar um erro, justamente pois começamos a contar do zero. Logo, se colocarmos o valor que o "len()" nos retorna como índice 
                  # para acessar um valor, o computador irá nos dar um erro, pois nesta tupla não existe um elemento de indice 6.

6

11) ESCREVA UM PROGRAMA PARA ADICIONAR UM ITEM EM UMA TUPLA.

---

In [ ]:
# Tuplas são imutaveis, então pode parecer meio confuso este exercicio. Não podemos utilizar métodos como o .append, mas podemos "driblar", isso somando 
#duas tuplas. Neste caso, podemos definir a tupla_mutavel como a soma da tupla mutável com uma tupla (4, ) e assim o 4 aparecerá no final da lista
# a virgula é  essencial para funcionar.
tupla_mutavel = (1,2,3)
print(tupla_mutavel)

(1, 2, 3)

In [ ]:
tupla_mutavel = tupla_mutavel + (4, )
print(tupla_mutavel)

(1, 2, 3, 4)

12) ESCREVA UM PROGRAMA PARA OBTER O 4º ELEMENTO E O ÚLTIMO DE UMA TUPLA

In [ ]:
tupla_nova = ()
type(tupla_nova)

tuple

In [ ]:
tupla_nova = (2,4,7,10,11,8,77)
#O exercicio pede o 4° elemento, isto é, o elemento de índice 3, e o ultimo elemento de uma tupla. Para acharmos o ultimo elemento, podemos
#Adotar a estratégia de utilizar o comando "len()" - 1, uma vez que o len retorna o tamanho, que é o mesmo que o valor de maior + 1.

In [ ]:
tupla_nova[3]

10

In [ ]:
tamanho_tupla = len(tupla_nova) - 1

In [ ]:
print(tupla_nova[3])
print(tupla_nova[tamanho_tupla])

10
77

13) ESCREVA UM PROGRAMA PARA ENCONTRAR OS ITENS REPETIDOS DE UMA TUPLA

In [ ]:
# Utilizando a estratégia de transformar tupla, em set, para remover os itens repetidos. 
tupla_verdadeira = (1,2,3,4,5,6,7)
print(tupla_verdadeira)
type(tupla_verdadeira)

(1, 2, 3, 4, 5, 6, 7)

tuple

In [ ]:
#Agora criamos uma variável, transformando a tupla em set. 
tupla_transformada_em_set = set(tupla_verdadeira)
print(tupla_transformada_em_set)
type(tupla_transformada_em_set)

{1, 2, 3, 4, 5, 6, 7}

set

In [ ]:
# Se considerarmos que a solução do problema é identificar se a coleção tem itens repetidos, então podemos comparar o tamanho da tupla, com o tamanho do set
# Uma vez que set não aceita itens repetidos, se as duas coleções tiverem o mesmo tamanho (len), então a coleção não possui itens repetidos. 
if len(tupla_verdadeira) != len(tupla_transformada_em_set):
  print("Sim, existe  itens repetidos")
else: 
  print("Não existe itens repetidos")

Não existe itens repetidos

14) ESCREVA UM PROGRAMA PARA CONVERTER UMA LISTA EM UMA TUPLA

In [ ]:
lista_original = [1,2,3,4,5]
print(lista_original)
type(lista_original)

[1, 2, 3, 4, 5]

list

In [ ]:
transforma_lista_em_tupla = tuple(lista_original)
print(transforma_lista_em_tupla)
type(transforma_lista_em_tupla)

(1, 2, 3, 4, 5)

tuple

DICIONÁRIOS

In [ ]:
# Definimos o dicionário com chaves {}. 
# A estrutura de um dicionário é definida por chave e valor. 
# Minha primeira impressão, é que esta estrutura é muito útil, pois podemos fazer associações.

In [ ]:
#Criando um dicionário 
estado_sigla = {"Rio de Janeiro": "RJ", "Minas Gerais": "MG", "São Paulo": "SP"}
print(estado_sigla)
type(estado_sigla)

{'Rio de Janeiro': 'RJ', 'Minas Gerais': 'MG', 'São Paulo': 'SP'}

dict

In [ ]:
# Podemos acessar o valor de uma chave, utilizando os [], assim como acessamos os índices de uma lista. 
print(estado_sigla["Rio de Janeiro"])
# Isso pode ser muuuuuuuito interessante.

RJ

In [ ]:
# Podemos conferir se uma chave existe no dicionário. 
"Minas Gerais" in estado_sigla

True

15) ESCREVA UM PROGRAMA PARA ADICIONAR UMA CHAVE A UM DICIONÁRIO.

In [ ]:
# Existe um  comando chamado "update" que resolve este problema, a idéia é atualizar o dicionário. Importante passar a chave e o valor a serem adicionados 
#entre chaves "{}"
estado_sigla.update({"Rio Grande Do Sul": "RS"})
print(estado_sigla)

{'Rio de Janeiro': 'RJ', 'Minas Gerais': 'MG', 'São Paulo': 'SP', 'Rio Grande Do Sul': 'RS'}

16) CRIE DOIS DICIONÁRIOS DIFERENTES E CONCATENE PARA CRIAR UM NOVO.

In [ ]:
dicionario1 = {"Arroz": 25.50, "Feijão": 10, "Farofa": 2.80}
dicionario2 = {"Creme de leite": 2, "Leite condensado": 4.50, "Doce de leite": "8"}
print(dicionario1)
print(dicionario2)
type(dicionario1)
type(dicionario2)

{'Arroz': 25.5, 'Feijão': 10, 'Farofa': 2.8}
{'Creme de leite': 2, 'Leite condensado': 4.5, 'Doce de leite': '8'}

dict

In [ ]:
# Podemos Utilizar o update para resolver, passamos um dicionario como base, e entre parenteses um dicionário a ser adicionado. Como as duas variaveis 
# são do tipo dict, não precisamos passar as chaves dentro do parenteses. 
dicionario1.update(dicionario2)
print(dicionario1)

{'Arroz': 25.5, 'Feijão': 10, 'Farofa': 2.8, 'Creme de leite': 2, 'Leite condensado': 4.5, 'Doce de leite': '8'}

In [ ]:
# Legal a idéia de poder concatenar diversos dicionarios, criando um só.

17) ESCREVA UM PROGRAMA PARA VERI FICAR SE UMA DETERMINADA CHAVE JÁ EXISTE EM UM
DICIONÁRIO.

In [ ]:
verificar_chave = input("Digite uma chave: ")

Digite uma chave: miojo

In [ ]:
if verificar_chave in dicionario1:
  print("Esta chave existe no dicionário")
else: 
  print("Chave Inexistente")

Chave Inexistente

18) ESCREVA UM PROGRAMA PARA ITERAR SOBRE DICIONÁRIOS USANDO LOOPS FOR.

In [ ]:
dicionario_novo = {"cor": "verde", "Fruta": "banana", "time": "vasco"}
print(dicionario_novo)

{'cor': 'verde', 'Fruta': 'banana', 'time': 'vasco'}

In [ ]:
# Se eu passar um "for i in dicionario_novo" print i, por definição ele retornará a chave. 
for i in dicionario_novo:
  print(i)

cor
Fruta
time

In [ ]:
for i in dicionario_novo:                         # Sem esse laço de repetição, o computador retornou só o valor da ultima chave. 
  print(f"{i} : {dicionario_novo[i]}")

cor : verde
Fruta : banana
time : vasco

19) ESCREVA UM PROGRAMA PARA MULTIPLICAR TODOS OS ITENS EM UM DICIONÁRIO.

In [ ]:
dicionario_mult = {"A": 2, "B": 3, "C": 4}
print(dicionario_mult)

{'A': 2, 'B': 3, 'C': 4}

In [ ]:
# Vamos multiplicar os valores do dicionario
for i in dicionario_mult:
  print(i)

A
B
C

In [ ]:
multiplica = 1 
for i in dicionario_mult:
  print(dicionario_mult[i])  # Note, se passarmos somente o i, no print, o computador retorna as chaves. Se passarmos o nome do dicionário, e o i em
  multiplica *= dicionario_mult[i]     # colchetes, o computador me retorna os valores. 
print(multiplica)

2
3
4
24

20) ESCREVA UM PROGRAMA PARA REMOVER UMA CHAVE DE UM DICIONÁRIO

In [ ]:
ultimo_dicionario = {'Rio de Janeiro': 'RJ', 'Minas Gerais': 'MG', 'São Paulo': 'SP', 'Rio Grande Do Sul': 'RS'}
print(ultimo_dicionario)

{'Rio de Janeiro': 'RJ', 'Minas Gerais': 'MG', 'São Paulo': 'SP', 'Rio Grande Do Sul': 'RS'}

In [ ]:
for i in ultimo_dicionario:
  print(i)

Rio de Janeiro
Minas Gerais
São Paulo
Rio Grande Do Sul

In [ ]:
# Para resolver este problema, podemos utilizar o mesmo comando pop que utilizamos em listas. Ele removerá o que colocarmos no parenteses, e irá retornar
#O item removido
ultimo_dicionario.pop("Rio de Janeiro", None)

'RJ'

In [ ]:
print(ultimo_dicionario)

{'Minas Gerais': 'MG', 'São Paulo': 'SP', 'Rio Grande Do Sul': 'RS'}

In [ ]:
#Outra maneira, é utilizar o comando del 
del ultimo_dicionario['Rio Grande Do Sul']

KeyError: ignored

In [ ]:
print(ultimo_dicionario)

{'Minas Gerais': 'MG'}