<a href="https://colab.research.google.com/github/LeonardoHyppolito/Estudos/blob/main/Quinta_Lista_Destravando_Programa%C3%A7%C3%A3o.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Última lista, do capítulo destravando programação. Agora, a ideia é entender as funções.

In [1]:
# Para definirmos uma função, para a linguagem python utilizamos a palavra reservada "def", isto é, a partir deste momento estamos definindo uma função. 
def soma(valor_a,valor_b):            # Dentro dos colchetes, colocamos os parâmetros. 
  soma = valor_a + valor_b            # Aqui criamos uma variável chamada soma, que é diferente da "soma" de cima, pois a de cima esta definida como função.
  return soma                         # É necessário utilizar o return, para o python retornar o valor pra gente.

In [ ]:
soma(56,8)  # Aqui basicamente estamos chamando a função soma, onde o 56 vai assumir o valor_a, e o 8 vai assumir o valor_b, então o computador vai fazer a 
            # soma, salvar na variável soma, e retornar o valor salvo nesta variável.

64

In [ ]:
# Existe outra maneira, de realizar uma função, que é utilizando o "return" direto, sem precisar salvar em uma nova variável. 
def multiplicacao(a, b, c):
  return a * b * c

In [ ]:
multiplicacao(1, 2, 3)     # Isto é, colocamos a operação a ser feita direto na frente do return, e o computador ja vai entender que a ideia da função é
                           # multiplicar o primeiro parâmetro, pelo segundo, e pelo terceiro.

6

Exercícios

1) CRIE UMA FUNÇÃO QUE ACEITA DOIS ARGUMENTOS (NOME E IDADE) E IMPRIMIR SEU VALOR

In [ ]:
def nome_idadee(nome, idade):
  return (f"O nome é {nome} e a idade é {idade}")           # Aqui poderia ter usado o print, mas é aconselhável que utilizemos o "return".
                                                            # basicamente, eu disse para o computador que o {nome}, é o nome (primeiro parâmetro da função)
                                                            #e que a {idade} é o segundo parâmetro da função. Logo, quando eu chamar a função, e der os 
                                                            #parâmetros o computador vai entender que o primeiro parâmetro será o nome e o segundo a idade.

In [ ]:
nome_idadee("Léo", 21)

'O nome é Léo e a idade é 21'

In [ ]:
nome_idadee("Marcos", 40)    
# Desse modo, o usuário não precisará ficar inputando o nome e a idade, basta chamar a função.

'O nome é Marcos e a idade é 40'

In [ ]:
type(nome_idadee)             # Type também reconhece funções.

function

2) ESCREVA UMA FUNÇÃO DE FORMA QUE ELA POSSA ACEITAR UM TAMANHO VARIÁVEL DE
ARGUMENTO E IMPRIMIR TODOS OS VALORES DOS ARGUMENTOS.

In [ ]:
# Resolve-se esse problema criando uma função, que podemos variar a quantidade de parâmetros, e para isso utilizamos o comando *args:
def parametros_variaveis(*args): #(20,30,40,50,60)
  for i in args:                 # Aqui não precisamos utilizar o *. O i, percorrerá todos os argumentos, nesse caso, printando-os.
    print(i)

In [ ]:
parametros_variaveis(20,30,40,50,60)

20
30
40
50
60

In [ ]:
parametros_variaveis(20,30)

20
30

In [ ]:
parametros_variaveis(20)

20

3) ESCREVA UMA FUNÇÃO () QUE POSSA ACEITAR DUAS VARIÁVEIS E CALCULE A ADIÇÃO E
SUBTRAÇÃO DELAS. E TAMBÉM DEVE RETORNAR ADIÇÃO E SUBTRAÇÃO EM UMA ÚNICA
CHAMADA DE RETORNO

In [ ]:
def soma_sub(a, b):
  return a + b, a - b

In [ ]:
soma_sub(10, 5)

(15, 5)

In [ ]:
# A primeira parte do exercicio, esta resolvida. Note, que o computador retorna o resultado em uma tupla (15,5), isso nos permite salvar o resultado
#Em variáveis, utlizando a virgula, onde a primeira variavel será o primeiro valor da tupla, a segunda variável irá assumir o segundo valor da tupla e assim
#Por diante....

In [ ]:
soma , sub , = soma_sub(10, 5)

In [ ]:
print(soma)
print(sub)               # Com isso concluimos o exercício, visto que o print nos mostra que cada um dos resultados estão armazenados em diferentes variaveis.

15
5

4) CRIE UMA FUNÇÃO QUE ACEITE O NOME DO FUNCIONÁRIO E SEU SALÁRIO E EXIBA AMBOS. SE
O SALÁRIO ESTIVER FAL TANDO NA CHAMADA DE FUNÇÃO, ATRIBUA O VALOR PADRÃO 1000 AO
SALÁRIO.

In [ ]:
def nome_salario(nome, salario = 1000):
  return(nome, salario)

In [ ]:
nome_salario("Léo", 1500)

('Léo', 1500)

In [ ]:
# Até aqui é bem simples, o problema está, em definir um padrão, para o caso de passarmos o parâmetro salario vazio. Pois, com a função escrita:
# "nome_salario(nome, salario):", como estava ate agora, a situação de não passar um parâmetro salario iria retornar um erro. Em python, podemos resolver
# este problema, escrevendo "nome_salario"(nome,salario = 1000). Com isso, sempre que passarmos um parâmetro != de 1000, ele retornará o parâmetro escolhido
# Mas, no caso de não passarmos um parâmetro salario, ele considerará o salario = 1000.

In [ ]:
nome_salario("Léo", )

('Léo', 1000)

5) ESCREVA UMA FUNÇÃO RECURSIVA PARA CALCULAR A SOMA DOS NÚMEROS DE 0 A 10

In [ ]:
# Uma função recusriva é uma função que chama ela mesma. Isto é dentro da função, eu posso chamar ela mesma. 
def calcula_soma(num):
  if (num):
    print(num)
    return num + calcula_soma(num - 1)
  else:
    return 0

In [ ]:
resultado = calcula_soma(10)

10
9
8
7
6
5
4
3
2
1

In [ ]:
print(resultado)

55

6) ESCREVA UMA FUNÇÃO E QUANDO FOR USÁ- LA CHAME POR UM NOVO NOME.

In [ ]:
def primeiro_nome(a, b):
  return(a, b)

In [ ]:
nome_novo = primeiro_nome

In [ ]:
nome_novo(10,5)

(10, 5)

In [ ]:
type(nome_novo)

function

In [ ]:
# Muito interessante isso, pois podemos mudar a identidade da função, manter a da original e ir trabalhando e resolvendo um leque maior de problemas
# e de complexidade dos problemas.

7) CRIE UMA FUNÇÃO QUE RECEBE COMO PARÂMETRO UM NÚMERO INTEIRO E DEVOLVE O SEU
DOBRO.

In [ ]:
def dobra_inteiro(x):
  return(2 * x)

In [ ]:
dobra_inteiro(20)

40

8) FAÇA UMA FUNÇÃO PARA VERIFICAR SE UM NÚMERO É POSITIVO OU NEGATIVO. SENDO QUE O
VALOR DE RETORNO SERA 1 SE POSITIVO, -1 SE NEGAT IVO E 0 SE FOR IGUAL A 0.

In [ ]:
def pos_neg(y):
  if (y > 0):
    return 1
  elif (y < 0):
    return -1
  else:
    return 0

In [ ]:
pos_neg(10)

1

In [ ]:
pos_neg(-5)

-1

In [ ]:
pos_neg(0)

0

9) FAÇA UMA FUNÇÃO QUE RECEBA DOIS NÚMEROS E RETORNE QUAL DELES É O MAIOR.

In [ ]:
def maior_menor(d, f):
  if (d > f):
    return (f"O maior é {d}")
  elif (d==f):
    return (f"São iguais")
  else:
    return (f"O maior é {f}")

In [ ]:
maior_menor(10,10)

'São iguais'

In [ ]:
maior_menor(10,20)

'O maior é 20'

10) ELABORE UMA FUNÇÃOO QUE RECEBA TRÊS NOTAS DE UM ALUNO COMO PARÂMETROS E UMA
LETRA. SE A LETRA FOR A, A FUNÇÃO DEVERÁ CALCULAR A MÉDIA ARITMÉTICA DAS NOTAS DO
ALUNO; SE FOR P, DEVERÁ CALCULAR A MÉDIA PONDERADA, COM PESOS 5, 3 E 2.

In [ ]:
def media_aluno(nota1, nota2, nota3, letra):
  if (letra == "A"):
    return (nota1 + nota2 + nota3) / 3 
  elif (letra == "P"):
    return ((nota1 * 5) + (nota2 * 3) + (nota3 * 2)) / 10 
  else: 
    return(f"A letra inserida esta errada")

In [ ]:
media_aluno(7,4,5,"A")

5.333333333333333

In [ ]:
media_aluno(5,6,7,"P")

5.7

In [ ]:
media_aluno(7,4,5,"G")

'A letra inserida esta errada'

11) FAÇA UMA FUNÇÃO QUE RECEBA DOIS NÚMEROS INTEIROS POSITIVOS POR PARÂMETRO E
RETORNE A SOMA DOS N NUMEROS INTEIROS EXISTENTES ENTRE ELES.

In [ ]:
# Vou considerar que o exercício que a soma, dos valores entre os dois parâmetros, sem incluir o valor dos parâmetros na soma.

In [ ]:
#ERRADO
def soma_dos_n(valor1, valor2):
  for i in range(valor1 , valor2 + 1):
    print(i)
    soma = 0 
    soma += i 
    return soma 
    # travei aqui, consigo printar, os valores existentes entre os dois numeros, mas não consigo somar um com o outro. 
    #pois quando eu coloco a soma, ele da erro.

In [ ]:
soma_dos_n(1,5)

2
3
4

In [ ]:
# Agora vou ver o jeito do meu professor, e entender o que estava faltando no meu raciocinio.

In [ ]:
def soma_entre_inteiros(valor_a, valor_b):
  soma = 0 
  for i in range(valor_a, valor_b + 1):
    soma += i 
  return soma
# O QUE ESTAVA ERRADO ? 1. A variavel soma não podia estar fora da função. 2. A variavel soma não poderia estar zerada, dentro do laço de repetição FOR
# isso pois, se estivesse o laço de repetição ia fazer com que a soma fosse igual a zero em todos inicios de laços. 3. o return também não poderia
#estar dentro do laço de repetição, pois nesse caso, teriamos "varios returns", o que não funciona.

In [ ]:
soma_entre_inteiros(1, 5)

15

12) FAÇA UMA FUNÇÃO QUE RECEBA A ALTURA E O RAIO DE UM CILINDRO CIRCULAR E RETORNE
O VOLUME DO CILINDRO. O VOLUME DE UM CILINDRO CIRCULAR E CALCULADO POR MEIO DA
SEGUINTE FÓRMULA: V = Π ∗ RAIO2 ∗ AL TURA, ONDE Π = 3.141592.

In [ ]:
def altura_raio(altura, raio):
  pi = 3.14
  volume = pi * (raio ** 2) * altura
  return (f"O volume deste cilindro é {volume}")

In [ ]:
altura_raio(2, 3)

'O volume deste cilindro é 56.52'

13) ESCREVA UMA FUNÇÃO QUE RECEBE UM NÚMERO REAL COMO ARGUMENTO E RETORNA O
VALOR ABSOLUTO DESSE NÚMERO.

In [ ]:
def recebe_real(x):
  converte = x * (-1)
  if (x >= 0):
    return (f"O valor absoluto deste numero é {x}") 
  else:
    return (f"O valor absoluto deste numero é {converte}")

In [ ]:
recebe_real(8)

'O valor absoluto deste numero é 8'

In [ ]:
recebe_real(-8)

'O valor absoluto deste numero é 8'

In [ ]:
recebe_real(0)

'O valor absoluto deste numero é 0'

14) ESCREVA UMA FUNÇÃO QUE RECEBA DOIS NÚMERO INTEIRO (N E P) COMO ARGUMENTO E
RETORNA N ELEVADO A P SE N FOR MAIOR QUE P, CASO CONTRÁRIO RETORNE A RAIZ QUADRADA
DE N.

In [ ]:
def function_np(numero_n, numero_p):
  if (numero_n > numero_p):
    return numero_n ** numero_p
  elif (numero_p > numero_n):
    return numero_n ** 0.5        # A raiz quadrada de um numero = este numero elevado a 1/2
  else:
    return("Os numeros são iguais")

In [ ]:
function_np(2,2)

'Os numeros são iguais'

In [ ]:
function_np(4,2)

16

In [ ]:
function_np(2,4)

1.4142135623730951

15) ESCREVA UMA FUNÇÃO PARA SOMAR TODOS OS NÚMEROS EM UMA LISTA.

In [ ]:
# Jeito que eu fiz 
def soma_lista(a,b,c,d,e):
  lista = [a,b,c,d,e]
  soma = a + b + c + d + e
  return soma

In [ ]:
soma_lista(1,2,3,4,5)

15

In [ ]:
#Jeito do professor

In [ ]:
lista_parametro = [1,2,3,4,5]

In [ ]:
def soma_dos_elementos(lista_qualquer):     # Note que aqui, podemos escrever no parâmetro, algo mais intuitivo, bom para o leitor/usuário. 
  soma = 0
  for i in lista_parametro:
    soma += i 
  return soma

In [ ]:
soma_dos_elementos(lista_parametro)        # E aqui, chamamos uma lista, ja definida e então a função irá funcionar em cima dela, da maneira que pedimos. 
                                           # Neste exercicio, o funcionamento da função da-se-por somar todos os itens da lista.

15

16) ESCREVA UMA FUNÇÃO PARA MULTIPLICAR TODOS OS NÚMEROS EM UMA L ISTA

In [ ]:
def multiplica_elementos_lista(lista_qualquer):
  multiplica = 1 
  for i in lista_parametro:
    multiplica *= i 
  return multiplica

In [ ]:
multiplica_elementos_lista(lista_parametro)

120

17) ESCREVA UMA FUNÇÃO PARA VERIFICAR SE UM NÚMERO ESTÁ EM UM DETERMINADO
INTERVALO.

In [ ]:
def verifica_intervalo(valor, inicio, fim):
  if valor in range(inicio, fim + 1):
    return(f"O numero {valor} esta no intervalo ")
  else:
    return("Este numero não esta no intervalo")

In [ ]:
verifica_intervalo(8,0,100)

'O numero 8 esta no intervalo '

18) ESCREVA UM PROGRAMA PARA IMPRIMIR OS NÚMEROS PARES DE UMA DETERMINADA LISTA

In [ ]:
def imprime_par_da_lista(qualquer_lista):
  lista_resultado = [] # Não tinha pensado na possibilidade de criar uma lista, para armazenar o resultado. Isso resolve o problema. 
  for i in (qualquer_lista):   # Logo, para os valores de uma lista parâmetro.
    if (i % 2 == 0):           # Caso o i for par 
      lista_resultado.append(i) # Adicione este i, a lista de resultado. 
  return lista_resultado        # E por fim, retorne a lista com os resultados, neste caso, os "i" pares.

In [ ]:
lista_par = [1,2,3,4,5,6,7,8,9,10]

In [ ]:
imprime_par_da_lista(lista_par)

[2, 4, 6, 8, 10]

19) ESCREVA UMA FUNÇÃO PARA CRIAR E IMPRIMIR UMA LISTA ONDE OS VALORES SÃO
QUADRADOS DE NÚMEROS ENTRE 1 E 30 (AMBOS INCLUÍDOS).

In [ ]:
def imprime_quadrados(lista5):
  lista_quadrados = []
  for i in range(1, 30 + 1 , 1):
    i = i ** 2 
    lista_quadrados.append(i)
  return  print(lista_quadrados)

In [ ]:
lista5 = []

In [ ]:
imprime_quadrados(lista5)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900]

20) ESCREVA UM PROGRAMA PARA DETECTAR O NÚMERO DE VARIÁVEIS LOCAIS DECLARADAS
EM UMA FUNÇÃO

In [ ]:
# Para resolver este problema, precisamos utilizar um método, "nome_função.__code__.co_nlocals)". Este método, irá contar e retornar o numero de variaveis locais 
# que existem dentro da função escrita.

In [ ]:
def detectar_numero_variaveis(): 
  soma = 20
  contador = 40 
  subtração = 50

In [ ]:
print(detectar_numero_variaveis.__code__.co_nlocals)

3

# Vamos entender a diferença entre uma variável global, e uma variável local !

In [ ]:
soma = 10

In [ ]:
print(soma)

10

In [ ]:
def multiplica(x,y):
  return x * y + soma

In [ ]:
multiplica (8,2)

26

In [ ]:
# Note que, mesmo que tenhamos definido a variável soma, fora da minha função, a função a reconhece. Fato esse, comprova que a variável soma 
# é uma variável Global, isto é, uma variável que é reconhecida por todo o meu código.

In [ ]:
# Agora observe este exemplo 
def sub(x,y):
  contador = 10
  return x - y

In [ ]:
sub(8,2)

6

In [ ]:
# Note que deu tudo certo, criamos uma variável local(contador), isto é, localizada dentro da função. Porém, o importante disso é que se na linha de código 
# abaixo eu chamar essa variável contador, o computador irá retornar um erro, dizendo que a variavel contador não foi definida ainda. 
# Em suma, as variáveis que foram criadas fora da função, podem ser aplicadas dentro da mesma. Noutro viés, se criarmos uma variável dentro 
# de uma função, e tentarmos utiliza-la do lado de fora, não funcionará.

In [ ]:
# Isso irá retornar um erro 
print(contador)

FIM do capítulo destravando programação ! Só progresso